{% if active_filters_description is not empty %}
    <div class="active-filters">
        <h6 class="active-filters__title">Active search filters:</h6>
        <dl>
            {% for active_filter_description in active_filters_description %}
                <dt>{{ active_filter_description.name }}:</dt>
                <dd>{{ active_filter_description.description }}</dd>
            {% endfor %}
        </dl>
    </div>
{% endif %}
