@use "../base" as *
@use "../mixins" as m

.icon
	display: inline-block
	vertical-align: text-top

.btn
	position: relative
	display: inline-block
	vertical-align: middle
	border: .125rem solid $color__ui
	border-radius: .25rem
	padding: .125rem .5rem
	color: $white
	background-color: $color__ui
	margin: .5rem .5rem .5rem 0
	max-width: 100%
	+m.text-overflow
	font-size: 1rem
	line-height: 1.5rem
	text-decoration: none
	cursor: pointer
	text-align: center
	min-width: 2rem
	min-height: 2rem
	&:visited
		color: $white
	&:hover, &:focus, &:active, &.active
		color: $color__ui
		border-color: $color__ui
		background-color: $white
	.icon
		display: inline-block
		vertical-align: middle
		float: left
		margin-right: .5rem
		width: 1rem
	&--primary
		border-color: $color__action
		background-color: $color__action
		&:hover, &:focus, &:active
			color: $color__action
			border-color: $color__action
			background-color: $white
	&--large
		padding: .75rem 1rem
		min-width: 3rem
		min-height: 3rem
		.icon
			margin-right: 1rem
			width: 1.5rem
			height: 1.5rem
	&--rounded, &--resp
		font-size: 0
		line-height: 0
		border-radius: 100%
		.icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			margin: 0
	&[disabled]
		color: $color__ui--25
		border-color: $color__ui--25
		background-color: $white
		cursor: default

.link
	position: relative
	display: inline-block
	vertical-align: middle
	color: $color__ui
	margin: .25rem .5rem .25rem 0
	font-size: 1rem
	line-height: 1.5rem
	text-decoration: underline
	cursor: pointer
	font-weight: 300
	&:visited
		color: $color__ui
	&:hover, &:focus, &:active
		color: $color__ui--75
	.icon
		float: left
		margin-right: .25rem
		width: 1rem
	&--primary
		color: $color__action
		&:visited
			color: $color__action
		&:hover, &:focus, &:active
			color: $color__action--50
	&--large
		font-size: 1.125rem
		line-height: 1.5rem
		.icon
			margin-right: .5rem
			width: 1.5rem
			height: 1.5rem
	&[disabled]
		color: $color__ui--25
		text-decoration: none
		border-color: transparent
		background-color: transparent
		cursor: default

// .iconz
// 	span
// 		padding-left: .5rem
// 	&:before
// 		position: relative
// 		content: ""
// 		display: inline-block
// 		vertical-align: middle
// 	&-resp
// 		span
// 			display: none
// 	&-back:before
// 		+get-sprite($back, $back-retina)
// 	&-gears:before
// 		+get-sprite($gears, $gears-retina)
// 	&-trash:before
// 		+get-sprite($trash, $trash-retina)
// 	&-plus:before
// 		+get-sprite($plus, $plus-retina)
// 	&-view:before
// 		+get-sprite($view, $view-retina)
// 	&-copy:before
// 		+get-sprite($copy, $copy-retina)
// 	&-edit:before
// 		+get-sprite($edit, $edit-retina)
// 	&-save:before
// 		+get-sprite($save, $save-retina)
// 	&-close:before
// 		+get-sprite($close, $close-retina)
//
// @media #{$mobile}
// 	.icon-resp span
// 		display: inline-block

@media #{$phablet}
	.btn--resp
		font-size: 1rem
		line-height: 1.5rem
		border-radius: .25rem
		.icon
			position: relative
			top: auto
			left: auto
			transform: none
			margin: 0 .5rem 0 0
