@use "../base" as *
@use "../mixins" as m

img
	display: inline-block
	border: none

figure
	position: relative
	width: 100%
	margin: 0
	margin-bottom: 1rem
	img
		display: block
		max-width: 100%
		height: auto
		border: none
	figcaption
		margin-top: .25rem
		+fs(14)

audio, video, iframe
	margin-bottom: 1rem

.embed-wrapper
	position: relative
	padding: 0 0 56.25% 0 // 16:9
	height: 0
	object, embed, iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border: 0

// .header
// 	border-bottom: .0625rem solid $color__ui--25

.title
	+fs(18)
	margin: 0
	&--header
		+fs(32)
		display: inline-block
		vertical-align: middle
		margin: 0 1rem 0 0

.icon
	width: 24px
	height: 24px
	stroke: $white
	stroke: currentColor
	stroke-width: 2
	stroke-linecap: round
	stroke-linejoin: round
	fill: none

.checkered
	background-image: url('../img/checkered.png')
	background-size: .5rem .5rem
