@use "../base" as *
@use "../mixins" as m

.msg
	position: relative
	padding: 1rem 3rem 1rem 3.5rem
	color: $color__ui
	background: $color__ui--5
	box-shadow: 0 3px 0 0 $color__ui--50
	margin-left: -1rem
	margin-right: -1rem
	&:first-child
		margin-top: #{-1rem}
	.icon
		display: block
		position: absolute
		top: 50%
		left: 1rem
		transform: translateY(-50%)
	.close
		display: block
		position: absolute
		top: 50%
		right: 1rem
		font-size: 1.5rem
		line-height: 1rem
		color: inherit
		border: none
		transform: translateY(-50%)
		&:hover, &:focus
			cursor: pointer
	a
		color: inherit
		&:hover
			text-decoration: none
	&--error
		background: $color__error
		color: $white
		box-shadow: 0 3px 0 0 $color__error--50
		a
			border-bottom: 2px dotted $color__error
			&:hover, &:focus
				border-bottom: 2px solid $color__error
	&--warning
		background: $color__warning
		box-shadow: 0 3px 0 0 $color__warning--50
		a
			border-bottom: 2px dotted $color__warning
			&:hover, &:focus
				border-bottom: 2px solid $color__warning
	&--success
		background: $color__success
		box-shadow: 0 3px 0 0 $color__success--50
		a
			border-bottom: 2px dotted $color__success
			&:hover, &:focus
				border-bottom: 2px solid $color__success

.i18n-switch
	position: relative
	list-style-type: none
	margin: 0
	padding: .25rem 0
	li
		display: inline-block
		vertical-align: top
		margin: 0 .25rem 0 0
	button
		display: block
		width: 2rem
		height: 2rem
		text-align: center
		border-radius: 100%
		border-width: .0625rem
		border-style: solid
		font-size: .875rem
		line-height: 1.75rem
		padding: 0
		background-color: $color__ui
		color: $white
		border-color: $white
		cursor: pointer
		&:hover, &:focus, &:disabled
			border-color: $color__ui--75
			background-color: $color__ui--75
		&.active
			background-color: $white
			color: $color__ui
			border-color: $white
		&:disabled
			cursor: default

.pagination
	background-color: $color__ui--5
	+m.clearfix
	clear: both
	margin-right: -1rem
	margin-left: -1rem
	text-align: center
	padding: 1rem
.pager-list
	font-size: 0
	display: inline-block
	vertical-align: middle
	margin: 0
	li
		display: inline-block
		vertical-align: middle
		text-align: center
		font-size: 1rem
		width: 1.75rem
		margin: .125rem
	a, span
		display: block
		width: 1.75rem
		height: 1.75rem
		border-radius: 100%
		line-height: 1.75rem
	span
		color: $white
		background-color: $color__ui
	a
		color: $medium
		text-decoration: none
		background-color: $white
		&:hover
			color: $white
			background-color: $color__action
	select
		display: inline-block
		background: transparent
		border: none
		padding: 0
		min-width: 0
		min-height: 0
		width: 1.25rem
.pager-position, .pager-amount
	min-height: 2rem
	line-height: 2rem
.pager-position
	float: left
	padding-right: .5rem
.pager-amount
	float: right
	padding-left: .5rem
	a, span
		display: inline-block
		width: 1rem
		height: 1rem
		border-radius: 100%
		font-style: italic
	span
		color: $color__ui
		font-weight: 600
