@use "../base" as *
@use "../mixins" as m

.header
	+m.clearfix
	//padding-top: .25rem
	padding-bottom: 1rem
	&__tools
		//margin-top: .25rem
		float: right

.i18n-toggle
	display: none
	background-color: transparent
	outline: none
	// &:nth-child(even)
	// 	background-color: $color__ui--50
	// 	outline: .25rem solid $color__ui--50
	&.i18n-show
		display: block

.form__actions
	border-radius: .25rem
	background-color: $white
	overflow: hidden
	padding: .5rem 1rem
	button[type=submit]
		width: 100%
		text-transform: uppercase
		font-weight: 600

.publish
	&__title
		margin-bottom: .5rem
	&__table
		margin: 0
		outline: 2px solid $color__ui--5
	th
		background: $white
		color: $color__ui--50
		+fs(12)
		padding: .5rem
		&.publish__dates
			background: $color__ui--5
		.icon
			display: inline-block
			width: 1.25rem
			height: 1.25rem
	td
		padding: .25rem 0 .25rem .5rem
	th, td
		border: none
	&__language
		font-weight: 600
	&__check
		position: absolute
		left: -9999px
		height: 0
		padding: 0
		margin: 0
		& + label
			position: relative
			display: inline-block
			vertical-align: middle
			width: 1.75rem
			height: 1rem
			padding: 0
			letter-spacing: 0
			cursor: pointer
			border-radius: .5rem
			background-color: $color__error
			margin: .25rem 0
			&:before
				content: ""
				width: 1rem
				height: 1rem
				display: block
				position: absolute
				left: 0
				top: 0
				border-radius: 100%
				background-color: $white
				transition: transform .25s ease-in-out
				border: .125rem solid $color__error
		&:checked + label
			background-color: $color--success
			&:before
				transform: translateX(.75rem)
				border-color: $color--success
		&:checked.scheduled + label
			background-color: $color--warning
			&:before
				border-color: $color--warning

	&__dates
		background: $color__ui--5
		.publish tr:nth-child(even) &
			background: $white

	&__date
		display: flex
		flex-wrap: wrap
		align-items: center
		label
			display: block
			vertical-align: middle
			padding: 0 0 0 .125rem
			width: auto
			font-weight: 300
			//width: 2.5rem
			+fs(12)
			flex: 1 0 100%
		input
			display: inline-block
			vertical-align: middle
			width: auto
			flex: 0 0 auto
			border-radius: 0
			background: transparent
			border: none
			padding: 0
			+fs(12)
			min-height: 1.5rem

.form__infos
	position: relative
	color: $color__ui
	padding: .5rem 1rem
	dl
		margin-top: .5rem
		margin-bottom: .5rem
		font-size: .75rem
		line-height: 1.25rem
	dt
		min-width: 5rem
		padding-top: .125rem
	dd
		float: right
	dt, time
		white-space: nowrap

.datagroup
	position: relative
	padding: 1rem
	background-color: $color__ui--5
	margin-bottom: 1rem
	border-radius: .25rem
	&__header
		&--toggle
			min-height: 1rem
			padding-right: 2rem
			cursor: pointer
	&__toggle
		position: absolute
		top: .75rem
		right: 1rem
		transition: transform .25s ease-in-out
		margin: 0
		.icon
			display: block
			margin: 0
		.active &
			transform: rotate(180deg)
	&__title
		margin: 0
		+fs(12)
		letter-spacing: .1em
		text-transform: uppercase
	&__content
		position: relative
		padding-top: 1.5rem
		&:before
			content: ""
			height: .125rem
			background-color: $color__ui--15
			position: absolute
			top: .75rem
			left: -1rem
			right: -1rem

@media #{$phablet}
	.publish__date label
		width: 2.5rem
		flex: 1 0 2.5rem
