@use "../base" as *
@use "../mixins" as m

body.dragging, body.dragging *
	cursor: move !important

.dragged
	position: absolute
	top: 0
	opacity: .5
	z-index: 2000

.block--tools
	+m.clearfix

.sort-options
	display: inline-block
	margin-top: .5rem
	margin-right: .5rem
	float: left
	label
		display: inline-block
		vertical-align: middle
		margin-top: 2px
		padding: .25rem .5rem .25rem 0
		width: auto
	select
		display: inline-block
		vertical-align: middle
		width: auto
	input
		margin: 0
		display: inline-block
		vertical-align: top
		width: auto

.filter-btn
	float: right
	margin-right: 0

.filters
	display: none
	clear: both
	//overflow: hidden
	margin: 0 #{-.5rem}

.active-filters
	&__title
		+fs(14)
		float: left
		margin-bottom: 0
	&__list
		margin-bottom: 0

.list
	list-style-type: none
	margin: 0
	clear: both
	//border-bottom: .0625rem solid $color__ui--15

.row
	position: relative
	min-height: 2rem
	margin: 0
	border-width: .0625rem 1px 0 1px
	border-style: solid
	border-color: $color__ui--15
	background-color: $white
	color: $color__ui
	&:hover
		background-color: $color__ui--5
	&--muted
		opacity: .5
		&:hover
			background-color: $white
	&:first-child
		border-top-left-radius: .25rem
		border-top-right-radius: .25rem
	&:last-child
		border-bottom-left-radius: .25rem
		border-bottom-right-radius: .25rem
		border-width: .0625rem

	&__wrapper
		position: relative
		padding: .5rem
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
		&--actions
			padding: .25rem 1rem .25rem .5rem
			justify-content: flex-start

	&__handle
		position: relative
		display: none
		width: 1.5rem
		height: 1.5rem
		margin-right: .5rem
		flex: 0 0 auto
		cursor: move
		cursor: -webkit-grabbing
		.icon
			stroke: $color__ui--50
			transform: rotate(90deg)
		&:hover .icon
			stroke: $color__ui--75

	&__select
		position: absolute
		left: -9999px
		&__checkbox
			position: relative
			display: block
			width: 1rem
			height: 1rem
			border-radius: .125rem
			border: 2px solid $color__ui--50
			background-color: $white
			margin-top: .5rem
			margin-right: .5rem
			padding: .125rem
			flex: 0 0 auto
			align-self: flex-start
			//margin-left: -2px
			&:hover
				border-color: $color__ui
		&:checked + .row__select__checkbox
			border-color: $color__action
			&:before
				content: ""
				display: block
				position: absolute
				top: .25rem
				right: .25rem
				bottom: .25rem
				left: .25rem
				background-color: $color__action

	&__thumbnail
		flex: 1 0 auto
		margin-left: .5rem
		margin-right: .25rem
		figure
			margin: 0
		img
			display: block
			width: auto
			height: auto
			max-width: 5rem
			max-height: 4rem
			margin: 0 0 0 auto

	&__header
		flex: 1 1 auto
		padding: .25rem .5rem .25rem 0
		a
			text-decoration: none
	&__id
		display: inline-block
		vertical-align: middle
		//font-weight: 600
		font-size: .75rem
		line-height: 1.25rem
		letter-spacing: .1em

	&__badge
		position: relative
		display: inline-block
		vertical-align: middle
		//font-weight: 300
		border-width: .0625rem
		border-style: solid
		border-color: inherit
		padding: 0
		overflow: hidden
		border-radius: .5rem
		//margin-top: -.0625rem
		height: 1rem
		min-width: 1rem
		font-size: .5rem
		line-height: 1rem
		&--dark
			color: $white
			border-color: transparent
		span
			display: block
			text-align: center
			margin: 0
			padding: 0 .5rem
			text-transform: uppercase
			font-weight: 600
			margin-top: -.0625rem


	&__title
		+fs(16)
		margin: 0
		font-weight: 600
		a:hover
			text-decoration: underline
	&__preview-url
		display: inline-block
		vertical-align: middle
		+fs(14)
		margin: .25rem 0
		font-weight: 300
		+m.word-wrap
	&__hint
		+fs(14)
		margin: 0
		color: $color__ui--50
		font-weight: 300
		+m.word-wrap

	&__tools
		padding: .5rem .5rem 0 0
		flex: 1 0 100%
		+m.clearfix

	&__status
		list-style-type: none
		margin: 0
		display: inline-block

	.status
		position: relative
		display: inline-block
		vertical-align: middle
		border-radius: 100%
		width: .75rem
		height: .75rem
		background-color: $medium
		margin: .25rem 0
		color: $white
		&--active
			width: 1.5rem
			height: 1.5rem
			font-size: .875rem
			line-height: 1.5rem
			text-align: center
			z-index: 1
		&--yep
			background-color: $color__success
		&--nope
			background-color: $color__error
		&--later
			background-color: $color__warning
			color: $color__ui

	&__more-btn
		float: right
		transition: transform .25s ease-in-out
		margin: .25rem 0 0 .5rem
		.icon
			margin: 0
		&.active
			transform: rotate(180deg)
	&__more
		position: relative
		background-color: $color__ui--5
	&__inner
		position: relative
		display: none
		padding: 1rem
		&:before
			display: block
			position: absolute
			content: ""
			top: 0
			right: .75rem
			width: 0
			height: 0
			border-style: solid
			border-width: 0 1rem 1rem 1rem
			border-color: transparent transparent $color__ui--5 transparent
			transform: translateY(-1rem)
		//    opacity: 0
		//     transition: transform .25s ease-in-out, opacity .25s ease-in-out
		// &.active:before
		//     transform: translateY(-1rem)
		//     opacity: 1

.actions
	&--top
		display: none
	span
		display: inline-block
		vertical-align: middle
		font-size: 1rem
		line-height: 1.5rem
		margin-right: .25rem

@media #{$phablet}

	.actions--top
		display: block
	.row
		&__wrapper
			flex-wrap: nowrap
		&__thumbnail
			width: 5rem
			margin-left: 1rem
			flex: 0 0 auto
			figure
				margin: 0
			img
				margin: 0 auto
		&__header
			position: relative
			margin-bottom: 0
		&__id
			margin-top: 0
		&__tools
			flex: 0 0 auto
			padding: .5rem
			.btn, .link
				margin: .25rem 0 .25rem 1rem
