@use "../base" as *
@use "../mixins" as m

button, textarea, input, select
	font-family: $base-ff
	color: inherit
	border-radius: .25rem
	font-weight: inherit
	font-size: 1rem
	line-height: 1.5rem
	&:focus
		outline: none
	&[disabled], &[readonly]
		color: $color__ui--75
		border-color: $color__ui--25
		background-color: $color__ui--25
		pointer-events: none
		&:focus
			border-color: $color__ui--5

button
	appearance: none
	border: none
	padding: 0
	background: transparent

textarea, select, input[type="text"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"], input[type="password"], input[type="color"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"]
	appearance: none
	min-height: 2rem
	color: $black

input::-webkit-datetime-edit-fields-wrapper
	padding: 0

button, input[type="submit"]
	display: inline-block
	width: auto

input, textarea, select
	padding: .125rem .5rem
	background-color: $white
	border: .125rem solid $color__ui--15
	&:focus
		border-color: $color__ui

input, textarea
	+m.placeholder($color__ui--50)

input.fileupload
	width: .0625rem
	height: .0625rem
	min-height: 0
	opacity: 0
	overflow: hidden
	position: absolute
	z-index: -1
	& + label
		display: block
		width: 100%
		height: 8rem
		border: .125rem dashed $color__ui--25
		border-radius: .5rem
		padding: 1rem
		text-align: center
		color: $color__ui--50
		font-weight: 400
		cursor: pointer
		u
			pointer-events: none
			color: $color__action
		.icon
			pointer-events: none
			display: block
			width: 2rem
			height: 2rem
			margin: #{1rem} auto
	&:focus + label, & + label:hover
		border-color: $color__ui--75
		color: $color__ui--75

input[type="color"]
	padding: 0
	text-align: center
	width: 4rem
	height: 2rem

input[type="range"]
	margin: 0

input[type="password"]
	letter-spacing: .25em

textarea
	resize: vertical

select
	display: block
	width: 100%
	max-width: 100%
	padding-right: 1.75rem
	font-weight: 300
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23343957%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E')
	background-repeat: no-repeat
	background-position: right .5rem top 50%
	background-size: .75rem auto
	&:-ms-expand
		display: none
	&[multiple]
		background-image: none
	option
		font-weight: 300

label, legend
	position: relative
	display: block
	font-size: .875rem
	line-height: 1.5rem
	font-weight: 600
	margin-bottom: 0
	padding: .25rem .5rem
	color: $color__ui
	letter-spacing: .1em
	width: 100%
	u
		text-decoration: none
		color: $medium
		font-weight: 300
		text-transform: none

	.help
		color: $color__ui--50
		float: right
		text-align: center
		cursor: help
		z-index: 100
		width: 1.5rem
		border-radius: 0
		&:hover, &:focus
			color: $color__ui
			&+.msg
				display: block
	.helptip
		display: none
		position: absolute
		top: 100%
		margin: 0 0 0 0
		right: 0
		//width: 100%
		padding: .5rem
		z-index: 200
		font-size: .75rem
		line-height: 1rem
		background-color: $color__ui
		color: $white
		letter-spacing: 0
		font-weight: 300
		&:before
			display: block
			position: absolute
			content: ""
			top: -.5rem
			right: .75rem
			//margin-right: -4px
			width: 0
			height: 0
			border-style: solid
			border-width: 0 .5rem .5rem .5rem
			border-color: transparent transparent $color__ui transparent
		&:hover
			display: block

legend
	padding-top: 1rem


.input
	position: relative
	padding-bottom: 1rem
	p
		padding: .25rem .5rem
		margin: 0
		color: $medium
		+fs(14)
	input, textarea, select
		width: 100%
	&.inline input, &.inline label, &.radios label, &.checkboxes label, &.radios input, &.checkboxes input
		display: inline-block
		vertical-align: middle
		width: auto
	&.inline label
		padding: .25rem .5rem
		min-width: 4rem
	&.radios, &.checkboxes
		label
			font-weight: normal
			padding-top: 0
			padding-bottom: 0
			text-transform: none
			padding-left: 1.75rem
			text-indent: -1.6rem
		input
			width: 1rem
			height: 1rem
			margin-bottom: .25rem
	&-ext-url
		input
			padding-right: 2rem
		button
			position: absolute
			bottom: 1.25rem
			right: .125rem
			width: 1.75rem
			height: 1.75rem
			margin-bottom: -2px
	&-range
		padding-right: 4rem
		output
			position: absolute
			bottom: 1.25rem
			right: 0
			min-width: 3rem
			font-weight: 600
			text-align: center
			background: $dark
			color: $white
			padding: .125rem .5rem
	&--actions
		clear: both
		text-align: right
		padding-top: 1rem

fieldset
	position: relative
	padding: 0 1rem .5rem 1rem
	margin: 0 #{-1rem}
	background-color: $color__ui--5
	border: none
	border-bottom: .0625rem solid $color__ui--15
	//outline: none !important
	&:last-child
		border-bottom: none
		margin-bottom: #{-1rem}
	legend
		float: left
	label
		font-weight: 400
	p.legend
		clear: both
		padding: .25rem .5rem
		margin: 0
		color: $medium
		+fs(14)

.message
	display: none

.error
	label u
		color: $color__error
	input
		color: $color__error
		border-color: $color__error
		+m.placeholder($color__error)

.bootstrap-maxlength
	position: relative
	float: right
	margin-top: -2px
	margin-left: -32px
	background: $color__ui
	color: $white
	padding: 2px 4px 0 8px
	height: 24px
	min-width: 32px
	text-align: center
	font-size: .75rem
	line-height: 1.5rem
	-webkit-font-smoothing: antialiased
	&.limit
		background: $color__error

.flash
	display: inline-block
	font-family: $base_ff
	padding: 1rem
	color: $white
	background-color: $medium
	margin-bottom: .5rem
	&-error
		background-color: $color__error
	&-ok
		background-color: $color__success

@media #{$mobile}

	.checkbox
		display: inline-block
		vertical-align: top
		width: 50%

@media #{$phablet}

	form
		+m.clearfix
	.input
		width: 100%
		clear: both
		&-20, &-25, &-30, &-33, &-40, &-50, &-66, &-60, &-75, &-80
			clear: none
			float: left
			padding-left: .5rem
			padding-right: .5rem
		&-20
			width: 20%
		&-25
			width: 25%
		&-30
			width: 30%
		&-33
			width: 33.33333%
			width: calc(100% / 3)
		&-40
			width: 40%
		&-50
			width: 50%
		&-60
			width: 60%
		&-66
			width: 66.66666%
			width: calc(100% / 1.5)
		&-75
			width: 75%
		&-80
			width: 80%
		&.no-label
			padding-top: 2rem
			.btn
				width: 100%
				margin-top: 0
	.alpha
		padding-left: 0
		clear: both
	.omega
		padding-right: 0

	.checkbox
		width: 33.33333%
		width: calc(100% / 3)
