@use "../base" as *
@use "../mixins" as m

html, *, *:before, *:after, input[type=search]
	box-sizing: border-box

body, html
	position: relative
	height: 100%

body
	margin: 0
	width: 100%
	min-width: 20rem
	&.no-scroll
		overflow: hidden

.load-alert
	z-index: 10000
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	text-align: center
	background: red
	color: white
	padding: 16px 48px
	font-size: 1.125rem
	line-height: 1.25rem
	a
		text-decoration: underline

.main-container
	position: relative
	min-height: 100%
	padding: 4rem 1rem 0 1rem
	transform-origin: 0, 0, 0
	transform: translateX(0)
	transition: transform .2s linear
	width: 100%
	height: 100%
	overflow: scroll
	-webkit-overflow-scrolling: touch
	&.pushed
		transform: translateX(16rem)

.section
	position: relative
	margin-left: -1rem
	margin-right: -1rem
	padding: 1rem 0
	//background: linear-gradient(45deg, rgba($black,.1) 0%,transparent 50%,rgba($white,.1) 100%)
	&:first-child
		margin-top: -1rem

.wrapper
	position: relative
	width: 100%
	max-width: 64rem
	padding: 0 1rem

.block
	background-color: $white
	padding: .5rem 1rem
	border: .0625rem solid $color__ui--15
	background-color: $white
	color: $color__ui
	margin-bottom: 1rem
	border-radius: .25rem
	&--color-ui
		background-color: $color__ui
		color: $white
	&--preview
		padding: .5rem

@media #{$tablet}
	.sticky-wrapper
		columns: 2
		column-gap: 1rem
		> *
			break-inside: avoid


@media #{$desktop}
	body.no-scroll
		overflow: auto
	.main-container
		padding-top: 5rem
		padding-left: 17rem
		&.pushed
			transform: translateX(0)
			transition: none

@media #{$large}
	.split
		position: relative
		display: flex
		flex-direction: row
		&__left
			position: relative
			flex: 1 1 auto
			padding-right: 1rem
		&__right
			flex: 0 0 24rem
			position: relative
	.sticky-wrapper
		position: sticky
		top: 0
		columns: unset
