@use "../base" as *
@use "../mixins" as m

#login
	background-color: $color__ui--5

.splash
	width: 66.66666%
	width: calc(100% / 1.5)
	max-width: 18rem
	margin-bottom: 1rem
	padding-left: .5rem
	a, abbr
		border-bottom: .0625rem solid
		text-decoration: none
	abbr
		border-bottom-style: dotted

.login
	max-width: 32rem
	margin: 0 auto
	position: relative
	top: 50%
	transform: translateY(-55%)

	.msg
		margin-top: 0

	&__text
		padding-top: 1rem
		padding-left: .5rem
		h1
			font-weight: 600
			color: $color__ui

	&__form
		padding-bottom: .5rem
		background-color: $color__ui--5
		background-image: linear-gradient(to bottom, $color__ui--5 0, $color__ui--15 50%, $color__ui--5 100%)

	&__footer
		margin-top: .5rem
