@use "../base" as *
@use "../mixins" as m

.pivot
	figure
		+m.clearfix
	&__hint
		position: relative
		width: auto
		float: left
		img
			width: auto
			height: auto
			max-width: 100%
			max-height: 75vh
		.icon
			position: absolute
			top: 50%
			left: 50%
			width: 1.5rem
			height: 1.5rem
			margin-top: -.75rem
			margin-left: -.75rem
			stroke: $white
			fill: rgba($black, .25)

.dropzone
	position: relative
	overflow: hidden
	&__load, &__bar
		position: absolute
		top: 0
		bottom: 0
		left: 0
	&__load
		opacity: 0
		transition: opacity .25s linear
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		background-color: $color__ui--15
		color: $white
		&.loading
			opacity: 1
	&__bar
		background: linear-gradient(45deg, $color__action, $color__action--50, $color__action)
		background: repeating-linear-gradient( -45deg, $color__action, $color__action 16px, $color__action--50 16px, $color__action--50 32px)
		background-size: 272px 100%
		animation: glow 4s linear infinite
		z-index: 1
	&__info
		z-index: 2
		+fs(48)

@keyframes glow
	0%
		background-position: 0% 0%
	100%
		background-position: 272px 0%

.twitter-typeahead, .tt-menu
	display: block
	width: 100%
	max-width: 32rem


.node-index
	height: calc(100vh - #{8.25rem})
	overflow: auto
	padding: .0625rem
	&::-webkit-scrollbar
		width: 1rem
	&::-webkit-scrollbar-track
		background: $color__ui--15
	&::-webkit-scrollbar-thumb
		background: $color__ui--75
	&::-webkit-scrollbar-thumb:hover
		background: $color__ui
	// ul:hover
	// 	outline: .0625rem dashed $color__ui--50


.sortable
	margin-bottom: .25rem
	margin-left: 0
	list-style-type: none
	ul
		margin-left: 0
		list-style-type: none
	&__children
		width: auto
		margin-left: 2.25rem !important

	.row
		&__handle
			display: block
		&--ghost .row__wrapper
			background-color: $color__action--50
			opacity: .5
		&.dragged
			position: absolute
			top: 0
			opacity: .25
			z-index: 2000
			//pointer-events: none
		&__placeholder
			background-color: $color__action--50
			border: .0625rem solid $color__action
			min-height: 2rem
			margin: 0
	&--nested
		.row
			border: none
			background: transparent
			&__wrapper
				padding: 0 .5rem
				margin-bottom: .5rem
				background-color: $white
			&__more-btn
				margin: .25rem .5rem 0 .25rem
				display: none
				&.visible
					display: block

.tt-selectable
	cursor: pointer
	&:hover
		background-color: $color__ui--25

@media #{$desktop}
	.node-index
		height: calc(100vh - 9.25rem)
