@use "../base" as *
@use "../mixins" as m

.navbar
	position: fixed
	top: 3rem
	left: 0
	right: 0
	bottom: 0
	opacity: 0
	z-index: -1
	visibility: hidden
	transition-property: opacity, z-index, visibility
	transition-duration: .2s
	transition-timing-function: linear
	transition-delay: .1s

	&.unfold
		opacity: 1
		z-index: 950
		visibility: visible
		.navbar__container
			transform: translateX(0)

	&__overlay
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba($color__ui--15, .5)

	&__container
		position: absolute
		background-color: $color__ui
		color: $color__ui--25
		top: 0
		bottom: 0
		left: 0
		width: 100%
		transform-origin: 0, 0, 0
		transform: translateX(-16rem)
		transition: transform .2s linear
		overflow: auto
		-webkit-overflow-scrolling: touch
		max-width: 16rem

	.icon
		display: inline-block
		vertical-align: middle
		width: 1rem
		height: 1rem
		margin: 1rem .5rem 1rem 1rem

	&__langs
		box-shadow: 0 2px 0 0 $color__ui--110
		ul
			+m.clearfix
			display: inline-block
			vertical-align: middle
			margin: 0 0 -.5rem 0
			list-style-type: none
		li
			display: block
			float: left
			margin: 0
		a, span
			position: relative
			display: block
			width: 2rem
			height: 3rem
			text-align: center
			padding: .5rem
			font-size: 1rem
			line-height: 2rem
			&::after
				content: ""
				display: block
				position: absolute
				bottom: .75rem
				left: .5rem
				right: .5rem
				height: .125rem
				border-radius: .0625rem
				background-color: transparent

		span
			color: $color__ui--5
			&::after
				background-color: $color__ui--5
		a
			color: $color__ui--50
			text-decoration: none
			&:hover, &:focus, &.active
				color: $color__action
				&::after
					background-color: $color__action

	&__menu
		margin: 0
		ul
			padding-left: 1.5rem
			padding-bottom: .5rem
		li
			position: relative
			list-style-type: none
			padding: 0
			margin: 0
			+fs(16)
			font-weight: 600
			box-shadow: 0 2px 0 0 $color__ui--110
			&.active
				color: $color__ui--5
				&::before
					content: ""
					display: block
					position: absolute
					top: .5rem
					height: 2rem
					left: 0
					width: .25rem
					border-radius: 0 .125rem .125rem 0
					background-color: $color__action
			li
				font-weight: 300
				padding-bottom: .5rem
				box-shadow: none
				color: $color__ui--25
		a
			text-decoration: none
			display: inline
			vertical-align: middle
			font-weight: 300
			border-bottom: .125rem solid transparent
			&:hover, &:focus
				color: $color__action
				border-bottom-color: $color__action
			&.active
				color: $color__ui--5
				border-bottom-color: $white
		button
			display: inline-block
			vertical-align: middle


@media #{$desktop}
	.navbar
		opacity: 1
		z-index: 950
		visibility: visible
		width: 16rem
		top: 4rem
		&__overlay
			opacity: 0
			z-index: -1
			visibility: hidden
			transition-property: opacity, z-index, visibility
			transition-duration: .2s
			transition-timing-function: linear
		&__container
			transform: translateX(0)
			right: auto
			width: 100%
