@use "../base" as *
@use "../mixins" as m

.toolbar
	background: $color__ui--110
	color: $color__ui--5
	position: fixed
	z-index: 1000
	top: 0
	left: 0
	width: 100%
	min-width: 20rem
	height: 3rem

	&__brand
		position: absolute
		top: .75rem
		left: 3rem.75
		height: 24px
		width: 24px
		color: $color__ui--5
		overflow: hidden

	&__btn
		display: block
		position: absolute
		top: 0
		width: 3rem
		height: 3rem
		background-color: $color__ui--110
		padding: 0
		border-radius: 0
		// outline: 2px solid $color__ui
		// &:focus
		// 	outline: 2px solid $color__ui
		&.active
			background: $color__ui
		svg
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&--menu
			left: 0
			background-color: $color__ui
			// .mdzr-no-svg &
			// 	svg
			// 		display: none
			// 	&:after
			// 		display: block
			// 		content: "▼"
			// 		+hide-text
			// 		+get-sprite($menu_close, $menu_close-retina, true)
			svg
				width: 1.5rem
				width: 1.5rem
				.slice
					transform: translateZ(0)
					transition: transform .2s ease-in-out 75ms
					fill: $color__ui--5
				.slice1
					transform-origin: 5px 5px
					transform: rotate(45deg) translateX(3px)
				.slice2
					transform: rotate(-45deg)
					transform-origin: 12px 12px
				.slice3
					transform-origin: 19px 19px
					transform: rotate(45deg) translateX(-3px)
			&.idle
				background-color: $color__ui--110
				.slice
					transform: rotate(0)
				// .mdzr-no-svg &
				// 	&:after
				// 		+get-sprite($menu, $menu-retina, true)
				&:hover
					.slice1
						transform: translate(0, -4px)
					.slice3
						transform: translate(0, 4px)
		&--user
			right: 3rem
		&--search
			right: 0
			background-color: transparent
			z-index: 12

	&__website
		position: absolute
		top: 0
		left: 6rem
		right: 6rem
		padding: 1rem .5rem 1rem 2.5rem
		span
			display: none
			+m.text-overflow
			width: 100%
			text-align: left
		svg
			position: absolute
			top: 1rem
			left: 1rem
			width: 1rem
			height: 1rem

	&__search
		position: absolute
		top: 0
		right: 0
		height: 3rem
		width: 3rem
		z-index: 10
		input
			position: fixed
			top: 0
			right: 0
			width: 3rem
			background-color: $color__ui
			color: $white
			border: none
			border-radius: 0
			height: 3rem
			z-index: 11
			box-shadow: 0 2px 0 0 $color__action
			opacity: 0
			transition: opacity .25s, width .5s
			&:focus
				opacity: 1
				padding: .5rem 2.5rem .5rem 1rem
				z-index: 9
				width: 100%
		button
			position: relative
			z-index: 10

.drop
	&__list
		display: none
		position: absolute
		right: 0
		top: 100%
		min-width: 9rem
		background: $color__ui
		color: $color__ui--5
		box-shadow: -.125rem .125rem 0 $color__ui--15
		list-style-type: none
		margin: 0
		li
			margin-bottom: 0
			padding-left: .125rem
	a, span
		display: block
		padding: .5rem
	a
		text-decoration: none
		&:hover, &:focus
			background-color: $color__ui--75
			box-shadow: -.125rem 0 0 $color__action

@media #{$mobile}
	.menu-btn
		&:after
			display: block
			content: "close"
			position: absolute
			top: 1.25rem
			right: 100%
			padding-right: .25rem
			margin-top: .0625rem
		&:hover:after
			text-decoration: underline
		&.idle:after
			content: "menu"

@media #{$phablet}
	.toolbar
		&__brand
			width: auto
		&__website
			left: 10rem
			span
				display: block

@media #{$desktop}
	.toolbar
		height: 4rem
		&__btn--menu
			display: none
		&__brand
			top: 1.25rem
			left: 1rem
		&__website
			top: .5rem
			left: 14.5rem
		&__btn
			width: 4rem
			height: 4rem
			&--user
				right: 4rem

		&__search
			height: 4rem
			width: 4rem
			input
				width: 4rem
				height: 4rem
				&:focus
					padding-right: 3.5rem
