@use "../base" as *
@use "../mixins" as m

::selection
	background-color: $selected-background-color
	color: $selected-font-color

html, body
	background: $color__ui--15
	color: $color__ui

body
	font-family: $base-ff
	font-size: 100%
	line-height: 1.25
	font-weight: 300
	font-style: normal
	font-kerning: normal
	font-variant-numeric: oldstyle-nums proportional-nums
	font-feature-settings: "kern", "calt", "onum", "pnum"
	text-size-adjust: none

strong, b
	font-weight: 600

sub, sup
	font-size: 75%
	line-height: .5

input, textarea, button, select, a
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	&:focus
		outline: none

mark
	background-color: $color__action--50

a
	color: inherit
	&:visited, &:active, &:hover
		color: inherit
	&:hover
		text-decoration: none
	&[href^='tel:']
		text-decoration: none !important
		cursor: default

html:lang(fr) q
	quotes: '« ' ' »' '“' '”'

// TEXT
h1, h2, h3, h4, h5, h6
	margin: 0 0 1rem 0
	font-weight: 600
	&:target
		scroll-margin-top: 4.25rem 
h1
	+fs(32)
h2
	+fs(28)
h3
	+fs(24)
h4
	+fs(20)
h5
	+fs(18)
h6
	+fs(16)

p
	margin: 0 0 1rem 0

blockquote
	border-left: .25rem solid $color__ui
	margin: 1rem 0
	padding: 0 1rem 0 .75rem

// LISTS
ul, ol
	padding: 0
	margin-left: 1.25em
	margin-top: 0
	margin-bottom: .75rem
	ul, ol
		margin-bottom: 0
li
	margin-bottom: .25rem
	li
		margin-top: .25rem
		margin-bottom: 0

hr
	margin: 0
	border: none
	background: $color__ui
	height: .125rem
	width: 100%
	margin-top: 1rem
	margin-bottom: 1rem

// DEFINITION LIST
dl
	+m.clearfix
	margin: 0 0 1rem
	font-size: .875rem
	line-height: 1.25rem
dt, dd
	display: inline-block
	float: left
dt
	clear: left
	color: $color__ui--50
	margin-right: .25rem
	text-transform: uppercase
	letter-spacing: .1em
	font-weight: 600
	font-size: .6875rem
	line-height: 1rem
	padding-top: .1875rem
dd
	margin-left: 0

// TABULAR
.table-wrapper
	width: 100%
	overflow: auto
	-webkit-overflow-scrolling: touch
table
	border: 0
	width: 100%
	margin-bottom: 1rem
	border-spacing: 0
	border-collapse: collapse
	caption
		color: $color__ui
		font-weight: 600
		padding: .25rem .5rem
		border-top: .0625rem solid $color__ui
td, th
	+fs(16)
	padding: .25rem .5rem
	border: .0625rem solid $color__ui--15
	width: auto
	vertical-align: middle
	text-align: left
tr:nth-child(even) td
	background-color: $color__ui--5
th
	font-family: $base-ff
	letter-spacing: .1em
	background-color: $color__ui
	color: $color__ui--5
	font-weight: 300
thead th
	vertical-align: bottom
tfoot th
	vertical-align: top

iframe
	border: none

// BODY TEXT
