{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
        'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
        {
            'urls': language_urls,
            'active_language': language
        }
    )) }}
{% endblock %}

{% block main_content %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="msg msg--success">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#check"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="msg msg--error">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-octagon"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}

    <header class="header">

        <form action="{{ path('admin-node-structure-process', { 'language': language, 'type': node_model.type }) }}" method="POST" enctype="multipart/form-data">

        <h1 class="title title--header">{{ node_model.plural_human_type|capitalize }}</h1>

            {% if node_model._can_be_created %}
                <input type="hidden" name="type" value="{{ node_model.type }}">
                <input type="hidden" value="" name="structure" class="tree-structure" id="tree_structure">
                <a href="{{ node_model._creation_page_url }}" class="btn btn--rounded">
                    <svg class="icon">
                        <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus"></use>
                    </svg>
                    New {{ node_model.singular_human_type }}
                </a>
                <div class="header__tools">
                    <button type="submit" name="submit" value="Save structure" class="btn btn--primary btn--resp">
                    <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#save"/></svg>Save structure</button>
                </div>
            {% endif %}
        </form>
    </header>

    <div class="node-index">
        <ul class="sortable sortable--nested js-nested-sortable" data-group="{{ node_model.type }}" id="nschild_0" data-ul="0">
            {% for node_id, node_structure in tree_structure %}
                {% include '@Content/Node/node.twig' with {
                    'node_id' : node_id,
                    'node_structure' : node_structure
                } %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
