<div class="row__header">
    {% for badge_item in badge %}
        {% set badge_luminosity = (max(badge_item.red, badge_item.green, badge_item.blue) + min(badge_item.red, badge_item.green, badge_item.blue)) / 512.0 %}
        <div class="row__badge {% if badge_luminosity < 0.6 %}row__badge--dark{% endif %}" style="background-color: rgb({{ badge_item.red }}, {{ badge_item.green }}, {{ badge_item.blue }});">
            {% if badge_item.text is not empty %}<span>{{ badge_item.text }}</span>{% endif %}
        </div>
    {% endfor %}
    <div class="row__id">#{{ node_digest.id }}</div>
    <h3 class="row__title">
        {% if node_digest._can_be_viewed %}
            <a href="{{ node_digest._edition_page_url }}">{{ node_digest._title }}</a>
        {% else %}
            {{ node_digest._title }}
        {% endif %}
    </h3>
{% if node_digest._hint is not empty %}<h4 class="row__hint">{{ node_digest._hint }}</h4>{% endif %}
</div>

{% if node_digest._image %}
    <div class="row__thumbnail">
        {% if node_digest._can_be_viewed %}
            <a href="{{ node_digest._edition_page_url }}">
        {% endif %}
            <figure class="thumbnail">
                <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': node_digest.type, 'id': node_digest.id }) }}" class="checkered">
            </figure>
        {% if node_digest._can_be_viewed %}
            </a>
        {% endif %}
    </div>
{% endif %}

<div class="row__tools">

    {% if use_published %}
        <ul class="row__status">
            {% for language_code, language_name in app['viktor.config']['available_languages'] %}
                {% set status_class = 'status--nope' %}
                {% if publication_statuses[language_code] == 'published' %}
                    {% set status_class = 'status--yep' %}
                {% elseif publication_statuses[language_code] == 'scheduled' %}
                    {% set status_class = 'status--later' %}
                {% endif %}
                <li class="status {{ status_class }} {% if language_code == language %}status--active{% endif %}">
                    {% if language_code == language %}{{ language_code }}{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if node_digest._can_be_created %}
        <a href="{{ node_digest._creation_page_url }}" class="link"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus-square"/></svg></a>
    {% endif %}
    {% if node_digest._can_be_deleted %}
        <a href="{{ node_digest._deletion_page_url }}" class="link"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg></a>
    {% endif %}

</div>
