{% if nodes[node_id] is defined %}
<li class="row" data-id="{{ node_id }}">
        <div class="row__wrapper">
            <div class="row__handle"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#menu"/></svg></div>
            <button class="row__more-btn link link--large js-toggle-btn{% if node_structure|length > 0 %} visible{% endif %}" data-target="#nschild_{{ node_id }}"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#chevron-down"/></svg></button>
            {{
                render(controller(
                    'Viktor\\Pack\\Content\\Node\\NodeController::listItem',
                    {
                        'node': nodes[node_id]
                    }
                ))
            }}
        </div>
        <ul class="sortable__children js-nested-sortable" id="nschild_{{ node_id }}" data-ul={{ node_id }}>
            {% for subnode_id, subnode_structure in node_structure %}
                {% include '@Content/Node/node.twig' with {'node_id': subnode_id, 'node_structure': subnode_structure} %}
            {% endfor %}
        </ul>
    </li>
{% endif %}
