<figure>
    <iframe data-src="{{ embed_src }}" {% if embed_provider in cf_categories|keys %} data-cookiefirst-category="{{ cf_categories[embed_provider]|join('; ') }}" {% else %} class="lazyload" {% endif %} allow="fullscreen; picture-in-picture" allowfullscreen width="{{ media._embed_info.width }}" height="{{ media._embed_info.height }}" disablekb="1" title="{{ media._title }}"></iframe>
    {% if media._title is not empty %}
        <figcaption>
            {{ media._title }}
        </figcaption>
    {% endif %}
</figure>
