<nav class="breadcrumb">
    <h3 class="v-h">{{ t('Breadcrumb') }}</h3>
    <ul>
        {% for k, element_id in elements_ids %}
            <li>
                {%- if elements[element_id].url != '' -%}
                    <a href="{{ elements[element_id].url }}">
                    {%- endif -%}
                    {%- if k == 0 -%}
                        🏠
                    {%- else -%}
                        {{ elements[element_id].title }}</a>
                {%- endif -%}
                {%- if elements[element_id].url != '' -%}
                </a>
            {%- endif -%}
            {% if not loop.last %}
                |
            {% endif %}
        </li>
    {% endfor %}
</ul>
</nav>
