{% extends 'page-layout.twig' %}

{% block main %}

{{ render(controller(
    'App\\App\\AppController::errorXxxMainBlock',
    {},
    {
        'language': language,
        'error_code': error_code,
        'error_text': error_text
    }
)) }}

{% endblock %}
