<div class="section">
    <div class="wrapper">
        <h1 class="title">{{ error_code }}</h1>
        <h2 class="subtitle">{{ t(error_text) }}</h2>
        <a href="{{ path('homepage', {'language': language}) }}">{{ t('Homepage') }}</a>
    </div>
</div>
