<div class="main-header__nav">
    <ul>
        {% for k1, k1children in main_menu_children %}
            {% set v1 = navigation_helper.elements[k1] %}
            {% if v1.node._is_published_now %}
                {% if k1children is empty %}
                    <li>
                        <a href="{{ v1.url }}" {% if v1.target == '_blank' %} target="_blank" rel="noopener" {% endif %} {% if v1.active %} class="is-active" {% endif %}>
                            {{ v1.title }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        {% if v1.url is not empty %}
                            <a href="{{ v1.url }}" {% if v1.target == '_blank' %} target="_blank" rel="noopener" {% endif %} {% if v1.active %} class="is-active" {% endif %}>
                                {{ v1.title }}
                            </a>
                        {% else %}
                            {{ v1.title }}
                        {% endif %}
                        <ul>
                            {% for k2, k2children in navigation_helper.flatlist[k1] %}
                                {% set v2 = navigation_helper.elements[k2] %}
                                {% if v2.node._is_published_now %}
                                    <li>
                                        <a href="{{ v2.url }}" {% if v2.target == '_blank' %} target="_blank" rel="noopener" {% endif %} {% if v2.active or v2.has_an_active_descendant %} class="is-active" {% endif %}>
                                            {{ v2.title }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
