{% if options.use_published %}
    <div class="input input-50">
        <label>Publication status</label>
        <select name="{{ base_name }}">
            {% for k, v in status_options %}
                <option value="{{ k }}" {% if v.selected %}selected{% endif %}>{{ v.label }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}
