{% if digest._can_be_edited and (options.use_published or options.use_start_datetime or options.use_end_datetime) %}
    <div class="publish">
        <h5 class="publish__title">Publication status</h5>
        <table class="publish__table">
            <tr>
                {% if app['viktor.config'].available_languages|length > 1 %}
                    <th><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#flag"/></svg></th>
                {% endif %}
                {% if options.use_published %}
                    <th><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#check-circle"/></svg></th>
                {% endif %}
                {% if options.use_start_datetime or options.use_end_datetime %}
                    <th class="publish__dates"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#calendar"/></svg></th>
                {% endif %}
            </tr>
            {% for language_code, value in publication %}
                <tr>
                    {% if app['viktor.config'].available_languages|length > 1 %}
                        <td class="publish__language">{{ language_code }}</td>
                    {% endif %}
                    {% if options.use_published %}
                        <td>
                            <input type="checkbox" name="{{ base_name }}_published_{{ language_code }}" id="{{ base_name }}_published_{{ language_code }}" value="1" class="publish__check{% if value.start_datetime > date() %} scheduled{% endif %}"{% if value.published %} checked="checked"{% endif %} />
                            <label for="{{ base_name }}_published_{{ language_code }}"></label>
                        </td>
                    {% endif %}
                    {% if options.use_start_datetime or options.use_end_datetime %}
                        <td class="publish__dates">
                            {% if options.use_start_datetime %}
                                <div class="publish__date">
                                    <label for="{{ base_name }}_start_date_{{ language_code }}">from</label>
                                    <input
                                        type="date"
                                        id="{{ base_name }}_start_date_{{ language_code }}"
                                        name="{{ base_name }}_start_date_{{ language_code }}"
                                        value="{{ value.start_datetime|date("Y-m-d") }}"
                                    >
                                    <input
                                        type="time"
                                        name="{{ base_name }}_start_time_{{ language_code }}"
                                        value="{{ value.start_datetime|date("H:i") }}">
                                </div>
                            {% endif %}
                            {% if options.use_end_datetime %}
                                <div class="publish__date">
                                    <label for="{{ base_name }}_end_date_{{ language_code }}">to</label>
                                    <input
                                        type="date"
                                        id="{{ base_name }}_end_date_{{ language_code }}"
                                        name="{{ base_name }}_end_date_{{ language_code }}"
                                        value="{{ value.end_datetime|date("Y-m-d") }}">
                                        <input
                                            type="time"
                                            name="{{ base_name }}_end_time_{{ language_code }}"
                                            value="{{ value.end_datetime|date("H:i") }}">
                                </div>
                            {% endif %}
                        </td>
                    </div>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
