@use "../base" as *

.pager
	padding: 1rem 0
	&__list
		text-align: center
	li
		display: inline-block
		vertical-align: middle
		list-style: none
		color: $black
	&__num, &__arrow
		border-radius: 1rem
		margin: .5rem .125rem
		padding: .25rem .5rem
		display: block
		height: 2rem
		min-width: 2rem
	&__num
		color: $black
		font-size: 1.3125rem
		line-height: 1.5rem
		&:hover
			text-decoration: underline
		&--active
			font-weight: 700

	&__arrow
		font-size: 1.3125rem
		line-height: 1.25rem
		font-weight: 400
		color: $black
		padding-bottom: .5rem
