@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap')

// Colors
$black: rgb(22, 22, 29)
$dark: rgb(81, 81, 81)
$medium: rgb(115, 115, 115)
$lite: rgb(235, 235, 235)
$white: rgb(255,255,255)

$color__action: rgb(255,89,121)
$color__action--50: rgb(241,121,145)

$color__ui: rgb(52,57,87)
$color__ui--110: rgb(41,45,69)
$color__ui--75: rgb(103,107,129)
$color__ui--50: rgb(153,156,171)
$color__ui--25: rgb(204,205,213)
$color__ui--15: rgb(225,226,230)
$color__ui--5: rgb(245,245,246)

$color__error: rgb(223,94,119)
$color__error--50: rgb(238,174,187)
$color__warning: rgb(255,201,119)
$color__warning--50: rgb(255,228,187)
$color__success: rgb(112,214,165)
$color__success--50: rgb(183,235,209)

// $color__ui: rgb(48, 82, 135)
// $color__ui--50: rgb(142, 160, 187)
// $color__ui--15: rgb(226, 236, 240)

$green: rgb(152, 221, 52)
$orange: rgb(255, 126, 0)
$red: rgb(255, 105, 105)
$yellow: rgb(245, 255, 155)

$selected-background-color: $color__ui
$selected-font-color: $white

$default-transition-duration: .2s
$default-transition-function: ease-in-out

$base-ff: 'IBM Plex Sans', Helvetica, Arial, sans-serif

// Media-queries
$mobile: "only screen and (min-width : 24em)" // 6 * 64 = 24 * 16 = 384
$phablet: "only screen and (min-width : 32em)" // 8 * 64 = 32 * 16 = 512
$tablet: "only screen and (min-width : 48em)" // 12 * 64 = 48 * 16 = 768
$desktop: "only screen and (min-width : 64em)" // 16 * 64 = 64 * 16 = 1024
$large: "only screen and (min-width : 80em)" // 20 * 64 = 80 * 16 = 1280
$huge: "only screen and (min-width : 96em)" // 24 * 64 = 96 * 16 = 1536
$max: "only screen and (min-width : 128em)" // 32 * 64 = 128 * 16 = 2048

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

=fs($size: 16)
	@if $size == 80
		font-size: 5rem
		line-height: 5.5rem
	@if $size == 64
		font-size: 4rem
		line-height: 4.5rem
	@if $size == 48
		font-size: 3rem
		line-height: 3.25rem
	@if $size == 40
		font-size: 2.5
		line-height: 2.75rem
	@if $size == 32
		font-size: 2rem
		line-height: 2.25rem
	@if $size == 28
		font-size: 1.75rem
		line-height: 2rem
	@if $size == 24
		font-size: 1.5rem
		line-height: 1.75rem
	@if $size == 20
		font-size: 1.25rem
		line-height: 1.5rem
	@else if $size == 18
		font-size: 1.125rem
		line-height: 1.275rem
	@else if $size == 16
		font-size: 1rem
		line-height: 1.25rem
	@else if $size == 14
		font-size: .875rem
		line-height: 1.125rem
	@else if $size == 12
		font-size: .75rem
		line-height: 1rem
	@else if $size == 11
		font-size: .6875rem
		line-height: .75rem
