// Placeholder text
// -------------------------
=placeholder($color: inherit, $font: inherit, $ta: inherit)
	&::placeholder
		opacity: 1
		color: $color
		font: $font
		text-align: $ta

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
=text-overflow
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

=word-wrap
	overflow-wrap: break-word
	word-wrap: break-word
	-ms-word-break: break-all
	word-break: break-word
	//hyphens: auto

=clearfix
	&:before, &:after
		content: " "
		display: table
	&:after
		clear: both

=hide-text
	text-indent: -99999px
	text-indent: -9999rem
	overflow: hidden
	text-align: left

=hidden
	visibility: hidden
	opacity: 0
	z-index: -1

=visuallyhidden
	position: absolute
	white-space: nowrap
	width: .0625rem
	height: .0625rem
	overflow: hidden
	border: 0
	padding: 0
	clip: rect(0 0 0 0)
	clip-path: inset(50%)
	margin: -1px

// Prevent long urls and text from breaking layouts originally from perishablepress.com
=force-wrap
	white-space: pre // CSS 2.0
	white-space: pre-wrap // CSS 2.1
	white-space: pre-line // CSS 3.0
	word-wrap: break-word // IE 5+

//
//Fix for vw, vh, vmin, vmax on iOS 7.
//http://caniuse.com/#feat=viewport-units
//
//This fix works by replacing viewport units with px values on known screen sizes.
//
//iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
//Target devices running iOS 8+ will incidentally execute the media query,
//but this will still produce the expected result so this is not a problem.
//
//As an example, replace:
//
//  height: 50vh
//  font-size: 5vmin
//
//with:
//
//  @include viewport-unit(height, 50vh)
//  @include viewport-unit(font-size, 5vmin)
//
=viewport-unit($property, $value)
	#{$property}: $value
	$unit: unit($value)
	@if (index((vw, vh, vmin, vmax), $unit) != null)
		$devices: ((768px, 1024px),(320px, 480px),(320px, 568px))

		@each $device in $devices
			$device-width: nth($device, 1)
			$device-height: nth($device, 2)
			$device-query: "only screen and (-webkit-min-device-pixel-ratio: 1)"
			$device-query: "#{$device-query} and (device-width: #{$device-width})"
			$device-query: "#{$device-query} and (device-height: #{$device-height})"
			$percent: $value / ($value * 0 + 1) // see https://github.com/sass/sass/issues/533
			$percent-width: $device-width * $percent / 100
			$percent-height: $device-height * $percent / 100
			@if ($unit == vmin or $unit == vmax)
				@media #{$device-query}
					#{$property}: if($unit == vmin, $percent-width, $percent-height)
			@else
				@media #{$device-query} and (orientation: portrait)
					#{$property}: if($unit == vw, $percent-width, $percent-height)
				@media #{$device-query} and (orientation: landscape)
					#{$property}: if($unit == vw, $percent-height, $percent-width)

//=multiline-ellipsis($height, $lineheight, $ellipsiswidth, $ellipsiscontent )
//
//	$ellipsiswidth: 3em !default
//	$ellipsiscontent: "\02026 Read More" !default
//
//	position: relative
//	overflow: hidden
//	height: $height
//	line-height: $lineheight
//
//	&:before
//		content: ""
//		float: left
//		width: 5px
//		height: $height
//
//	& > *:first-child
//		float: right
//		width: 100%
//		margin-left: -5px
//
//	&:after
//		content: $ellipsiscontent
//
//		float: right
//		position: relative
//		top: -25px
//		left: 100%
//		width: $ellipsiswidth
//		margin-left: -$ellipsiswidth
//		padding-right: 5px
//
//		text-align: right
//		background: $white
//		background: -webkit-gradient(linear, left top, right top, from(rgba($white, 0)), to(//$white), color-stop(50%, $white))
//		background: -moz-linear-gradient(to right, rgba($white, 0), $white 50%, $white)
//		background: -o-linear-gradient(to right, rgba($white, 0), $white 50%, $white)
//		background: -ms-linear-gradient(to right, rgba($white, 0), $white 50%, $white)
//		background: linear-gradient(to right, rgba($white, 0), $white 50%, $white)
