{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
    'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
    {
        'urls': language_urls,
        'active_language': language
    }
)) }}
{% endblock %}

{% block main_content %}

    <header class="section">
        <div class="wrapper">
            <h1 class="title">
                <svg class="icon">
                    <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-triangle"></use>
                </svg> You’re about to delete this
            {{ user_digest.singular_human_type }}. Do you confirm?</h1>
        </div>
    </header>

    <div class="block block--preview">
        <div class="row__wrapper">
            <div>
                <div class="row__id">#{{ user_digest.id }}</div>
                <h2 class="row__title">{{ user_digest._title }}</h2>
                {% if user_digest._hint is not empty %}
                    <h3 class="row__hint">{{ user_digest._hint }}</h3>
                {% endif %}
                {% if user_digest._can_be_viewed and user_digest._view_page_url != '' %}
                    <h4 class="row__preview-url">{{ user_digest._view_page_url }}</h4>
                {% endif %}
            </div>

            {% if user_digest._image %}
                <div class="row__thumbnail">
                    <figure class="thumbnail">
                        <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': user_digest.type, 'id': user_digest.id }) }}" class="checkered">
                    </figure>
                </div>
            {% endif %}
        </div>

    </div>

    <form action="{{ path('admin-user-deletion-form-process', { 'language': language, 'type': user_digest.type }) }}" method="POST" enctype="multipart/form-data" id="user_deletion_form">
        <input type="hidden" name="type" value="{{ user_digest.type }}">
        <input type="hidden" name="id" value="{{ user_digest.id }}">

        <button type="submit" name="submit" class="btn btn--primary">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"></use>
            </svg>Yes, delete</button>
        <a class="link js-history" href="{{ user_digest._list_page_url }}">No, cancel</a>

    </form>

{% endblock %}
