<div class="row__wrapper">

    <input type="checkbox" name="selected_user_digests[]" id="{{ user_digest.type }}_{{ user_digest.id }}" value="{{ user_digest.type }}:{{ user_digest.id }}" class="row__select row__select--one">
    <label for="{{ user_digest.type }}_{{ user_digest.id }}" class="row__select__checkbox"></label>

    <div class="row__header">
        {% for badge_item in badge %}
            {% set badge_luminosity = (max(badge_item.red, badge_item.green, badge_item.blue) + min(badge_item.red, badge_item.green, badge_item.blue)) / 512.0 %}
            <div class="row__badge {% if badge_luminosity < 0.6 %}row__badge--dark{% endif %}" style="background-color: rgb({{ badge_item.red }}, {{ badge_item.green }}, {{ badge_item.blue }});">
                {% if badge_item.text is not empty %}<span>{{ badge_item.text }}</span>{% endif %}
            </div>
        {% endfor %}
        <div class="row__id">#{{ user_digest.id }}</div>
        <h3 class="row__title">
            {% if user_digest._can_be_viewed %}
                <a href="{{ user_digest._edition_page_url }}">
                    {{ user_digest._title }}
                </a>
            {% else %}
                {{ user_digest._title }}
            {% endif %}
        </h3>
        {% if user_digest._hint is not empty %}<h4 class="row__hint">{{ user_digest._hint }}</h4>{% endif %}
    </div>

    {% if user_digest._image %}
        <div class="row__thumbnail">
            {% if user_digest._can_be_viewed %}
                <a href="{{ user_digest._edition_page_url }}">
            {% endif %}
                <figure class="thumbnail">
                    <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': user_digest.type, 'id': user_digest.id }) }}" class="checkered">
                </figure>
            {% if user_digest._can_be_viewed %}
                </a>
            {% endif %}
        </div>
    {% endif %}

    <div class="row__tools">
        {% if user_digest._can_be_viewed %}
            <a href="{{ user_digest._edition_page_url }}" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#edit"/></svg>Edit</a>
        {% endif %}
    </div>

</div>
