<div class="block">
    <header>
        <h2>
            <svg class="icon" style="vertical-align: baseline;">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#database"/>
            </svg>
            Disk usage
        </h2>
    </header>
    <div style="padding: 0; margin: 0; width: 100%; border: solid #343957 1px;">
        <div style="padding: 0; margin: 0; width: {{ percentage_used }}%; height: 1em; background-color: #343957;"></div>
    </div>
    <p>{{ formatted_free_space }} free on {{ formatted_total_space }}</p>
</div>
