<div class="block">
    <header>
        <h2>
            <svg class="icon" style="vertical-align: baseline;">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#file-text"/>
            </svg>
            Recently modified
        </h2>
    </header>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Id</th>
                    <th>Article</th>
                    <th>Modification date</th>
                    <th>Modified by</th>
                <tr>
            </thead>
            <tbody>
                {% for last_modified_article in last_modified_articles %}
                    <tr>
                        <td>
                            {{ last_modified_article.article.singular_human_type|capitalize }}
                        </td>
                        <td>
                            <span class="row__id">#{{ last_modified_article.article.id }}</span>
                        </td>
                        <td>
                            <a href="{{ last_modified_article.article._edition_page_url }}"><strong>{{ last_modified_article.article._title }}</strong></a>
                        </td>
                        <td>
                            <span class="row__id"><time>{{ last_modified_article.article.modification_datetime|date('d.m.Y H:i:s') }}</time></span>
                        </td>
                        <td>
                            {% if last_modified_article.last_modification_user is not empty %}
                                {{ last_modified_article.last_modification_user._title }}
                            {% else %}
                                Unknown user
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>