<!doctype html>
{# Renders the main content first, so that additional css files can be added
dynamically in the <head> section. #}
{% set main_content_buffer %}
    {% block main_content %}{% endblock main_content %}
{% endset %}
<html class="mdzr-no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Viktor{% if page_title != '' %} • {{ page_title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta name="google" content="notranslate" />
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/Admin/css/main.css?3df2e84e31406065">
        {% block additional_css %}
        {{ admin_css_tags()|raw }}
        {% endblock %}
        {% include '@Admin/inc/favicons.twig' %}
    </head>
    <body data-base-path="{{ global.request.basepath }}">
        <!--[if lt IE 9]><div class="load-alert ie-alert">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade it</a> for a better web experience.</div><![endif]-->
        <noscript>
            <div class="load-alert js-alert">For full functionality of Viktor, it is best to <a href="https://www.whatismybrowser.com/guides/how-to-enable-javascript/" target="_blank">enable Javascript</a> in your web browser.</div>
        </noscript>

        {{ render(controller('Viktor\\Pack\\Admin\\Admin\\AdminElementsController::toolbar')) }}

        <nav class="navbar">
            <div class="navbar__overlay"></div>
            <div class="navbar__container">
                {% block language_switcher %}{% endblock %}
                {{
                    render(controller(
                        'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::navigationMenu',
                        {},
                        {
                            'markers': markers
                        }
                    )) }}
            </div>
        </nav>
        <div class="main-container">
            {{ main_content_buffer }}
        </div>
        <script src="{{ global.request.basepath }}/assets/Admin/js/init.js?1833290bcd340f23"></script>
        <script defer src="{{ global.request.basepath }}/assets/Admin/js/vendor/jquery-3.6.0.min.js"></script>
        <script defer src="{{ global.request.basepath }}/assets/Admin/js/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script defer src="{{ global.request.basepath }}/assets/Admin/js/plugins.min.js?ef79d490003b8a3d"></script>
        <script defer src="{{ global.request.basepath }}/assets/Admin/js/vendor/sortable-1.1.0.min.js"></script>
        <script defer src="{{ global.request.basepath }}/assets/Admin/js/main.min.js?5f2a42c289b763f5"></script>
        {% block additional_js %}
        {{ admin_js_tags()|raw }}
        {% endblock %}
    </body>
</html>
