<div class="section">
    <div class="wrapper">

        {{ render(controller(
        'App\\App\\AppController::breadcrumb',
        {},
        {
            'language': language,
            'markers': markers,
            'show_last_item': true
        }
    )) }}

        <header class="header">
            <h1 class="title">{{ t('News') }}</h1>
        </header>

        <ul class="items">
            {% for n, news_article_id in news_article_ids %}
                {{ render(controller(
                    'App\\NewsArticle\\NewsArticleController::item',
                    {},
                    {
                        'language': language,
                        'id': news_article_id
                    }
                )) }}
            {% endfor %}
        </ul>

        {% include 'inc/pagination.twig' %}

    </div>
</div>
