{% extends 'page-layout.twig' %}

{% block main %}

{{ render(controller(
    'App\\NewsArticle\\NewsArticleController::indexMainBlock',
    {},
    {
        'language': language,
        'current_page': current_page,
        'markers': markers
    }
)) }}

{% endblock %}
