<li class="item item--news">
    <a href="{{ news_article._view_page_url }}">
        {% if news_article.item_image is not empty %}
            {{ render(controller(
                'App\\Image\\ImageController::item',
                {},
                {
                    'language': language,
                    'type': news_article.item_image[0].type,
                    'id': news_article.item_image[0].id,
                    'template': 'ratio',
                    'format': 'natural',
                }
            )) }}
        {% elseif news_article.main_image is not empty %}
            {{ render(controller(
                'App\\Image\\ImageController::item',
                {},
                {
                    'language': language,
                    'type': news_article.main_image[0].type,
                    'id': news_article.main_image[0].id,
                    'template': 'ratio',
                    'format': 'natural',
                }
            )) }}
        {% endif %}
        <h3 class="title">{{ news_article.title }}</h3>
        <time datetime="{{ news_article.start_datetime|date('Y-m-d') }}">
            {{ news_article.start_datetime|date('d.m.Y') }}
        </time>
    </a>
</li>
