<article class="page">
<div class="wrapper">
    {{ render(controller(
        'App\\App\\AppController::breadcrumb',
        {},
        {
            'language': language,
            'markers': markers,
            'show_last_item': true
        }
    )) }}
    <header class="header">
        <h1 class="title">{{ news_article.title }}</h1>
    </header>

    {% if news_article.main_image is not empty %}
        {{ render(controller(
            'App\\Image\\ImageController::item',
            {},
            {
                'language': language,
                'type': news_article.main_image[0].type,
                'id': news_article.main_image[0].id,
                'template': 'ratio',
                'format': 'natural',
            }
        )) }}
    {% endif %}

    {% if news_article.body is not empty %}
        <div class="cke cke--body">
            {{ news_article.body|raw }}
        </div>
    {% endif %}

    {% include 'inc/files.twig' with {
        'files': news_article.files
    } %}
    {% include 'inc/medias.twig' with {
        'medias': news_article.medias
    } %}
    {% include 'inc/images.twig' with {
        'images': news_article.images
    } %}

    </div>
</article>
