{% extends 'page-layout.twig' %}

{% block main %}

{{ render(controller(
    'App\\NewsArticle\\NewsArticleController::viewMainBlock',
    {},
    {
        'language': language,
        'id': id,
        'markers': markers
    }
)) }}

{% endblock %}
