<div class="input">

    {% if attachment.file_path != '' %}
        <a href="{{ path('attachment-from-content-unit', {language: language, type: content_unit_type, id: content_unit_id, disposition: 'attachment'}) }}" class="link" title="{{ attachment.file_path }}"><svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#download"/>
            </svg>{{ attachment.file_path }}
        </a>
        {% if file_info._file_can_be_read %}
            <ul>
                <li>File size: {{ file_info._human_file_size }}</li>
                <li>Description: {{ file_info._file_description }}</li>
                <li>Mime type: {{ file_info._mime_type }}</li>
                <li>Original extension: {{ file_info._original_extension }}</li>
            </ul>
        {% endif %}
    {% else %}
        <button class="btn" disabled>No file attached.</button>
    {% endif %}

    <label for="{{ base_name }}">Upload / replace file</label>
    <input type="file" name="{{ base_name }}" id="{{ base_name }}">
    </div>
