{{ render(controller(
    'App\\ResponsiveImage\\ResponsiveImageController::picture',
    {
        'language': language,
        'responsive_format': 'cover',
        'type': content_unit.type,
        'id': content_unit.id,
        'alt': alt_text,
        'etag': content_unit._image.etag,
        'ratio': ratio,
        'objectposition': (((content_unit._uploaded_image.pivot_x / 10)|round) * 10) ~ '% ' ~ (((content_unit._uploaded_image.pivot_y / 10)|round) * 10)  ~ '%',
        'additional_class': additional_class,
        'loading': loading
    }
)) }}
{% if show_figcaption and (html_caption is not empty or credits is not empty) %}
    <figcaption>
        {% if html_caption is not empty %}
            {{ html_caption | raw }}
        {% endif %}
        {% if credits is not empty %}
            <small>{{ credits }}</small>
        {% endif %}
    </figcaption>
{% endif %}
