{% if aspectratio %}
    {% set ratio = aspectratio %}
{% endif %}

{{ render(controller(
    'App\\ResponsiveImage\\ResponsiveImageController::picture',
    {
        'language': language,
        'responsive_format': format,
        'type': content_unit.type,
        'id': content_unit.id,
        'alt': alt_text,
        'etag': content_unit._image.etag,
        'ratio': ratio,
        'loading': loading
    }
)) }}
{% if show_figcaption and (html_caption is not empty or credits is not empty) %}
    <figcaption>
        {% if html_caption is not empty %}
            {{ html_caption | raw }}
        {% endif %}
        {% if credits is not empty %}
            <small>{{ credits }}</small>
        {% endif %}
    </figcaption>
{% endif %}