<link rel="apple-touch-icon" sizes="180x180" href="{{ global.request.baseurl }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ global.request.baseurl }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ global.request.baseurl }}/favicon-16x16.png">
<link rel="manifest" href="{{ global.request.baseurl }}/site.webmanifest">
<link rel="mask-icon" href="{{ global.request.baseurl }}/safari-pinned-tab.svg" color="#dddddd">
<link rel="shortcut icon" href="{{ global.request.baseurl }}/favicon.ico">
<meta name="apple-mobile-web-app-title" content="{{ site_name }}">
<meta name="application-name" content="{{ site_name }}">
<meta name="msapplication-TileColor" content="#dddddd">
<meta name="theme-color" content="#dddddd">
