<header class="main-header">

    <div class="wrapper">

        <div class="main-header__bar">

            <div class="main-header__brand" aria-labelledby="logoTitle">
                <a href="{{ path('homepage', {'language': language}) }}">
                    {{ site_name }}
                </a>
            </div>

            <button aria-label="Menu" id="burger" class="main-header__burger js-menu">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32">
                    <defs>
                        <rect id="def-slice" width="32" height="4" rx="0" ry="0" fill="currentColor"/>
                    </defs>
                    <use xlink:href="#def-slice" class="slice slice--1" x="0" y="4"/>
                    <use xlink:href="#def-slice" class="slice slice--2" x="0" y="14"/>
                    <use xlink:href="#def-slice" class="slice slice--3" x="0" y="24"/>
                </svg>
            </button>

            <ul class="main-header__langs langs">
                <li class="is-active">
                    {{ language }}
                </li>
                {% for l, alternate_url in alternate_urls %}
                    <li>
                        <a rel="alternate" hreflang="{{ l }}" href="{{ alternate_url }}">
                            {{ l }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <form method="GET" action="./" class="search">
                <input type="hidden" name="inc" value="templates/Search__results">
                <input type="search" name="q" placeholder="Rechercher" autocomplete="off" class="search__input" aria-label="{{ t('Search') }}">
                <button type="submit" class="search__submit" aria-label="{{ t('Submit') }}">
                    <svg>
                        <use xlink:href="../assets/Front/img/sprite.svg#search"/>
                    </svg>
                </button>
            </form>

        </div>
    </div>

    <div class="main-header__nav">
        <div class="wrapper">
            {{ render(controller(
                'App\\App\\AppController::mainMenu',
                {},
                {
                'language': language,
                'markers': markers,
                'alternate_urls': alternate_urls
                }
            )) }}
        </div>
    </div>

</header>
