{% if user.type != 'unknown-user' %}
    <div class="viktor-toolbar">
        <strong class="viktor-toolbar__user">{{ user._title }}</strong>
        <a href="{{ url('logout') }}" class="viktor-toolbar__logout">log out</a>
        {% if main_content_unit is defined and main_content_unit is not empty and main_content_unit._can_be_edited %}
            <a href="{{ main_content_unit._edition_page_url }}" class="viktor-toolbar__edit" target="_blank" rel="noopener">edit this page</a>
        {% endif %}
    </div>
{% endif %}