<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% if seo_title != '' %}
                {% set title = seo_title %}
            {% endif %}
            {{ title }}
            {% if title != '' %}
                |
            {% endif %}{{ site_name }}</title>
        <meta name="description" content="{% if seo_description != '' %}{{ seo_description }}{% else %}{{ description }}{% endif %}">
        <meta property="og:site_name" content="{{ site_name }}">
        <meta property="og:type" content="{{ type }}">
        <meta property="og:title" content="{% if seo_title != '' %}{{ seo_title }}{% elseif title != '' %}{{ title }}{% else %}{{ site_name }}{% endif %}">
        <meta property="og:description" content="{% if seo_description != '' %}{{ seo_description }}{% else %}{{ description }}{% endif %}">
        {% if seo_image_reference is not empty %}
            <meta property="og:image" content="{{ path( 'image-from-content-unit', { 'language': language, 'format': 'og', 'type': seo_image_reference.type, 'id': seo_image_reference.id, } ) }}">
            <meta property="og:image:type" content="image/png">
            <meta property="og:image:width" content="1200">
            <meta property="og:image:height" content="630">
        {% elseif image != '' %}
            <meta property="og:image" content="{{ image }}">
            <meta property="og:image:type" content="image/png">
            <meta property="og:image:width" content="1200">
            <meta property="og:image:height" content="630">
        {% endif %}
        {% if url != '' %}<meta property="og:url" content="{{ url }}">{% endif %}
        {% if url != '' %}<link rel="canonical" href="{{ url }}">{% endif %}
        {% for l, alternate_url in alternate_urls %}
            <link rel="alternate" hreflang="{{ l }}" href="{{ alternate_url }}">
        {% endfor %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/Front/css/main.min.css?f9a75e0123e2db8c" media="all">
        {% block additional_css %}{% endblock %}
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/Front/css/print.min.css?f2f7e28bb85cc894" media="print">
        {% include 'favicons.twig' %}
        {% if app['viktor.environment'] == 'prod' %}
            <!-- Google Tag Manager -->

            <!-- End Google Tag Manager -->
        {% endif %}
    </head>
    <body>
        {% if app['viktor.environment'] == 'prod' %}
            <!-- Google Tag Manager (noscript) -->

            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
       <script>
            if (window.document.documentMode) {
                document.write('<div class="load-alert ie-alert" data-nosnippet> {{ t("ie-alert")|raw }}</div>');
            }
        </script>
        <noscript>
            <div class="load-alert js-alert" data-nosnippet>{{ t('js-alert')|raw }}</div>
        </noscript>

        <div class="skip-links js-aria-hideable">
            <a href="#main">{{ t('skip-to-main-content') | raw }}</a>
            <a href="#menu" class="js-menu">{{ t('skip-to-main-menu') | raw }}</a>
            <a href="#search">{{ t('skip-to-search') | raw }}</a>
        </div>

        {% include 'header.twig' %}
        <main class="main-container">
            {% block main %}{% endblock %}
        </main>
        {% include 'footer.twig' %}
        {% include 'viktor-toolbar.twig' %}

        <script defer="defer" src="{{ global.request.basepath }}/assets/Front/js/plugins.min.js?5acf69667d09e942"></script>
        <script defer="defer" src="{{ global.request.basepath }}/assets/Front/js/main.min.js?bb4b7ced214de4c2"></script>
        {% block additional_js %}{% endblock %}
    </body>
</html>
