<li class="row row--agenda">

        <input type="hidden" name="{{ base_name }}_id[{{ id }}]" value="{{ id }}">

        {% if not disabled %}
            <button class="js-remove-row" style="float: right;"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#x-circle"/></svg></button>
        {% endif %}

        <div class="input inline">
            <label>From</label>
            <input
                type="date"
                name="{{ base_name }}_dt_date[{{ id }}]"
                value="{{ dt|date("Y-m-d") }}"
                class="dt-date"
            >
            <input
                type="time"
                name="{{ base_name }}_dt_time[{{ id }}]"
                value="{{ dt|date("H:i") }}"
                class="dt-time"
                {% if all_day %}disabled{% endif %}
            >
        </div>

        {% if undefined_dt_end %}
            {% set dt_end_date_string = '' %}
            {% set dt_end_time_string = '' %}
        {% else %}
            {% set dt_end_date_string = dt_end|date("Y-m-d") %}
            {% set dt_end_time_string = dt_end|date("H:i") %}
        {% endif %}
        <div class="input inline">
            <label>To</label>
            <input
                type="date"
                name="{{ base_name }}_dt_end_date[{{ id }}]"
                value="{{ dt_end_date_string }}"
                class="dt-end-date"
            >
            <input
                type="time"
                name="{{ base_name }}_dt_end_time[{{ id }}]"
                value="{{ dt_end_time_string }}"
                class="dt-end-time"
                {% if all_day %}disabled{% endif %}
            >
        </div>

    <div class="input input-33 alpha">
        {% if venues|length > 0 %}
            <select name="{{ base_name }}_venue_id[{{ id }}]" class="venue_id">
                {% for venue in venues %}
                    <option value="{{ venue.id }}" {% if venue_id == venue.id %}selected{% endif %}>{{ venue._title }}</option>
                {% endfor %}
            </select>
        {% else %}
            <input type="hidden" name="{{ base_name }}_venue_id[{{ id }}]" value="0">
        {% endif %}
    </div>

    <div class="input input-33">
        <select name="{{ base_name }}_sale_status[{{ id }}]" class="sale_status">
            {% for k, possible_sale_status_label in possible_sale_statuses %}
                <option value="{{ k }}" {% if k == sale_status %}selected{% endif %}>{{ possible_sale_status_label }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input input-33 checkboxes omega">
        <label>
            <input
                type="checkbox"
                name="{{ base_name }}_all_day[{{ id }}]"
                value="1"
                class="all-day"
                {% if all_day %}checked{% endif %}
            >
            All&nbsp;day
        </label>
    </div>

    <div class="input inline">
        <label>External id</label>
        <input
            type="text"
            name="{{ base_name }}_external_id[{{ id }}]"
            value="{{ external_id }}"
            class="external-id"
        >
    </div>

    {% if use_tickets_urls %}<p style="clear: both;">Tickets URLs</p>{% endif %}
    {% for k, v in tickets_urls %}
        {% if use_tickets_urls %}
            <div class="i18n-toggle {% if language == k %} i18n-current i18n-show{% endif %}" data-language="{{ k }}">
                <div class="input input-80 alpha">
                    <input
                        type="text"
                        name="{{ base_name }}_tickets_url_{{ k }}[{{ id }}]"
                        value="{{ v }}"
                        class="tickets_url"
                    >
                </div>
                <div class="input input-20 omega">({{ k }})</div>
            </div>
        {% else %}
            <input type="hidden" name="{{ base_name }}_tickets_url_{{ k }}[{{ id }}]" value="">
        {% endif %}
    {% endfor %}

    {% if use_remarks %}<p style="clear: both;">Remarks</p>{% endif %}
    {% for k, v in remarks %}
        {% if use_remarks %}
            <div class="i18n-toggle {% if language == k %} i18n-current i18n-show{% endif %}" data-language="{{ k }}">
                <div class="input input-80 alpha">
                    <input
                        type="text"
                        name="{{ base_name }}_remark_{{ k }}[{{ id }}]"
                        value="{{ v }}"
                        class="remark"
                    >
                </div>
                <div class="input input-20 omega">({{ k }})</div>
            </div>
        {% else %}
            <input type="hidden" name="{{ base_name }}_remark_{{ k }}[{{ id }}]" value="">
        {% endif %}
    {% endfor %}

</li>
