{{ admin_add_js(global.request.basepath ~ '/assets/Agenda/admin-performances-field.js', {}) }}
{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<fieldset
    class="input performances-field {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
    {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    data-new-item-url="{{
        path(
            'admin-performances-field-item',
            {
                'language': language,
                'base_name': name,
                'sale_status': field_options.default_sale_status,
                'use_tickets_urls': field_options.use_tickets_urls,
                'use_remarks': field_options.use_remarks,
                'venue_content_unit_type': field_options.venue_content_unit_type,
                'possible_sale_statuses': possible_sale_statuses
            }
        )
    }}"
>
    <legend>
        {{ widget_options.label }}
        {% for message in app.session.flashbag.get(error_flashbag_name) %}
            <u>{{ message }}</u>
        {% endfor %}
        {% if widget_options.help_text_html is not empty %}
            <button class="help inactive">?</button>
            <div class="msg helptip">
                {{ widget_options.help_text_html|raw }}
            </div>
        {% endif %}
    </legend>
    <ul class="list">
        {% for k, v in value %}
            {{ render(controller(
                'Viktor\\Pack\\Agenda\\Field\\PerformancesFieldAppController::item',
                {
                    'base_name': name,
                    'language': language
                },
                {
                    'id': v.id,
                    'ts': v.ts,
                    'ts_end': v.ts_end,
                    'undefined_dt_end': v.undefined_dt_end,
                    'all_day': v.all_day,
                    'venue_id': v.venue_id,
                    'external_id': v.external_id,
                    'tickets_urls': v.tickets_urls,
                    'remarks': v.remarks,
                    'sale_status': v.sale_status,
                    'use_tickets_urls': field_options.use_tickets_urls,
                    'use_remarks': field_options.use_remarks,
                    'venue_content_unit_type': field_options.venue_content_unit_type,
                    'possible_sale_statuses': possible_sale_statuses,
                    'disabled': disabled
                }
            )) }}
        {% endfor %}
    </ul>
    {% if not disabled %}
        <button class="btn js-add-row"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus"></svg>Add a performance</button>
    {% endif %}
</fieldset>
