<div class="pivot">

    <a href="{{ path('download-image-from-content-unit', {language: language, type: content_unit_type, id: content_unit_id}) }}" class="link"><svg class="icon">
            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#download"/>
        </svg>{{ uploaded_image.file_path }}
    </a>

    {% if uploaded_image.file_path != '' %}
        <figure class="js-pivot">
            <div class="pivot__hint">
                <img src="{{ path('admin-uploaded-image-large', { 'language': language, 'type': content_unit_type, 'id': content_unit_id }) }}" class="checkered">
                <svg class="icon" style="top: {{ uploaded_image.pivot_y }}%; left: {{ uploaded_image.pivot_x }}%;">
                    <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#crosshair"/>
                </svg>
            </div>
        </figure>
    {% endif %}

    <div class="input">
        <label for="{{ base_name }}">Upload / replace file</label>
        <input type="file" name="{{ base_name }}" id="{{ base_name }}">
    </div>

    {% if uploaded_image.file_path != '' %}
        <input type="hidden" name="{{ base_name }}_pivot_x" value="{{ uploaded_image.pivot_x }}" class="pivot-x">
        <input type="hidden" name="{{ base_name }}_pivot_y" value="{{ uploaded_image.pivot_y }}" class="pivot-y">
    {% endif %}

</div>
