<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ app['viktor.config'].website_title }}</title>
        <style>
            body {
                font-family: sans-serif;
            }
            table {
                border-collapse: collapse;
            }
            td, th {
                border: solid #000000 1px;
                padding: 0.5em;
            }
        </style>
    </head>
    <body>
        {% block main %}
        {% endblock %}
    </body>
</html>
