@use "../base" as *
@use "../mixins" as m
	
.visually-hidden
	+m.visuallyhidden

figure
	position: relative
	width: 100%
	margin: 0
	img, video, iframe, svg
		display: block
		width: 100%
		height: auto
		border: none
		image-rendering: -webkit-optimize-contrast
	figcaption
		font-size: .75rem
		margin-top: .25rem

.ratio
	display: block
	position: relative
	padding-bottom: calc(100% / 1.5)
	height: 0
	width: 100%
	overflow: hidden
	background-color: rgba($medium, .5)
	img, video, iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.breadcrumb
	li
		display: inline-block
	a
		text-decoration: underline

.file__name
	text-decoration: underline

.table-wrapper
	width: 100%
	overflow: auto
	-webkit-overflow-scrolling: touch
	margin-bottom: 1.25em
	table
		margin-bottom: 0
	&::-webkit-scrollbar
		background-color: var(--back)
		height: .5rem
	&::-webkit-scrollbar-track
		background-color: var(--back)
	&::-webkit-scrollbar-thumb
		background-color: var(--front)

.sponsors
	margin-bottom: 2rem
	ul
		font-size: 0
		margin-left: -.5rem
		margin-right: -.5rem
		margin-bottom: .5rem
	li
		display: inline-block
		vertical-align: middle
		font-size: 1rem
		margin: 0
.sponsor
	padding: .5rem
	&__block
		display: block
		position: relative
		background: $white
		color: $black
		border-radius: 1rem
		max-width: 14rem
		height: 8rem
		padding: 1rem
	img
		position: relative
		z-index: 1
		display: block
		min-width: 6rem
		max-width: 12rem
		height: 6rem
		background-color: $white
		object-fit: contain

.cke--body, .files, .form-cta, .sponsors, .images, .medias, .content-box figure, .images figure, .medias figure, hr
	margin-top: 1.5rem
	margin-top: clamp(1.5rem, 0.7rem + 2.5vw, 2.5rem)
	margin-bottom: 1.5rem
	margin-bottom: clamp(1.5rem, 0.7rem + 2.5vw, 2.5rem)
	&:first-child
		margin-top: 0
	&:last-child
		margin-bottom: 0