@use "../base" as *
@use "../mixins" as m
	
button, textarea, input, select
	font-family: $base-ff
	color: inherit
	border-radius: 0
	margin-top: 0
	font-weight: 300
	&:focus
		outline: none
	&[disabled], &[readonly]
		color: $medium
		border-color: $lite
		background-color: $liter

button, textarea, select, input[type="search"], input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="password"], input[type="color"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"]
	appearance: none

input[type="radio"], input[type="checkbox"]
	border: none

button, input[type="submit"]
	background-color: transparent
	border: none
	display: inline-block
	width: auto

input, textarea, select
	font-size: 1rem
	line-height: 1.5
	padding: .5rem
	width: 100%
	background-color: $white
	border: .25rem solid $liter
	margin-bottom: .5rem
	+m.placeholder($dark)
	&:focus
		border-color: $black
		color: $black
	.error &
		+m.placeholder($white)
		border-color: $error
		background-color: $error
		color: $white

input[type="color"]
	padding: 0
	text-align: center
	width: 5rem
	height: 2.5rem

textarea
	resize: vertical

.input
	position: relative
	margin-bottom: .5rem
	p
		margin-top: .5rem
		color: $medium
	&.inline input, &.radios label, &.checkboxes label, &.radios input, &.checkboxes input
		display: inline-block
		width: auto
	&.radios, &.checkboxes
		label
			font-weight: normal
			margin-right: .5rem
			text-transform: none
			padding-left: 1.5rem
			text-indent: -1rem
			&:focus-within
				color: $white
				background: $black
				outline: 4px solid $black
		input
			margin-right: .25rem
			margin-bottom: 0
			width: 1rem
			height: 1rem
	&-range
		padding-right: 4rem
		output
			position: absolute
			bottom: 1rem
			right: 0
			min-width: 3rem
			font-weight: 700
			text-align: center
			background: $darker
			color: $white
			padding: .25rem .5rem
	&--btn
		.btn__wrapper
			position: relative
		input
			padding-right: 2.5rem
		button
			font-size: .875rem
			line-height: 2.5rem
			background: $liter
			color: $dark
			position: absolute
			right: .25rem
			top: .25rem
			width: 2.5rem
			height: 2.5rem
			text-align: center
			z-index: 10

fieldset
	padding: 1rem
	border: 1px solid $liter
	background-color: $liter
	margin-left: -1rem
	margin-right: -1rem
	margin-top: 1rem
legend
	text-transform: uppercase
	padding: 0 .5rem
	u
		text-transform: none
		text-decoration: none
		font-size: .75rem

label
	display: block
	margin-bottom: .25rem
	font-weight: 700
	padding: 0 .5rem

	u
		text-decoration: none
		color: $medium
		font-weight: 400
		.error &
			color: $error

.msg
	display: block
	padding: .25rem .75rem
	color: $lite
	margin-bottom: .5rem
	font-size: .875rem
	&::before
		display: block
		float: left
		margin-right: .5em
	&--error
		color: $error
		&::before
			content: "🚨"
	&--warning
		color: $warning
		&::before
			content: "⚠️"
	&--success
		color: $success
		&::before
			content: "✅"
	&--tip
		color: $lite
		&::before
			content: "ℹ️"

.help
	&__btn
		cursor: help
		&:hover, &:focus
			.msg
				display: block
	&__msg
		display: none
		position: absolute
		top: 2.5rem
		right: -.25rem
		width: 18rem
		margin-top: .25rem
		padding: .5rem
		z-index: 200
		text-align: right
		&:before
			display: block
			position: absolute
			content: ""
			top: -.5rem
			right: 1.25rem
			margin-right: -.25rem
			width: 0
			height: 0
			border-style: solid
			border-width: 0 .5rem .5rem .5rem
			border-color: transparent transparent $lite transparent
		&:hover
			display: block

.bootstrap-maxlength
	position: relative
	float: right
	margin-left: -4rem
	background-color: $black
	color: $white
	padding: 0 .5rem
	height: 1.5rem
	width: 4rem
	text-align: center
	font-size: .875rem
	line-height: 1.5rem
	-webkit-font-smoothing: antialiased
	z-index: 10 !important

@media #{$mobile}

	.checkbox
		display: inline-block
		vertical-align: top
		width: 50%

@media #{$phablet}

	form
		+m.clearfix
	.input
		width: 100%
		float: left
		&-20, &-25, &-33, &-40, &-50, &-66, &-60, &-75, &-80
			padding: 0 .5rem
		&-20
			width: 20%
		&-25
			width: 25%
		&-33
			width: 33.33333%
			width: calc(100% / 3)
		&-40
			width: 40%
		&-50
			width: 50%
		&-60
			width: 60%
		&-66
			width: 66.66666%
			width: calc(100% / 1.5)
		&-75
			width: 75%
		&-80
			width: 80%
	button[type=submit]
		clear: both
	.alpha
		padding-left: 0
		clear: both
	.omega
		padding-right: 0

	.checkbox
		width: 33.33333%
		width: calc(100% / 3)
