@use "../base" as *
@use "../mixins" as m
	
.main-header
	position: fixed
	top: 0
	left: 0
	width: 100%
	min-width: 20rem
	z-index: 100
	&__bar
		position: relative
		background-color: var(--back)
		border-bottom: 1px solid var(--front)
		z-index: 20
	&__brand
		display: block
		width: 6rem
		height: 3rem
		line-height: 3rem
		a
			&:focus, &:hover
				text-decoration: underline

	&__shortcuts
		position: absolute
		top: 0
		left: 6rem
		right: 12rem
		overflow: hidden
		height: 3rem
		font-size: 0
		text-align: right
		z-index: 4
		&::before
			content: ""
			display: inline-block
			vertical-align: top
			width: 1rem
			height: 3rem
		li
			display: inline-block
			vertical-align: top
			height: 3rem
			line-height: 3rem
			white-space: nowrap
			font-size: 1rem
			margin-left: 1rem
		a
			display: block
			&:hover, &:focus-visible 
				text-decoration: underline

	&__nav
		position: fixed
		top: $offset
		top: var(--offset)
		right: 0
		width: 100%
		z-index: 10
		min-width: 20rem
		height: 100vh
		height: calc(100 * var(--vh))
		padding: $spacing
		padding: var(--spacing)
		background-color: var(--back)
		color: var(--front)
		transition: transform .25s linear
		transform: translateY(-100%)
		overflow-y: auto
		text-align: right
		.menu-open &
			transform: translateY(0)

	&__burger
		position: absolute
		top: 0
		right: -.75rem
		display: block
		width: 3rem
		height: 3rem
		border: none
		border-radius: 0
		background: transparent
		padding: 0
		cursor: pointer
		z-index: 101
		svg
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 1.5rem
			height: 1.5rem
		.slice
			&--1
				transition: transform 0.3s ease
				transform-origin: 2px 6px
				transform: rotate(0deg)
			&--2
				opacity: 1
				transition: opacity 0.1s ease
			&--3
				transition: transform 0.3s ease
				transform-origin: 2px 26px
				transform: rotate(0deg)
		.menu-open &
			.slice--1
				transform: translateX(4px) rotate(45deg)
			.slice--2
				opacity: 0
			.slice--3
				transform: translateX(4px) rotate(-45deg)

.search
	position: absolute
	top: .5rem
	right: 5.25rem
	left: 0
	height: 0
	z-index: 22
	label
		display: none
	&__input
		position: absolute
		display: block
		top: 0
		right: 0
		width: 2rem
		height: 2rem
		color: inherit
		font: inherit
		border: none
		border-bottom: 1px solid var(--front)
		border-radius: 0
		appearance: none
		z-index: 11
		opacity: 0
		transition: opacity .25s
		cursor: pointer
		+m.placeholder()
		background-color: var(--back)
		color: var(--front)
	&__input:focus, &:focus-within input, .is-search & input
		opacity: 1
		padding: .5rem 2rem .5rem 0
		z-index: 9
		width: 100%
		cursor: default
	&__submit
		display: block
		position: absolute
		top: 0
		right: 0
		z-index: 10
		width: 2rem
		height: 2rem
		padding: 0
		cursor: pointer
		appearance: none
		border-radius: 0
		border: none
		background-color: var(--back)
		color: var(--front)
		svg
			display: block
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 1.25rem
			height: 1.25rem

.langs
	position: absolute
	top: .5rem
	right: 2.75rem
	background-color: var(--front)
	color: var(--back)
	border-radius: 1.25rem
	z-index: 101
	&:hover li
		display: inline-block
	li
		display: none
		width: 2rem
		height: 2rem
		text-align: center
		font-size: 1rem
		line-height: 2
		&.is-active
			display: inline-block
	a
		display: block
		width: 2rem
		height: 2rem
		&:focus, &:hover
			text-decoration: underline
