@use "../base" as *

.items
	font-size: 0
	letter-spacing: normal
	margin-left: $gutter * -1
	margin-left: calc(var(--gutter) * -1)
	margin-right: $gutter * -1
	margin-right: calc(var(--gutter) * -1)
	li
		font-size: 1rem
		display: inline-block
		vertical-align: top
		width: 100%
		padding: 0 $gutter
		padding: 0 var(--gutter)
		margin-bottom: $gutter * 2
		margin-bottom: calc(var(--gutter) * 2)
	&--6 li
		width: 50%

@media #{$phablet}
	.items
		li
			width: 50%
		&--6 li
			width: 33.33333%
			
		&--no-orphans--odd
			li:first-child
				width: 100%

@media #{$tablet}
	.items
		li
			width: 50%
		&--5 li
			width: 33.3333%
		&--6 li
			width: 25%
	
@media #{$desktop}
	.items
		li
			width: 33.33333%
		&--2 li
			width: 50%
		&--5 li
			width: 25%
		&--6 li
			width: 20%

		&--no-orphans
			li, &--odd li:nth-child(1)
				width: 33.33333%
			&--2 li, &--4 li, &--5 li:nth-child(-n+2), &--7 li:nth-child(-n+4), &--8 li:nth-child(-n+2), &--10 li:nth-child(-n+4), &--11 li:nth-child(-n+2)
				width: 50%
			&--1 li
				width: 100% !important

@media #{$large}
	.items
		&--4 li
			width: 25%
		&--5 li
			width: 20%
		&--6 li
			width: calc(100% / 6)