@use "../base" as *
@use "../mixins" as m

\:root
	--offset: #{$offset}
	--spacing: #{$spacing}
	--leading: #{$leading}
	--gutter: #{$gutter}
	--vh: 1vh

@supports (height: 1dvh)
	:root
		--vh: 1dvh
	
html, *, *:before, *:after, input[type=search]
	box-sizing: border-box
		
html, body
	position: relative
	min-height: calc(var(--vh, 1vh) * 100)
	background: var(--back)
	color: var(--front)

html
	scroll-behavior: smooth
	font-size: 100%
	+default-scheme
	@media screen and (prefers-color-scheme: dark)
		+dark-scheme

::selection
	background-color: var(--front)
	color: var(--back)
	text-shadow: none

body
	margin: 0
	width: 100%
	min-width: 20rem
	display: flex
	flex-direction: column

.load-alert
	z-index: 10000
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	text-align: center
	background: $error
	color: $white
	padding: 1rem
	a
		text-decoration: underline

.viktor-toolbar
	background-color: $black
	color: $white
	position: fixed
	left: 0
	bottom: 0
	width: 100%
	padding: .25rem .5rem
	z-index: 100
	transition: transform .5s linear
	transform: translateX(-100%)
	&::after
		position: absolute
		content: '+'
		text-align: center
		left: 100%
		top: 0
		width: 1.75rem
		height: 100%
		background-color: $black
		border-top-right-radius: .5rem
		line-height: 1.75rem
	a
		margin-left: 1em
		text-decoration: underline
	&:hover, &:focus-within
		transform: translateX(0)

.main-container
	display: block
	flex: 1 0 auto
	padding-top: $offset
	padding-top: var(--offset)

.main-header, .main-footer
	display: block
	flex: 0 0 auto

.skip-links 
	left: -999px
	position: absolute
	top: auto
	width: 1px
	height: 1px
	overflow: hidden
	z-index: -999
	background-color: $white
	background-color: var(--back)
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	&:focus-within
		left: 0
		top: 0
		width: 100%
		height: 5rem
		overflow: auto
		z-index: 1002
		padding: .5rem 0
	a
		display: inline-block
		text-align: left
		padding: .5rem
		font-size: .875rem
		line-height: 1rem
		margin: 0 .5rem
		&::first-letter
			text-transform: uppercase
		&:focus
			outline-color: transparent
			border-color: transparent !important
			text-decoration: none !important
			outline-width: .25rem
			outline-style: dashed
			outline-offset: .125rem
			outline-color: $black
			outline-color: var(--focus)	

.section
	position: relative
	padding-top: $leading
	padding-top: var(--leading)
	padding-bottom: $leading
	padding-bottom: var(--leading)

.wrapper
	margin: 0 auto
	width: 100%
	max-width: 80rem
	padding-left: $spacing
	padding-left: var(--spacing)
	padding-right: $spacing
	padding-right: var(--spacing)

@media #{$phablet}
	.viktor-toolbar__user
		display: inline-block

@media #{$tablet}
	\:root
		--spacing: 2rem
		--leading: 2rem
		--gutter: 1rem

@media #{$desktop}
	\:root
		--spacing: 3rem
		--leading: 3rem
		--gutter: 2rem

@media #{$large}
	\:root
		--spacing: 4rem