@use "../base" as *
@use "../mixins" as m

body
	font-family: $base-ff
	font-size: 100%
	line-height: 1.25
	font-weight: 400
	font-style: normal
	font-kerning: normal
	font-variant-ligatures: common-ligatures contextual
	font-variant-numeric: proportional-nums
	font-feature-settings: "kern", "liga", "clig", "calt", "pnum"
	text-size-adjust: none

strong, b
	font-weight: 700

sub, sup
	font-size: 75%
	line-height: .5

input, textarea, button, select, a
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	&:focus
		outline-color: transparent
		&-visible
			border-color: transparent !important
			text-decoration: none !important
			outline-width: .25rem
			outline-style: dashed
			outline-offset: .125rem
			outline-color: $black
			outline-color: var(--focus)	

a
	color: inherit
	text-decoration: none
	&:visited, &:active, &:hover
		color: inherit

html:lang(fr) q
	quotes: '« ' ' »' '“' '”'
html:lang(nl) q
	quotes: '“' '”' '‘' '’'

// LISTS
ul
	list-style: none
	padding: 0
	margin: 0

// TYPOGRAPHY
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------

// BODY TEXT
p
	margin: 0

hr
	border: none
	border-top: .125rem solid inherit
	background: transparent
	height: .125rem
	width: 100%
	margin: 2rem 0

table
	font-size: .875rem
	border: 0
	width: 100%
	border-spacing: 0
	border-collapse: collapse
	border-top: .0625rem solid var(--front)
	margin-bottom: 1.625em
	caption
		padding: .5rem
		border-top: .0875rem solid var(--front)
	td, th
		position: relative
		padding: .5rem
		width: auto
		vertical-align: middle
		text-align: left
		white-space: wrap
		background-color: transparent
		border-bottom: .0875rem solid var(--front)
		*
			margin: 0 !important
			padding: 0 !important
	th
		vertical-align: bottom
		background-color: var(--front)
		color: var(--back)
		font-weight: 400

.cke
	font-size: 1rem
	font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem)
	line-height: 1.25
	p
		margin-bottom: 1.25em
		&:last-child
			margin-bottom: 0
	h2, h3
		font-weight: 700
		&:first-child
			margin-top: 0
	h2
		font-size: 200%
		margin: 0.625em 0
	h3
		font-size: 150%
		margin: .833333em 0

	ul
		list-style-type: disc
	ul, ol
		padding: 0
		margin-left: 0
		padding-left: 1em
		margin-top: 0
		margin-bottom: 1em
		ul, ol
			margin-bottom: 0
			float: none
		&:last-child
			margin-bottom: 0
	li
		padding-bottom: .25em
		li
			padding-bottom: 0

	a
		text-decoration: underline
		+m.word-wrap
