{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
        'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
        {
            'urls': language_urls,
            'active_language': language
        }
    )) }}
{% endblock %}

{% block main_content %}
    <header class="section section--liter">
        <div class="wrapper">
            {% if current_file != 'index.md' %}
                <a href="{{ path('admin-doc', { language: language, docpool: 'content', file: 'index.md' }) }}" class="link link--large js-history">
                    <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#arrow-left-circle"/></svg>
                </a>
            {% endif %}
            <h1 class="title title--header">Viktor 4 documentation</h1>
        </div>
    </header>
    <div class="section">
        <div class="wrapper">
            {{ processed_html|raw }}
        </div>
    </div>
{% endblock %}
