{% for field_name, field_widget in fields_widgets %}
    {{ render(controller(
        'Viktor\\Pack\\Admin\\Field\\FieldWidgetController::advancedSearchForm',
        {
            'field_widget': field_widget,
            'language': language,
        }
    )) }}
{% endfor %}
