{% for section_name, section_description in sections %}
    {% if section_description.fields is not empty %}
        <div class="datagroup js-toggle js-toggle-datagroup" data-section-name="{{ section_name }}">
            <header class="datagroup__header datagroup__header--toggle js-toggle-btn {% if not section_description.collapse %}active{% endif %}" data-target="#datagroup_{{ section_name }}" data-section-name="{{ section_name }}">
                <h3 class="datagroup__title">{{ section_description.label }}</h3>
                <div class="datagroup__toggle">
                    <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#chevron-down"/></svg>
                </div>
            </header>
            <div class="datagroup__content js-toggle-target" id="datagroup_{{ section_name }}" style="{% if section_description.collapse %}display: none;{% endif %}">
                {% for field_name in section_description.fields %}
                    {{ render(controller(
                        'Viktor\\Pack\\Admin\\Field\\FieldWidgetController::form',
                        {
                            'field_widget': fields_widgets[field_name],
                            'language': language
                        }
                    )) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
