<form method="GET" action="{{ form_url }}" class="sort-options">
    <label>Sort by</label>
    <select name="{{ base_name }}_option">
        <option value="">&mdash;</option>
        {% for option in options %}
            <option value="{{ option.sort_option }}" {% if option.selected %}selected{% endif %}>{{ option.label }}</option>
        {% endfor %}
    </select>
    <select name="{{ base_name }}_direction">
        {% for direction in directions %}
            <option value="{{ direction.sort_direction }}" {% if direction.selected %}selected{% endif %}>{{ direction.label }}</option>
        {% endfor %}
    </select>
    <input name="{{ base_name }}_submit" type="submit" value="Sort" class="btn">
</form>
