<li class="item item--banner">
    <a href="{{ url }}" {% if '_blank' in banner.target %} target="_blank" rel="noopener" {% endif %}>
        {% if banner.main_image is not empty %}
            {% set image_type = banner.main_image[0].type %}
            {% set image_id = banner.main_image[0].id %}
        {% elseif linked_content_unit is not empty %}
            {% if linked_content_unit.item_image is not empty %}
                {% set image_type = linked_content_unit.item_image[0].type %}
                {% set image_id = linked_content_unit.item_image[0].id %}
            {% elseif linked_content_unit.main_image is not empty %}
                {% set image_type = linked_content_unit.main_image[0].type %}
                {% set image_id = linked_content_unit.main_image[0].id %}
            {% endif %}
        {% endif %}
        {% if image_id is defined %}
            <figure>
                {{ render(controller(
                    'App\\Image\\ImageController::item',
                    {},
                    {
                        'language': language,
                        'type': 'image',
                        'id': image_id,
                        'format': 'natural',
                        'template': 'contain',
                    }
                )) }}
            </figure>
        {% endif %}
        <article>
            <h3 class="title">{{ banner.title }}</h3>
        </article>
    </a>
</li>
