{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
    'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
    {
        'urls': language_urls,
        'active_language': language
    }
)) }}
{% endblock %}

{% block main_content %}

    <header class="section">
        <div class="wrapper">
            <h1 class="title">
                <svg class="icon">
                    <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-triangle"></use>
                </svg> You’re about to delete this
            {{ article_digest.singular_human_type }}. Do you confirm?</h1>
        </div>
    </header>

    <ul class="list">
        <li class="row">
            <div class="row__wrapper">
                <div class="row_header">
                    <div class="row__id">#{{ article_digest.id }}</div>
                    <h2 class="row__title">{{ article_digest._title }}</h2>
                    {% if article_digest._hint is not empty %}
                        <h3 class="row__hint">{{ article_digest._hint }}</h3>
                    {% endif %}
                </div>

                {% if article_digest._image %}
                    <div class="row__thumbnail">
                        <figure class="thumbnail">
                            <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': article_digest.type, 'id': article_digest.id }) }}" class="checkered">
                        </figure>
                    </div>
                {% endif %}
            </div>
        </li>

    </ul>

    <form action="{{ path('admin-article-deletion-form-process', { 'language': language, 'type': article_digest.type }) }}" method="POST" enctype="multipart/form-data" id="article_deletion_form">
        <input type="hidden" name="type" value="{{ article_digest.type }}">
        <input type="hidden" name="id" value="{{ article_digest.id }}">

        <button type="submit" name="submit" class="btn btn--primary">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"></use>
            </svg>Yes, delete</button>
        <a class="link js-history" href="{{ article_digest._list_page_url }}">No, cancel</a>

    </form>

{% endblock %}
