<div class="row__wrapper">

    <input type="checkbox" name="selected_content_units[]" id="{{ article_digest.type }}_{{ article_digest.id }}" value="{{ article_digest.type }}:{{ article_digest.id }}" class="row__select row__select--one">
    <label for="{{ article_digest.type }}_{{ article_digest.id }}" class="row__select__checkbox"></label>

    <div class="row__header">
        {% for badge_item in badge %}
            {% set badge_luminosity = (max(badge_item.red, badge_item.green, badge_item.blue) + min(badge_item.red, badge_item.green, badge_item.blue)) / 512.0 %}
            <div class="row__badge {% if badge_luminosity < 0.6 %}row__badge--dark{% endif %}" style="background-color: rgb({{ badge_item.red }}, {{ badge_item.green }}, {{ badge_item.blue }});">
                {% if badge_item.text is not empty %}<span>{{ badge_item.text }}</span>{% endif %}
            </div>
        {% endfor %}
        <div class="row__id">#{{ article_digest.id }}</div>
        <h3 class="row__title">
            {% if article_digest._can_be_viewed %}
                <a href="{{ article_digest._edition_page_url }}">{{ article_digest._title }}</a>
            {% else %}
                {{ article_digest._title }}
            {% endif %}
        </h3>
    {% if article_digest._hint is not empty %}<h4 class="row__hint">{{ article_digest._hint }}</h4>{% endif %}
    </div>

    {% if article_digest._image %}
        <div class="row__thumbnail">
            {% if article_digest._can_be_viewed %}
                <a href="{{ article_digest._edition_page_url }}">
            {% endif %}
                <figure class="thumbnail">
                    <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': article_digest.type, 'id': article_digest.id }) }}" class="checkered">
                </figure>
            {% if article_digest._can_be_viewed %}
                </a>
            {% endif %}
        </div>
    {% endif %}

    <div class="row__tools">
        {% if use_published %}
            <ul class="row__status">
                {% for language_code, language_name in app['viktor.config']['available_languages'] %}
                    {% set status_class = 'status--nope' %}
                    {% if publication_statuses[language_code] == 'published' %}
                        {% set status_class = 'status--yep' %}
                    {% elseif publication_statuses[language_code] == 'scheduled' %}
                        {% set status_class = 'status--later' %}
                    {% endif %}
                    <li class="status {{ status_class }} {% if language_code == language %}status--active{% endif %}">
                        {% if language_code == language %}{{ language_code }}{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <button class="row__more-btn link link--large js-toggle-btn" data-target="#row_more_{{ article_digest.id }}"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#chevron-down"/></svg></button>

    </div>

</div>

<div class="row__more">
    <div class="row__inner js-toggle-target" id="row_more_{{ article_digest.id }}">
        {% if article_digest._description %}
            <div class="row__description">
                {{ article_digest._description|raw }}
            </div>
        {% endif %}
        {% if article_digest._can_be_viewed %}
            <a href="{{ article_digest._edition_page_url }}" class="btn btn--primary btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#edit"/></svg>Edit</a>
        {% endif %}
        {% if article_digest._can_be_viewed and article_digest._view_page_url != '' %}
            <a href="{{ article_digest._view_page_url }}" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#eye"/></svg>Preview</a>
        {% endif %}
        {% if article_digest._can_be_viewed and article_digest._can_be_created %}
            <a href="{{ article_digest._duplication_page_url }}" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#copy"/></svg>Duplicate</a>
        {% endif %}
        {% if article_digest._can_be_deleted %}
            <a href="{{ article_digest._deletion_page_url }}" class="link"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</a>
        {% endif %}
    </div>
</div>
