{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
        'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
        {
            'urls': language_urls,
            'active_language': language
        }
    )) }}
{% endblock %}

{% block main_content %}
    <header class="section section--liter">
        <div class="wrapper">
            <h1 class="title title--header">About Viktor</h1>
        </div>
    </header>
    <div class="section">
        <div class="wrapper">
            <p>Version {{ version }}</p>
            <h2>Contributors</h2>
            <ul>
                <li>Dorothée Dinne</li>
                <li>Alexander Heming</li>
                <li>Alexandre Pérard</li>
                <li>Gabriel Samson</li>
                <li>Alessia Scaccia</li>
                <li>Lieselot Verdeyen</li>
                <li>Olivier Wauters</li>
            </ul>
        </div>
    </div>
{% endblock %}
