    {% if display_selection_checkbox %}
        <input type="checkbox" name="selected_content_units[]" id="{{ content_unit.type }}_{{ content_unit.id }}" value="{{ content_unit.type }}:{{ content_unit.id }}" class="row__select row__select--one">
        <label for="{{ content_unit.type }}_{{ content_unit.id }}" class="row__select__checkbox"></label>
    {% endif %}

    <div class="row__header">
        <div class="row__id">{{ content_unit.singular_human_type|capitalize }} #{{ content_unit.id }}</div>
        <h3 class="row__title">
            {% if content_unit._can_be_viewed %}
                <a href="{{ content_unit._edition_page_url }}" target="_blank">
                    {{ content_unit._title }}
                </a>
            {% else %}
                {{ content_unit._title }}
            {% endif %}
        </h3>
        {% if content_unit._hint is not empty %}<h4 class="row__hint">{{ content_unit._hint }}</h4>{% endif %}
    </div>

    {% if content_unit._image %}
        <div class="row__thumbnail">
            {% if content_unit._can_be_viewed %}
                <a href="{{ content_unit._edition_page_url }}" target="_blank">
            {% endif %}
                <figure class="thumbnail">
                    <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': content_unit.type, 'id': content_unit.id }) }}" class="checkered">
                </figure>
            {% if content_unit._can_be_viewed %}
                </a>
            {% endif %}
        </div>
    {% endif %}
