<div class="dashboard-default">
    <header class="section">
        <div class="wrapper">
            <h1>Hello {{ user.title }}!</h1>
        </div>
    </header>
</div>

{{ render(controller(
    'Viktor\\Pack\\Admin\\Dashboard\\DashboardController::recentlyModified',
    {},
    {
        'language': language
    }
)) }}

{{ render(controller(
    'Viktor\\Pack\\Admin\\Dashboard\\DashboardController::diskUsage',
    {},
    {
        'language': language
    }
)) }}

