{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}

{{ render(controller(
    'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
    {
        'urls': language_urls,
        'active_language': language
    }
)) }}

{% endblock %}

{% block main_content %}

{{ render(controller(
    'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::dashboardContent',
    {
        'urls': language_urls,
        'active_language': language
    }
)) }}

{% endblock %}
