{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
        'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
        {
            'urls': language_urls,
            'active_language': language
        }
    )) }}
{% endblock %}

{% block main_content %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="msg msg--success">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#check"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="msg msg--error">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-octagon"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}
    <header class="section section--liter">
        <div class="wrapper">
            {% if action_type == 'delete' %}
                <h1 class="title title--header">Delete</h1>
            {% endif %}
        </div>
    </header>
    <div class="section section--liter">
        <div class="wrapper">
            <form method="POST" action="{{ path('admin-process-misc-index-form', {'language': language}) }}">
                <ul class="list">
                    {% for content_unit in content_units %}
                        <li class="row">
                            <div class="row__wrapper">
                                {{ render(controller(
                                    'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitCard',
                                    {
                                        'language': language,
                                        'content_unit': content_unit,
                                        'display_selection_checkbox': 0
                                    }
                                )) }}
                            </div>
                            <input type="hidden" name="selected_content_units[]" value="{{ content_unit.type }}:{{ content_unit.id }}">
                        </li>
                    {% endfor %}
                </ul>
                <input type="hidden" name="action_type" value="{{ action_type }}">
                <input type="hidden" name="redirection_url" value="{{ redirection_url }}">
                <hr>
                {% if action_type == 'delete' %}
                    <p>Are you sure you want to delete these items?</p>
                    <p>
                        <a class="link" href="{{ complete_redirection_url }}">
                            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#arrow-left-circle"></use></svg>
                            No, cancel
                        </a>
                        <button type="submit" class="btn btn--primary btn--resp">
                            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"></use></svg>
                            Yes, delete
                        </button>
                    </p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
