<ul class="navbar__menu">

    <li class="{% if 'dashboard' in markers %}active{% endif %}">
        <svg class="icon">
            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#home"/>
        </svg>
        <a href="{{ path('admin-index', { language: language }) }}" class="{% if 'dashboard' in markers %}active{% endif %}">Dashboard</a>
    </li>

    {% set has_an_active_descendant = false %}
    {% set submenu_content %}
        <ul>
            {% for content_unit_model in content_unit_models %}
                {% set menu_item_is_active = (content_unit_model.type in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                {% if content_unit_model._can_be_listed %}
                    <li>
                        <a href="{{ content_unit_model._list_page_url }}?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                            {{ content_unit_model.plural_human_type|capitalize }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endset %}
    <li class="fold {% if has_an_active_descendant %}active{% endif %}">
        <svg class="icon">
            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#zap"/>
        </svg>
        <button class="toggle-fold">Content units</button>
        {{ submenu_content }}
    </li>

    <li class="{% if 'about' in markers %}active{% endif %}">
        <svg class="icon">
            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#info"/>
        </svg>
        <a href="{{ path('admin-about', { language: language }) }}" class="{% if 'about' in markers %}active{% endif %}">About</a>
    </li>

</ul>
