{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
        'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
        {
            'urls': language_urls,
            'active_language': language
        }
    )) }}
{% endblock %}

{% block main_content %}
    <header class="section section--liter">
        <div class="wrapper">
            <h1 class="title title--header">Results for <em>{{ search_terms }}</em> [{{ content_units|length }}]</h1>
        </div>
    </header>

    {% for message in app.session.flashbag.get('success') %}
        <div class="msg msg--success">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#check"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="msg msg--error">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-octagon"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}

    <div class="section section--liter">

        <div class="wrapper">

            {% if content_units|length == 0 %}
                <p>No results.</p>
            {% endif %}
            <form method="POST" action="{{ path('admin-misc-index-form', {'language': language}) }}">
                <ul class="list">
                    {% for content_unit in content_units %}
                        <li class="row">
                            <div class="row__wrapper">
                                {{ render(controller(
                                    'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitCard',
                                    {
                                        'language': language,
                                        'content_unit': content_unit,
                                        'display_selection_checkbox': 1
                                    }
                                )) }}
                            </div>
                        </li>
                    {% endfor %}

                    <li class="row actions actions--bottom">
                        <div class="row__wrapper row__wrapper--actions">
                            <input type="checkbox" id="checkall" class="row__select row__select--all">
                            <label for="checkall" class="row__select__checkbox"></label>
                            <button class="link" type="submit" name="action_type" value="delete" disabled><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</button>
                        </div>
                    </li>

                </ul>
                {{
                    render(controller(
                        'Viktor\\Pack\\Admin\\Pagination\\PaginationWidgetController::pager',
                        {
                            'pagination': pagination,
                            'pagination_widget': pagination_widget
                        }
                    ))
                }}
                <input type="hidden" name="redirection_url" value="{{ global.request.requesturi }}">
            </form>

        </div>

    </div>
{% endblock %}
