<ul class="navbar__menu">

    <li class="{% if 'dashboard' in markers %}active{% endif %}">
        <svg class="icon">
            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#home"/>
        </svg>
        <a href="{{ path('admin-index', { language: language }) }}" class="{% if 'dashboard' in markers %}active{% endif %}">Dashboard</a>
    </li>

    {% set has_an_active_descendant = false %}
    {% set show_submenu = false %}
    {% set submenu_content %}
        <ul>
            {% if content_unit_models['homepage'] is defined and content_unit_models['homepage']._can_be_listed %}
                {% set menu_item_is_active = ('homepage' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/articles/homepage?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        Homepages
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
            {% if content_unit_models['banner'] is defined and content_unit_models['banner']._can_be_listed %}
                {% set menu_item_is_active = ('banner' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/articles/banner?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        Banners
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
            {% if content_unit_models['news-article'] is defined and content_unit_models['news-article']._can_be_listed %}
                {% set menu_item_is_active = ('news-article' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/articles/news-article?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        News articles
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
            {% if content_unit_models['static-page'] is defined and content_unit_models['static-page']._can_be_listed %}
                {% set menu_item_is_active = ('static-page' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/articles/static-page?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        Static pages
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
            {% if content_unit_models['news-category'] is defined and content_unit_models['news-category']._can_be_listed %}
                {% set menu_item_is_active = ('news-category' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/nodes/news-category?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        News categories
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
        </ul>
    {% endset %}
    {% if show_submenu %}
        <li class="fold {% if has_an_active_descendant %}active{% endif %}">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#file-text"/>
            </svg>
            Website content
            {{ submenu_content }}
        </li>
    {% endif %}

    {% set has_an_active_descendant = false %}
    {% set show_submenu = false %}
    {% set submenu_content %}
        <ul>
            {% if content_unit_models['menu-item'] is defined and content_unit_models['menu-item']._can_be_listed %}
                {% set menu_item_is_active = ('menu-item' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/nodes/menu-item?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        Navigation menu
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
        </ul>
    {% endset %}
    {% if show_submenu %}
        <li class="fold {% if has_an_active_descendant %}active{% endif %}">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#list"/>
            </svg>
            Classification
            {{ submenu_content }}
        </li>
    {% endif %}

    {% set has_an_active_descendant = false %}
    {% set show_submenu = false %}
    {% set submenu_content %}
        <ul>
            {% if content_unit_models['image'] is defined and content_unit_models['image']._can_be_listed %}
                {% set menu_item_is_active = ('image' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/images/image?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        Images (all)
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
            {% if content_unit_models['media'] is defined and content_unit_models['media']._can_be_listed %}
                {% set menu_item_is_active = ('media' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/medias/media?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        Embeds (all)
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
            {% if content_unit_models['file'] is defined and content_unit_models['file']._can_be_listed %}
                {% set menu_item_is_active = ('file' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/file-content-units/file?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        Files (all)
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
        </ul>
    {% endset %}
    {% if show_submenu %}
        <li class="fold {% if has_an_active_descendant %}active{% endif %}">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#grid"/>
            </svg>
            Libraries
            {{ submenu_content }}
        </li>
    {% endif %}

    {% set has_an_active_descendant = false %}
    {% set show_submenu = false %}
    {% set submenu_content %}
        <ul>
            {% if content_unit_models['basic-user'] is defined and content_unit_models['basic-user']._can_be_listed %}
                {% set menu_item_is_active = ('basic-user' in markers) %}
                {% if menu_item_is_active %}{% set has_an_active_descendant = true %}{% endif %}
                <li>
                    <a href="{{ global.request.basepath }}/admin/{{ language }}/users/basic-user?reset=1" class="{% if menu_item_is_active %}active{% endif %}">
                        Users
                    </a>
                </li>
                {% set show_submenu = true %}
            {% endif %}
        </ul>
    {% endset %}
    {% if show_submenu %}
        <li class="fold {% if has_an_active_descendant %}active{% endif %}">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#users"/>
            </svg>
            Users
            {{ submenu_content }}
        </li>
    {% endif %}

    <li class="{% if 'about' in markers %}active{% endif %}">
        <svg class="icon">
            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#info"/>
        </svg>
        <a href="{{ path('admin-about', { language: language }) }}" class="{% if 'about' in markers %}active{% endif %}">About</a>
    </li>

    <li class="{% if 'doc' in markers %}active{% endif %}">
        <svg class="icon">
            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#help-circle"/>
        </svg>
        <a href="{{ path('admin-doc', { language: language, docpool: 'content', file: 'index.md' }) }}" class="{% if 'doc' in markers %}active{% endif %}">Documentation</a>
    </li>

</ul>
