<li class="row">
    {% if valid %}
        <input type="hidden" name="{{ base_name }}_type[]" value="{{ type }}">
    {% endif %}
    <div class="row__wrapper">
        {% if not disabled %}
            <div class="row__handle"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#menu"/></svg></div>
        {% endif %}
        {% if type == 'separator' %}
            <div class="row__header">
                {% if valid %}
                    <input type="hidden" name="{{ base_name }}_content[]" value="">
                    <input type="hidden" name="{{ base_name }}_reference_type[]" value="">
                    <input type="hidden" name="{{ base_name }}_reference_id[]" value="0">
                {% endif %}
                <div style="border-top: solid #343957 1px; border-bottom: solid #343957 1px; text-align: center;">Separator</div>
            </div>
        {% elseif type == 'html' %}
            <div class="row__header">
                {% if valid %}
                    <input type="hidden" name="{{ base_name }}_reference_type[]" value="">
                    <input type="hidden" name="{{ base_name }}_reference_id[]" value="0">
                {% endif %}
                <textarea class="content-box-field-ckeditor" name="{{ base_name }}_content[]" id="{{ 'now'|date('U') }}-{{ random(1000000) }}-{{ random(1000000) }}-">{{ content }}</textarea>
            </div>
        {% elseif type == 'image' %}
            {% if valid %}
                <input type="hidden" name="{{ base_name }}_content[]" value="">
                <input type="hidden" name="{{ base_name }}_reference_type[]" value="{{ reference_type }}">
                <input type="hidden" name="{{ base_name }}_reference_id[]" value="{{ reference_id }}">
                {{ render(controller(
                    'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitReferenceCard',
                    {
                        'language': language,
                        'reference_type': reference_type,
                        'reference_id': reference_id
                    }
                )) }}
            {% else %}
                {{ error_message }}
            {% endif %}
        {% elseif type == 'media' %}
            {% if valid %}
                <input type="hidden" name="{{ base_name }}_content[]" value="">
                <input type="hidden" name="{{ base_name }}_reference_type[]" value="{{ reference_type }}">
                <input type="hidden" name="{{ base_name }}_reference_id[]" value="{{ reference_id }}">
            {% endif %}
            {{ render(controller(
                'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitReferenceCard',
                {
                    'language': language,
                    'reference_type': reference_type,
                    'reference_id': reference_id
                }
            )) }}
        {% elseif type == 'content_unit' %}
            {% if valid %}
                <input type="hidden" name="{{ base_name }}_content[]" value="">
                <input type="hidden" name="{{ base_name }}_reference_type[]" value="{{ reference_type }}">
                <input type="hidden" name="{{ base_name }}_reference_id[]" value="{{ reference_id }}">
            {% endif %}
            {{ render(controller(
                'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitReferenceCard',
                {
                    'language': language,
                    'reference_type': reference_type,
                    'reference_id': reference_id
                }
            )) }}
        {% endif %}
        <div class="row__tools">
            {% if not disabled %}
                <button class="js-remove-row"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#x-circle"/></svg></button>
            {% endif %}
        </div>
    </div>
</li>


