{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/ckeditor-4.6.2/ckeditor.js', {}) }}
{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/ckeditor-4.6.2/lang/fr.js', {}) }}
{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/ckeditor-4.6.2/adapters/jquery.js', {}) }}
{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/typeahead.js-0.11.1/typeahead.bundle.js', {}) }}
{{ admin_add_js(global.request.basepath ~ '/assets/ContentBox/js/admin-content-box-field.js', {}) }}
{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<fieldset
    class="content-box-field {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
    {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    data-base-name="{{ name }}"
    data-max-number="{{ options.max_number }}"
    data-make-separator-url="{{ path('admin-content-box-field-item', {'language': language}) }}"
    data-make-text-block-url="{{ path('admin-content-box-field-item', {'language': language}) }}"
    data-make-image-url="{{ path('admin-content-box-field-item', {'language': language}) }}"
    data-make-media-url="{{ path('admin-content-box-field-item', {'language': language}) }}"
    data-make-content-unit-url="{{ path('admin-content-box-field-item', {'language': language}) }}"
    data-field-language="{{ field_language }}"
    data-ckeditor-config-file-url="{{ global.request.basepath }}{{ widget_options.ckeditor_config_file_url }}"
    data-image-search-results-url="{{
        path('admin-image-field-search-results', {
            'language': (field_language != '' ? field_language : language),
        })
    }}"
    data-image-types="{{ options.image_type }}"
    data-media-search-results-url="{{
        path('admin-media-field-search-results', {
            'language': (field_language != '' ? field_language : language),
        })
    }}"
    data-media-types="{{ options.media_type }}"
    data-content-unit-search-results-url="{{
        path('admin-content-unit-references-field-search-results', {
            'language': (field_language != '' ? field_language : language),
        })
    }}"
    data-content-unit-types="{{ options.content_unit_types|join(',') }}"
    data-create-item-from-tmp-file-url="{{
        path('admin-content-box-field-create-item-from-tmp-file', {
            'language': language,
            'type': options.image_type,
            'base_name': name,
            'sortable': (options.max_number > 1 ? 1 : 0)
        })
    }}"
    data-create-item-from-url-url="{{
        path('admin-content-box-field-create-item-from-url', {
            'language': language,
            'type': options.media_type,
            'base_name': name,
            'sortable': (options.max_number > 1 ? 1 : 0)
        })
    }}"
>
    <legend>
        {{ widget_options.label }}
        {% for message in app.session.flashbag.get(error_flashbag_name) %}
            <u>{{ message }}</u>
        {% endfor %}
        {% if widget_options.help_text_html is not empty %}
            <button class="help inactive">?</button>
            <div class="msg helptip">
                {{ widget_options.help_text_html|raw }}
            </div>
        {% endif %}
    </legend>
    <ul class="list{% if options.max_number > 1 %} sortable js-sortable{% endif %}">
        {% for item in value %}
            {% include '@ContentBox/Field/contentBoxFieldItem.twig' with 
                {
                    'language': language,
                    'type': item.type,
                    'content': item.content,
                    'reference_type': item.reference_type,
                    'reference_id': item.reference_id,
                    'base_name': name,
                    'valid': true,
                    'disabled': disabled,
                    'error_message': ''
                } 
            %}
        {% endfor %}
    </ul>
    {% if not disabled %}
        <div class="content-box-adding-actions" style="padding: 1em; background-color: #e6e6e6;">
            <a href="#" class="link content-box-field-make-separator" data-base-name="{{ name }}">
                <svg class="icon">
                    <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus-circle"></use>
                </svg>
                Add separator
            </a>
            <a href="#" class="link content-box-field-make-text-block" data-base-name="{{ name }}">
                <svg class="icon">
                    <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus-circle"></use>
                </svg>
                Add text block
            </a>
            <div style="clear: both;">
                {% if options.content_unit_types|length > 0 %}
                    <div class="input input-50 alpha omega">
                        <label>
                            {% set label_string = '' %}
                            {% for t in content_unit_type_labels %}
                                {% if not loop.first %}
                                    {% if loop.last %}
                                        {% set label_string = label_string ~ ' or ' %}
                                    {% else %}
                                        {% set label_string = label_string ~ ', ' %}
                                    {% endif %}
                                {% endif %}
                                {% set label_string = label_string ~ t %}
                            {% endfor %}
                            Add {{ label_string }}
                        </label>
                        <input type="text" value="" class="content-box-field-content-unit-typeahead" placeholder="Find…">
                    </div>
                {% endif %}
                <div class="input input-50 alpha">
                    <label>Add image from library</label>
                    <input type="text" value="" class="content-box-field-image-typeahead" placeholder="Find…">
                </div>
                <div class="input input-50 omega">
                    <label>Add embed from library</label>
                    <input type="text" value="" class="content-box-field-media-typeahead" placeholder="Find…">
                </div>
            </div>
            <div class="input">
                <label>Upload image</label>
                <input
                    class="fileupload" type="file" id="{{ name }}_files" name="{{ name }}_files[]" data-url="{{
                        path('admin-content-box-field-upload-handler', {
                            'language': language,
                            'type': options.image_type,
                            'base_name': name
                        })
                    }}"
                    multiple
                >
                <label for="{{ name }}_files" class="dropzone">
                    <div class="dropzone__load">
                        <div class="dropzone__bar" style="width: 0%;"></div>
                        <span class="dropzone__info"></span>
                    </div>
                    <svg class="icon">
                        <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#file-plus"/>
                    </svg>
                    Drag files here or <u>browse</u> to upload.
                </label>
            </div>
            <div class="input input-80 alpha">
                <label>Add embed from url</label>
                <input type="url" value="" class="new-url">
            </div>
            <div class="input no-label input-20 omega">
                <button class="btn js-add-media-from-url">Add</button>
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
    {% endif %}
    {% if widget_options.legend != '' %}
        <p class="legend">{{ widget_options.legend|raw }}</p>
    {% endif %}
</fieldset>
