// Colors
$black: rgb(0, 0, 0)
$eigengrau: rgb(22, 22, 29)
$darker: rgb(50, 50, 50)
$dark: rgb(90, 90, 90)
$medium: rgb(125, 125, 125)
$lite: rgb(180, 180, 180)
$liter: rgb(249, 246, 242)
$white: rgb(255,255,255)

$error: rgb(255, 0, 0)
$warning: rgb(255, 125, 0)
$success: rgb(0, 125, 0)

$spacing: 1rem
$leading: 1rem
$gutter: .5rem
$offset: 3rem

$base-ff: Arial, sans-serif

=default-scheme
	--back: #{$liter}
	--front: #{$eigengrau}
	--focus: #{$black}
	--error: #{$error}

=dark-scheme
	--back: #{$eigengrau}
	--front: #{$liter}
	--focus: #{$white}
	--error: #{$error}

// Media-queries
$mobile: "only print and (min-width : 15em), only screen and (min-width : 24em)" // 6 * 64 = 24 * 16 = 384
$phablet: "only print and (min-width : 20em), only screen and (min-width : 32em)" // 8 * 64 = 32 * 16 = 512
$midlet: "only print and (min-width : 24em), only screen and (min-width : 40em)" // 10 * 64 = 40 * 16 = 640
$tablet: "only print and (min-width : 30em), only screen and (min-width : 48em)" // 12 * 64 = 48 * 16 = 768
$biglet: "only print and (min-width : 35em), only screen and (min-width : 56em)" // 14 * 64 = 56 * 16 = 896
$desktop: "only print and (min-width : 40em), only screen and (min-width : 64em)" // 16 * 64 = 64 * 16 = 1024
$large: "only screen and (min-width : 80em)" // 20 * 64 = 80 * 16 = 1280
$huge: "only screen and (min-width : 96em)" // 24 * 64 = 96 * 16 = 1536
$max: "only screen and (min-width : 128em)" // 32 * 64 = 128 * 16 = 2048

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"