@use "sass:math"

@function fluid($min-size, $max-size, $min-breakpoint: 32rem, $max-breakpoint: 72rem, $unit: vw)
	$slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint)
	$slope-to-unit: $slope * 100
	$intercept: $min-size - $slope * $min-breakpoint
	@return clamp(#{$min-size}, #{$slope-to-unit}#{$unit} + #{$intercept}, #{$max-size})
	
// Placeholder text
// -------------------------
=placeholder($color: inherit, $font: inherit, $ta: inherit)
	&::placeholder
		opacity: 1
		color: $color
		font: $font
		text-align: $ta

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
=text-overflow
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

=word-wrap
	overflow-wrap: break-word
	word-wrap: break-word
	-ms-word-break: break-all
	word-break: break-word
	hyphens: auto

=clearfix
	&:before, &:after
		content: " "
		display: table
	&:after
		clear: both

=hide-text
	text-indent: -99999px
	text-indent: -9999rem
	overflow: hidden
	text-align: left

=hidden
	visibility: hidden
	opacity: 0
	z-index: -1

=visuallyhidden
	position: absolute
	white-space: nowrap
	width: 1px
	height: 1px
	overflow: hidden
	border: 0
	padding: 0
	clip: rect(0 0 0 0)
	clip-path: inset(50%)
	margin: -1px

// Prevent long urls and text from breaking layouts originally from perishablepress.com
=force-wrap
	white-space: pre // CSS 2.0
	white-space: pre-wrap // CSS 2.1
	white-space: pre-line // CSS 3.0
	word-wrap: break-word // IE 5+