@use "base" as *
@use "mixins" as m

$base-font-size: 10px

html, body, .item
	font-size: $base-font-size

*, *:before, *:after
	background: transparent !important
	color: #000 !important
	box-shadow: none !important
	text-shadow: none !important

a, a:visited
	text-decoration: none !important

.cke
	a[target="_blank"]:after
		content: " (" attr(href) ")"
		+m.word-wrap
		font-size: 90%
	abbr[title]:after
		content: " (" attr(title) ")"

thead
	display: table-header-group
tr, img, figure, blockquote, li, .item, .section
	page-break-inside: avoid

@page
	margin: 0.5cm

p, h2, h3
	orphans: 3
	widows: 3
h1, h2, h3, h4, h5, h6
	page-break-after: avoid
	page-break-inside: avoid

.main-header
	display: none !important
