<article class="wrapper">

    {{ render(controller(
        'App\\App\\AppController::breadcrumb',
        {},
        {
            'language': language,
            'markers': markers,
            'show_last_item': false
        }
    )) }}

    <header class="header">
        <h1 class="title">{{ static_page.title }}</h1>
        {% if static_page.subtitle != '' %}
            <h2 class="subtitle">{{ static_page.subtitle }}</h2>
        {% endif %}
    </header>

    {% if static_page.main_image is not empty %}
        {{ render(controller(
            'App\\Image\\ImageController::item',
            {},
            {
                'language': language,
                'type': static_page.main_image[0].type,
                'id': static_page.main_image[0].id,
                'template': 'ratio',
                'format': 'natural',
            }
        )) }}
    {% endif %}

    {% for item in regrouped_content_box %}
        {% if item.type == 'separator' %}
            <hr>
        {% endif %}
        {% if item.type == 'html' %}
            {{ item.content|raw }}
        {% endif %}
        {% if item.type == 'image' %}
            {% include 'inc/images.twig' with {
                'images' : item.content_units
            } %}
        {% endif %}
        {% if item.type == 'media' %}
            {% include 'inc/medias.twig' with {
                'medias' : item.content_units
            } %}
        {% endif %}
    {% endfor %}

    {# {% include 'inc/files.twig' with {
        'files' : static_page.files
    } %}

    {% include 'inc/medias.twig' with {
        'medias' : static_page.medias
    } %}

    {% include 'inc/images.twig' with {
        'images' : static_page.images
    } %} #}

</article>
