<!doctype html>
<html class="mdzr-no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login — Viktor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/Admin/css/main.css">
    {% include '@Admin/inc/favicons.twig' %}
    <script>window.name = "viktor_login";</script>
</head>
<body id="login">

    <!--[if lt IE 9]><div class="load-alert ie-alert">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade it</a> for a better web experience.</div><![endif]-->
    <noscript>
        <div class="load-alert js-alert">For full functionality of Viktor, it is best to <a href="https://www.whatismybrowser.com/guides/how-to-enable-javascript/" target="_blank">enable Javascript</a> in your web browser.</div>
    </noscript>

    <main class="login">

        <header class="wrapper">
            <figure class="splash">
                <picture>
                    <source srcset="{{ global.request.basepath }}/assets/Admin/img/svg/viktor-splash.svg" type="image/svg+xml" />
                    <img srcset="{{ global.request.basepath }}/assets/Admin/img/svg/viktor-splash_2x.png 2x" src="{{ global.request.basepath }}/assets/Admin/img/svg/viktor-splash.png" alt="Viktor" width="288" height="162">
                </picture>
                <figcaption>Your <abbr title="Content Management System">CMS</abbr> by <a href="https://www.tentwelve.com" target="_blank" title="tentwelve.com" rel="noopener">Tentwelve</a></figcaption>
            </figure>
        </header>

        <div class="login__form">
            <form method="post" action="{{ path('login_check') }}">
                <div class="wrapper">
                    {% if error %}
                        <div class="msg msg--error">
                            <svg class="icon">
                                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-octagon"/>
                            </svg>
                            {{ error }}
                            <span class="close close-msg">×</span>
                        </div>
                    {% endif %}
                    <div class="input">
                        <label>Username</label>
                        <input type="text" name="_username" value="{{ last_username }}" required data-valid="validEmail">
                    </div>
                    <div class="input">
                        <label>Password</label>
                        <input type="password" name="_password" required data-valid="validEmail">
                    </div>
                </div>
                <footer class="wrapper login__footer">
                    <button type="submit" name="s" class="btn btn--primary btn--large">
                        <svg class="icon">
                            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#log-in"/>
                        </svg>
                        Sign in
                    </button><br>
                    <a href="{{ path('admin-password-forgotten') }}" class="link">
                    Forgot your password?
                    </a>
                </footer>
            </form>
        </div>

    </main>

    <script src="{{ global.request.basepath }}/assets/Admin/js/init.js"></script>
    <script defer src="{{ global.request.basepath }}/assets/Admin/js/vendor/jquery-3.6.0.min.js"></script>
    <script defer src="{{ global.request.basepath }}/assets/Admin/js/plugins.min.js"></script>
    <script defer src="{{ global.request.basepath }}/assets/Admin/js/main.min.js"></script>
</body>
</html>
