<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Viktor debug bar</title>
    </head>
    <body>
        <style>
            body {
                padding: 0;
                margin: 0;
                border: 0;
                background-color: #333333;
                color: #cccccc;
                font-family: arial, sans-serif;
                font-size: 16px;
                line-height: 16px;
                font-style: normal;
                font-weight: normal;
                z-index: 10000;
            }
            a {
                color: #ffffff;
            }
            .viktor-debug-bar {
                padding: 0;
                margin: 0;
                border: 0;
            }
            .logo {
                float: left;
                margin: 0;
                padding: 0.5em;
                background-color: #cccccc;
                color: #333333;
                font-weight: bold;
            }
            .status-code {
                float: left;
                margin: 0;
                padding: 0.5em;
                background-color: #000000;
                color: #ffffff;
                font-weight: bold;
            }
            .status-code-2 {
                background-color: #22aa22;
            }
            .status-code-4 {
                background-color: #aa6622;
            }
            .status-code-5 {
                background-color: #aa2222;
            }
            .user {
                float: left;
                margin: 0;
                padding: 0.5em;
                background-color: #000000;
                color: #ffffff;
                font-weight: bold;
            }
            .content {
                padding: 0;
            }
            .content-element {
                float: left;
                padding: 0.5em;
            }
        </style>
        <div class="viktor-debug-bar">
            <div class="logo">Viktor</div>
            <div class="status-code status-code-{{ status_code // 100 }}">{{ status_code }}</div>
            <div class="user">
                {% if user._can_be_edited %}
                    <a href="{{ user._edition_page_url }}" target="_top">{{ user._title }}</a>
                {% else %}
                    {{ user._title }}
                {% endif %}
            </div>
            <div class="content">
                <div class="content-element"><strong>Sql queries:</strong> {{ number_of_queries }}</div>
                <div class="content-element"><strong>Memory peak usage:</strong> {{ memory_peak_usage }}</div>
                <div class="content-element"><strong>Execution time:</strong> {{ execution_time|round(2) }} s.</div>
            </div>
        </div>
    </body>
</html>
