{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
    'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
    {
        'urls': language_urls,
        'active_language': language
    }
)) }}
{% endblock %}

{% block main_content %}

    <header class="section">
        <div class="wrapper">
            <h1 class="title">
                <svg class="icon">
                    <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-triangle"></use>
                </svg>
                You’re about to duplicate this
                {{ media_digest.singular_human_type }}. Do you confirm?</h1>
        </div>
    </header>

    <ul class="list">
        <li class="row">
            <div class="row__wrapper">
                <div class="row_header">
                <div class="row__id">#{{ media_digest.id }}</div>
                <h2 class="row__title">{{ media_digest._title }}</h2>
                <h3 class="row__hint">{{ referencing_content_units_count }}
                    ref.
                    {% if media_digest._hint != '' %}
                        &mdash;
                        {{ media_digest._hint }}
                    {% endif %}
                </h3>
            </div>

            {% if media_digest._image %}
                <div class="row__thumbnail">
                    <figure class="thumbnail">
                        <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': media_digest.type, 'id': media_digest.id }) }}" class="checkered">
                    </figure>
                </div>
            {% endif %}
        </div>

    </li>
    </ul>

    <form action="{{ path('admin-media-duplication-form-process', { 'language': language, 'type': media_digest.type }) }}" method="POST" enctype="multipart/form-data" id="media_duplication_form">
        <input type="hidden" name="type" value="{{ media_digest.type }}">
        <input type="hidden" name="id" value="{{ media_digest.id }}">

        <button type="submit" name="submit" class="btn btn--primary">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#copy"></use>
            </svg>
            Yes, duplicate</button>
        <a class="link js-history" href="{{ media_digest._list_page_url }}">No, cancel</a>

    </form>

{% endblock %}
