<div class="row__wrapper">

    <input type="checkbox" name="selected_content_units[]" id="{{ media_digest.type }}_{{ media_digest.id }}" value="{{ media_digest.type }}:{{ media_digest.id }}" class="row__select row__select--one">
    <label for="{{ media_digest.type }}_{{ media_digest.id }}" class="row__select__checkbox"></label>

    <div class="row__header">
        {% for badge_item in badge %}
            {% set badge_luminosity = (max(badge_item.red, badge_item.green, badge_item.blue) + min(badge_item.red, badge_item.green, badge_item.blue)) / 512.0 %}
            <div class="row__badge {% if badge_luminosity < 0.6 %}row__badge--dark{% endif %}" style="background-color: rgb({{ badge_item.red }}, {{ badge_item.green }}, {{ badge_item.blue }});">
                {% if badge_item.text is not empty %}<span>{{ badge_item.text }}</span>{% endif %}
            </div>
        {% endfor %}
        <div class="row__id">#{{ media_digest.id }}</div>
        <h3 class="row__title">
            {% if media_digest._can_be_viewed %}
                <a href="{{ media_digest._edition_page_url }}">{{ media_digest._title }}</a>
            {% else %}
                {{ media_digest._title }}
            {% endif %}
        </h3>
        <h4 class="row__hint">
    {{ referencing_content_units_count }} ref.{% if media_digest._hint is not empty %} | {{ media_digest._hint }}{% endif %}
        </h4>
    </div>

    {% if media_digest._image %}
        <div class="row__thumbnail">
            {% if media_digest._can_be_viewed %}
                <a href="{{ media_digest._edition_page_url }}">
            {% endif %}
                <figure class="thumbnail">
                    <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': media_digest.type, 'id': media_digest.id }) }}" class="checkered">
                </figure>
            {% if media_digest._can_be_viewed %}
                </a>
            {% endif %}
        </div>
    {% endif %}

    <div class="row__tools">
        <button class="row__more-btn link link--large js-toggle-btn" data-target="#row_more_{{ media_digest.id }}"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#chevron-down"/></svg></button>
    </div>

</div>

<div class="row__more">
    <div class="row__inner js-toggle-target" id="row_more_{{ media_digest.id }}">
        {% if media_digest._description %}
            <div class="row__description">
                <p>{{ media_digest._description }}</p>
            </div>
        {% endif %}
        {% if media_digest._can_be_viewed %}
            <a href="{{ media_digest._edition_page_url }}" class="btn btn--primary btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#edit"/></svg>Edit</a>
        {% endif %}
        {% if media_digest._can_be_viewed and media_digest._view_page_url != '' %}
            <a href="{{ media_digest._view_page_url }}" target="_blank" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#eye"/></svg>View</a>
        {% endif %}
        {% if media_digest._can_be_viewed and media_digest._can_be_created %}
            <a href="{{ media_digest._duplication_page_url }}" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#copy"/></svg>Duplicate</a>
        {% endif %}
        {% if media_digest._can_be_deleted %}
            <a href="{{ media_digest._deletion_page_url }}" class="link"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</a>
        {% endif %}
    </div>
</div>
