{% if widget_options.searchable %}
    <div class="input input-50">
        <label>{{ widget_options.label }} (country)</label>
        <select name="{{ name }}">
            <option value="" {% if value == '' %}selected{% endif %}>Any</option>
            {% for k, country_name in countries %}
                {% if k != '' %}
                    <option value="{{ k }}" {% if value == k %}selected{% endif %}> {{ country_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endif %}
