{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/admin-address-field.js', {}) }}
{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<fieldset
    class="address-field {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
{% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %} data-url="{{ path('admin-address-field-geocode', {'language': language}) }}"
>
    <legend>
        {{ widget_options.label }}
        {% for message in app.session.flashbag.get(error_flashbag_name) %}
            <u>{{ message }}</u>
        {% endfor %}
        {% if widget_options.help_text_html is not empty %}
            <button class="help inactive">?</button>
            <div class="msg helptip">
                {{ widget_options.help_text_html|raw }}
            </div>
        {% endif %}
    </legend>
    <div class="input input-50 alpha">
        <label for="{{ name }}_street_1">Address line 1</label>
        <input type="text" name="{{ name }}_street_1" value="{{ value.street_1 }}" class="street_1" {% if disabled %}disabled{% endif %}>
    </div>
    <div class="input input-50 omega">
        <label for="{{ name }}_street_2">Address line 2</label>
        <input type="text" name="{{ name }}_street_2" value="{{ value.street_2 }}" class="street_2" {% if disabled %}disabled{% endif %}>
    </div>
    <div class="input input-20 alpha">
        <label for="{{ name }}_postal_code">Postal code</label>
        <input type="text" name="{{ name }}_postal_code" value="{{ value.postal_code }}" class="postal_code" {% if disabled %}disabled{% endif %}>
    </div>
    <div class="input input-40">
        <label for="{{ name }}_city">City</label>
        <input type="text" name="{{ name }}_city" value="{{ value.city }}" class="city" {% if disabled %}disabled{% endif %}>
    </div>
    <div class="input input-40 omega">
        <label for="{{ name }}_country">Country</label>
        <select name="{{ name }}_country" class="country" {% if disabled %}disabled{% endif %}>
            {% for country_code, country_name in countries %}
                <option value="{{ country_code }}" {% if country_code == value.country %}selected{% endif %}>{{ country_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input inline">
        <label>Geolocation</label>
        <input type="text" name="{{ name }}_latitude" value="{{ value.latitude }}" class="latitude" placeholder="Latitude" {% if disabled %}disabled{% endif %}>
        <input type="text" name="{{ name }}_longitude" value="{{ value.longitude }}" class="longitude" placeholder="Longitude" {% if disabled %}disabled{% endif %}>
        {% if not disabled %}
            <button class="btn js-location-update"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#target"/></svg>Guess</button>
        {% endif %}
        <button class="btn js-location-preview"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#map-pin"/></svg>View on map</button>
    </div>
    {% if widget_options.legend != '' %}
        <p class="legend">{{ widget_options.legend|raw }}</p>
    {% endif %}
</fieldset>
