{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/typeahead.js-0.11.1/typeahead.bundle.js', {}) }}
{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/admin-content-unit-references-field.js', {}) }}
{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<fieldset
    class="content-unit-references-field {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
    {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    data-new-item-url="{{
        path('admin-content-unit-references-field-item', {
            'language': language,
            'base_name': name
        })
    }}"
    data-search-results-url="{{
        path('admin-content-unit-references-field-search-results', {
            'language': (field_language != '' ? field_language : language),
        })
    }}"
    data-create-item-url="{{ path('admin-content-unit-references-field-create-minimal-content-unit', {'language': language}) }}"
    data-base-name="{{ name }}"
    data-max-number="{{ options.max_number }}"
    data-content-unit-types="{{ options.content_unit_types|join(',') }}"
>
    <legend>
        {{ widget_options.label }}
        {% for message in app.session.flashbag.get(error_flashbag_name) %}
            <u>{{ message }}</u>
        {% endfor %}
        {% if widget_options.help_text_html is not empty %}
            <button class="help inactive">?</button>
            <div class="msg helptip">
                {{ widget_options.help_text_html|raw }}
            </div>
        {% endif %}
    </legend>
    <ul class="list{% if options.max_number > 1 %} sortable js-sortable{% endif %}">
        {% for content_unit_reference in value %}
            {{
                render(
                    url(
                        'admin-content-unit-references-field-item',
                        {
                            'language': language,
                            'type': content_unit_reference.type,
                            'id': content_unit_reference.id,
                            'base_name': name,
                            'disabled': disabled
                        }
                    )
                )
            }}
        {% endfor %}
    </ul>
    {% if not disabled %}
        <div class="content-unit-references-adding-actions">
            <div class="input">
                <input type="text" value="" class="typeahead" placeholder="Find...">
            </div>
            {% for cu in content_units_that_can_be_created %}
                    <a href="#" class="link content-unit-references-field-create" data-type="{{ cu.type }}" data-base-name="{{ name }}" data-singular-human-type="{{ cu.singular_human_type }}">
                        <svg class="icon">
                            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus-circle"></use>
                        </svg>
                        Create and link a new {{ cu.singular_human_type }}...
                    </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if widget_options.legend != '' %}
        <p class="legend">{{ widget_options.legend|raw }}</p>
    {% endif %}
</fieldset>
