{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/typeahead.js-0.11.1/typeahead.bundle.js', {}) }}
{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/admin-content-unit-references-advanced-search.js', {}) }}

{% if display_mode == 'tree' %}
    <div class="input input-50">
        <label>{{ widget_options.label }}</label>
        <select name="{{ name }}">
            <option value="" {% if value == '' %}selected{% endif %}>Any</option>
            {% for linkable_content_unit in linkable_content_units %}
                {% set v = linkable_content_unit.type ~ ':' ~ linkable_content_unit.id %}
                <option value="{{ v }}" {% if value == v %}selected{% endif %}> {{ linkable_content_unit.title }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}

{% if display_mode == 'typeahead' %}
    <div
        class="input input-50 content-unit-references-advanced-search"
        data-search-results-url="{{
            path('admin-content-unit-references-field-search-results', {
                'language': (field_language != '' ? field_language : language),
            })
        }}"
        data-content-unit-types="{{ options.content_unit_types|join(',') }}"
    >
        <label>{{ widget_options.label }}</label>

        <div class="content-unit-references-adding-actions">
            <input type="text" value="" class="typeahead" placeholder="Find...">
        </div>

        <ul class="list sortable js-sortable">
            {% if linked_content_unit is not empty %}
                <li class="row">
                    <div class="row__wrapper">
                        <div class="row__header">
                            <h3 class="row__title">{{ linked_content_unit._title }}</h3>
                        </div>
                        <div class="row__tools">
                            <button class="js-remove-row"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#x-circle"></use></svg></button>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>

        <input type="hidden" name="{{ name }}" value="{% if linked_content_unit is not empty %}{{ linked_content_unit.type }}:{{ linked_content_unit.id }}{% endif %}" class="search_value">

    </div>
{% endif %}
