
<li class="row">
    <input type="hidden" name="{{ base_name }}[]" value="{{ content_unit.type }}:{{ content_unit.id }}">
    <div class="row__wrapper">
        {% if not disabled %}
            <div class="row__handle"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#menu"/></svg></div>
        {% endif %}
        {{ render(controller(
            'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitCard',
            {
                'language': language,
                'content_unit': content_unit
            }
        )) }}
        <div class="row__tools">
            {% if not disabled %}
                <button class="js-remove-row"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#x-circle"/></svg></button>
            {% endif %}
        </div>
    </div>
</li>
