{% if widget_options.searchable %}
    <div class="input input-25">
        <label>{{ widget_options.label }} &ndash; From</label>
        <input name="{{ base_name }}_from_date" type="date" value="{{ value.from_date }}">
    </div>
    <div class="input input-25">
        <label>To</label>
        <input name="{{ base_name }}_to_date" type="date" value="{{ value.to_date }}">
    </div>
{% endif %}
