{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<fieldset
    class="{% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
    {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
>
    <legend for="{{ name }}">
        {{ widget_options.label }}
        {% for message in app.session.flashbag.get(error_flashbag_name) %}
            <u>{{ message }}</u>
        {% endfor %}
        {% if widget_options.help_text_html is not empty %}
            <button class="help inactive">?</button>
            <div class="msg helptip">
                {{ widget_options.help_text_html|raw }}
            </div>
        {% endif %}
    </legend>
    {% if widget_options.display_time %}
        <div class="input input-80 alpha">
            <input type="date" name="{{ name }}_date" value="{{ value == null ? '' : value|date('Y-m-d') }}" {% if disabled %}disabled{% endif %}>
        </div>
        <div class="input input-20 omega">
            <input type="time" name="{{ name }}_time" value="{{ value == null ? '' : value|date('H:i') }}" {% if disabled %}disabled{% endif %}>
        </div>
    {% else %}
        <div class="input">
            <input type="date" name="{{ name }}_date" value="{{ value == null ? '' : value|date('Y-m-d') }}" {% if disabled %}disabled{% endif %}>
        </div>
    {% endif %}
    {% if widget_options.legend != '' %}
        <p class="legend">{{ widget_options.legend|raw }}</p>
    {% endif %}
</fieldset>
