{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/typeahead.js-0.11.1/typeahead.bundle.js', {}) }}
{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/admin-file-field.js', {}) }}
{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<fieldset
    class="file-field {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
    {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    data-new-item-url="{{
        path('admin-file-field-item', {
            'language': language,
            'type': options.file_content_unit_type,
            'base_name': name,
            'sortable': (options.max_number > 1 ? 1 : 0)
        })
    }}"
    data-create-item-from-tmp-file-url="{{
        path('admin-file-field-create-item-from-tmp-file', {
            'language': language,
            'type': options.file_content_unit_type,
            'base_name': name,
            'sortable': (options.max_number > 1 ? 1 : 0)
        })
    }}"
    data-search-results-url="{{
        path('admin-file-field-search-results', {
            'language': (field_language != '' ? field_language : language),
        })
    }}"
    data-base-name="{{ name }}"
    data-max-number="{{ options.max_number }}"
    data-file-types="{{ options.file_content_unit_type }}"
>
        <legend>
            {{ widget_options.label }}
            {% for message in app.session.flashbag.get(error_flashbag_name) %}
                <u>{{ message }}</u>
            {% endfor %}
            {% if widget_options.help_text_html is not empty %}
                <button class="help inactive">?</button>
                <div class="msg helptip">
                    {{ widget_options.help_text_html|raw }}
                </div>
            {% endif %}
        </legend>
        {% if widget_options.legend != '' %}
            <p class="legend">{{ widget_options.legend }}</p>
        {% endif %}
        <ul class="list sortable {% if options.max_number > 1 %}js-sortable{% endif %}">
            {% for v in value %}
                {{
                    render(path('admin-file-field-item', {
                        'language': language,
                        'type': v.type,
                        'id': v.id,
                        'base_name': name,
                        'disabled': disabled,
                        'sortable': (options.max_number > 1 ? 1 : 0)
                    }))
                }}
            {% endfor %}
        </ul>
        {% if not disabled %}
            <div class="file-adding-actions">
                {% if file_content_unit_model._can_be_created %}
                    <div class="input">
                        <input class="fileupload" type="file" id="{{ name }}_files" name="{{ name }}_files[]" data-url="{{
                                path('admin-file-field-upload-handler', {
                                    'language': language,
                                    'type': options.file_content_unit_type,
                                    'base_name': name
                                })
                            }}" multiple >
                        <label for="{{ name }}_files" class="dropzone">
                                <div class="dropzone__load">
                                    <div class="dropzone__bar" style="width: 0%;"></div>
                                    <span class="dropzone__info"></span>
                                </div>
                                <svg class="icon">
                                    <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#file-plus"/>
                                </svg>
                                Drag files here or <u>browse</u> to upload.
                        </label>
                    </div>
                {% endif %}
                <div class="input input-50 alpha">
                    <label>Add from library</label>
                    <input type="text" value="" class="typeahead" placeholder="Find…">
                </div>
            </div>
        {% endif %}
    </fieldset>
