<li class="row {% if valid %}js-valid-row{% endif %} no-nesting">
    {% if valid %}
        <input type="hidden" name="{{ base_name }}_type[]" value="{{ image.type }}">
        <input type="hidden" name="{{ base_name }}_id[]" value="{{ image.id }}">
    {% endif %}
    <div class="row__wrapper">
        {% if sortable and not disabled %}
            <div class="row__handle"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#menu"/></svg></div>
        {% endif %}
        {% if valid %}
            {{ render(controller(
                'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitCard',
                {
                    'language': language,
                    'content_unit': image
                }
            )) }}
        {% else %}
            {{ error_message }}
        {% endif %}
        <div class="row__tools">
            {% if not disabled %}
                <button class="js-remove-row"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#x-circle"/></svg></button>
            {% endif %}
        </div>
    </div>
</li>
