{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<div
class="input{% if name in invalid_fields %} error{% endif %}{% if translatable %} i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
    {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
>
    <label for="{{ name }}">
        {{ widget_options.label }}
        {% if widget_options.mandatory %}<u>*</u>{% endif %}
        {% for message in app.session.flashbag.get(error_flashbag_name) %}
            <u>{{ message }}</u>
        {% endfor %}
        {% if widget_options.help_text_html is not empty %}
            <button class="help inactive">?</button>
            <div class="msg helptip">
                {{ widget_options.help_text_html|raw }}
            </div>
        {% endif %}
    </label>
    <input
        type="number"
        id="{{ name }}"
        name="{{ name }}"
        value="{{ value }}"
        {% if disabled %}disabled{% endif %}
        min="{{ options.minimum_value }}"
        max="{{ options.maximum_value }}"
    >
    {% if widget_options.legend != '' %}
        <p class="legend">{{ widget_options.legend|raw }}</p>
    {% endif %}
</div>
