{% if widget_options.searchable %}
    <div class="input input-50">
        <label>{{ widget_options.label }}</label>
        <select name="{{ name }}">
            <option value="" {% if value == '' %}selected{% endif %}>Any</option>
            {% for k, item in field_options.items %}
                <option value="{{ k }}" {% if value == k %}selected{% endif %}> {{ item.label }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}
