{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<label>
    {{ widget_options.label }}
    {% for message in app.session.flashbag.get(error_flashbag_name) %}
        <u>
            {{ message }}
        </u>
    {% endfor %}
    {% if widget_options.help_text_html is not empty %}
        <button class="help inactive">
            ?
        </button>
        <div class="msg helptip">
            {{ widget_options.help_text_html|raw }}
        </div>
    {% endif %}
</label>

{% if field_options.multiple and widget_options.display == 'normal' %}
    <div class="input checkboxes {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}" {% for k, v in metadata %} data- {{ k }}="{{ v }}" {% endfor %}>
        {% for k, item in field_options.items %}
            <label>
                <input type="checkbox" name="{{ name }}[]" value="{{ k }}" {% if value[k] %} checked {% endif %} {% if disabled %} disabled {% endif %}>
                {{ item.label }}
            </label>
        {% endfor %}
        {% if widget_options.legend != '' %}
            <p class="legend">
                {{ widget_options.legend|raw }}
            </p>
        {% endif %}
    </div>
{% endif %}

{% if not field_options.multiple and widget_options.display == 'normal' %}
    <div class="input radios {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}" {% for k, v in metadata %} data- {{ k }}="{{ v }}" {% endfor %}>
        {% for k, item in field_options.items %}
            <label>
                <input type="radio" name="{{ name }}[]" value="{{ k }}" {% if value[k] %} checked {% endif %} {% if disabled %} disabled {% endif %}>
                {{ item.label }}
            </label>
        {% endfor %}
        {% if widget_options.legend != '' %}
            <p class="legend">
                {{ widget_options.legend|raw }}
            </p>
        {% endif %}
    </div>
{% endif %}

{% if field_options.multiple and widget_options.display == 'dropdown' %}
    <div class="input {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}" {% for k, v in metadata %} data- {{ k }}="{{ v }}" {% endfor %}>
        <select name="{{ name }}[]" multiple {% if disabled %} disabled {% endif %}>
            {% for k, item in field_options.items %}
                <option value="{{ k }}" {% if value[k] %} selected {% endif %}>
                    {{ item.label }}
                </option>
            {% endfor %}
        </select>
        {% if widget_options.legend != '' %}
            <p class="legend">
                {{ widget_options.legend|raw }}
            </p>
        {% endif %}
    </div>
{% endif %}

{% if not field_options.multiple and widget_options.display == 'dropdown' %}
    <div class="input {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}" {% for k, v in metadata %} data- {{ k }}="{{ v }}" {% endfor %}>
        <select name="{{ name }}[]" {% if disabled %} disabled {% endif %}>
            {% for k, item in field_options.items %}
                <option value="{{ k }}" {% if value[k] %} selected {% endif %}>
                    {{ item.label }}
                </option>
            {% endfor %}
        </select>
        {% if widget_options.legend != '' %}
            <p class="legend">
                {{ widget_options.legend|raw }}
            </p>
        {% endif %}
    </div>
{% endif %}
