<li class="row no-nesting">
    <input type="hidden" name="{{ base_name }}_type[]" value="{{ media.type }}">
    <input type="hidden" name="{{ base_name }}_id[]" value="{{ media.id }}">
    <div class="row__wrapper">
        {% if sortable and not disabled %}
            <div class="row__handle"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#menu"/></svg></div>
        {% endif %}
        {{ render(controller(
            'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitCard',
            {
                'language': language,
                'content_unit': media
            }
        )) }}
        <div class="row__tools">
            {% if not disabled %}
                <button class="js-remove-row"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#x-circle"/></svg></button>
            {% endif %}
        </div>
    </div>
</li>
