{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/typeahead.js-0.11.1/typeahead.bundle.js', {}) }}
{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/admin-media-field.js', {}) }}
{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<fieldset class="media-field {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}" {% for k, v in metadata %} data-{{ k }}="{{ v }}" {% endfor %} data-new-item-url="{{
        path('admin-media-field-item', {
            'language': language,
            'type': options.media_type,
            'base_name': name,
            'sortable': (options.max_number > 1 ? 1 : 0)
        })
    }}" data-create-item-from-url-url="{{
        path('admin-media-field-create-item-from-url', {
            'language': language,
            'type': options.media_type,
            'base_name': name,
            'sortable': (options.max_number > 1 ? 1 : 0)
        })
    }}" data-search-results-url="{{
        path('admin-media-field-search-results', {
    'language': (field_language != '' ? field_language : language),
        })
    }}" data-base-name="{{ name }}" data-max-number="{{ options.max_number }}" data-media-types="{{ options.media_type }}">
    <legend>
        {{ widget_options.label }}
        {% for message in app.session.flashbag.get(error_flashbag_name) %}
            <u>{{ message }}</u>
        {% endfor %}
        {% if widget_options.help_text_html is not empty %}
            <button class="help inactive">?</button>
            <div class="msg helptip">
                {{ widget_options.help_text_html|raw }}
            </div>
        {% endif %}
    </legend>
    {% if widget_options.legend != '' %}
        <p class="legend">{{ widget_options.legend|raw }}</p>
    {% endif %}
    <ul class="list sortable {% if options.max_number > 1 %}js-sortable{% endif %}">
        {% for v in value %}
            {{
                render(path('admin-media-field-item', {
                    'language': language,
                    'type': v.type,
                    'id': v.id,
                    'base_name': name,
                    'disabled': disabled,
                    'sortable': (options.max_number > 1 ? 1 : 0)
                }))
            }}
        {% endfor %}
    </ul>
    {% if not disabled %}
        <div class="media-adding-actions">
            {% if media_model._can_be_created %}
                <div class="input input-80 alpha">
                    <label>Add from url</label>
                    <input type="url" value="" class="new_url">
                </div>
                <div class="input no-label input-20 omega">
                    <button class="btn js-add-from-url">Add</button>
                </div>
            {% endif %}
            <div class="input input-40 alpha">
                <label>Add from library</label>
                <input type="text" value="" class="typeahead" placeholder="Find…">
            </div>
        </div>
    {% endif %}
</fieldset>
