{% include '@Admin/Field/table_field_item.inc.twig' with {
    'options': options,
    'base_name': base_name,
    'language': language,
    'id': id,
    'disabled': disabled,
    'row_value': row_value
} %}