<li class="row">

    <input type="hidden" name="{{ base_name }}_id[]" value="{{ id }}">

    <div class="row__wrapper">
        {% if not disabled %}
            <div class="row__handle"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#menu"/></svg></div>
        {% endif %}
        <div style="padding-top: 16px;">
            {% for column_name, column_description in options.columns %}
                <div class="input input-{{ column_description.width }}">
                    {% if column_description.type == 'single_choice_list' %}
                        <select name="{{ base_name }}_{{ column_name }}[]">
                            {% for item_value, item_label in column_description.items %}
                                <option value="{{ item_value }}" {% if item_value == row_value[column_name] %}selected{% endif %}>{{ item_label }}</option>
                            {% endfor %}
                        </select>
                    {% elseif column_description.type == 'long_text' %}
                        <textarea name="{{ base_name }}_{{ column_name }}[]" placeholder="{{ column_description.label }}">{{ row_value[column_name] }}</textarea>
                    {% else %}
                        <input type="text" name="{{ base_name }}_{{ column_name }}[]" value="{{ row_value[column_name] }}" placeholder="{{ column_description.label }}">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row__tools">
            {% if not disabled %}
                <button class="js-remove-row"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#x-circle"/></svg></button>
            {% endif %}
        </div>
    </div>

</li>