{{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/admin-table-field.js', {}) }}
{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
<fieldset
    class="table-field {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
    {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    data-new-item-url="{{
        path(
            'admin-table-field-item',
            {
                'language': language,
                'type': content_unit_type,
                'field_name': field_name,
                'base_name': name,
            }
        )
    }}"
>
    <legend>
        {{ widget_options.label }}
        {% for message in app.session.flashbag.get(error_flashbag_name) %}
            <u>{{ message }}</u>
        {% endfor %}
        {% if widget_options.help_text_html is not empty %}
            <button class="help inactive">?</button>
            <div class="msg helptip">
                {{ widget_options.help_text_html|raw }}
            </div>
        {% endif %}
    </legend>
    <ul class="list sortable js-sortable">
        {% for k, v in value %}
            {% include '@Admin/Field/table_field_item.inc.twig' with {
                'options': options,
                'base_name': name,
                'language': language,
                'id': k,
                'disabled': disabled,
                'row_value': v
            } %}
        {% endfor %}
    </ul>
    {% if not disabled %}
        <button class="btn js-add-row"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus"></svg>Add an item</button>
    {% endif %}
</fieldset>
