{% if widget_options.searchable %}
    <div class="input input-50">
        <label>{{ widget_options.label }}</label>
        <input
            type="text"
            name="{{ name }}"
            value="{{ value }}"
        >
    </div>
{% endif %}
