{% if field_options.source_type == 'html' %}
    {{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/ckeditor-4.6.2/ckeditor.js', {}) }}
    {{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/ckeditor-4.6.2/lang/fr.js', {}) }}
    {{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/vendor/ckeditor-4.6.2/adapters/jquery.js', {}) }}
    {{ admin_add_js(global.request.basepath ~ '/assets/Admin/js/admin-text-field-ckeditor.js', {}) }}
    {% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
    <div
        class="input text-field {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
        {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
        data-ckeditor-config-file-url="{{ global.request.basepath }}{{ widget_options.ckeditor_config_file_url }}"
        data-ckeditor-language="{{ field_language }}"
    >
        <label>
            {{ widget_options.label }}
            {% if widget_options.mandatory %}<u>*</u>{% endif %}
            {% for message in app.session.flashbag.get(error_flashbag_name) %}
                <u>{{ message }}</u>
            {% endfor %}
            {% if widget_options.help_text_html is not empty %}
                <button class="help inactive">?</button>
                <div class="msg helptip">
                    {{ widget_options.help_text_html|raw }}
                </div>
            {% endif %}
        </label>
        <textarea name="{{ name }}" {% if disabled %}disabled{% endif %}>{{ source_value }}</textarea>
        {% if widget_options.legend != '' %}
            <p class="legend">{{ widget_options.legend|raw }}</p>
        {% endif %}
    </div>
{% endif %}

{% if field_options.source_type == 'multiline_markdown' %}
    {% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
    <div
        class="input {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
        {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    >
        <label>
            {{ widget_options.label }}
            {% if widget_options.mandatory %}<u>*</u>{% endif %}
            {% for message in app.session.flashbag.get(error_flashbag_name) %}
                <u>{{ message }}</u>
            {% endfor %}
            {% if widget_options.help_text_html is not empty %}
                <button class="help inactive">?</button>
                <div class="msg helptip">
                    {{ widget_options.help_text_html|raw }}
                </div>
            {% endif %}
        </label>
        <textarea name="{{ name }}" {% if disabled %}disabled{% endif %} rows="{{ widget_options.rows }}">{{ source_value }}</textarea>
        {% if widget_options.legend != '' %}
            <p class="legend">{{ widget_options.legend|raw }}</p>
        {% endif %}
    </div>
{% endif %}

{% if field_options.source_type == 'markdown' %}
    {% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
    <div
        class="input {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
        {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    >
        <label>
            {{ widget_options.label }}
            {% if widget_options.mandatory %}<u>*</u>{% endif %}
            {% for message in app.session.flashbag.get(error_flashbag_name) %}
                <u>{{ message }}</u>
            {% endfor %}
            {% if widget_options.help_text_html is not empty %}
                <button class="help inactive">?</button>
                <div class="msg helptip">
                    {{ widget_options.help_text_html|raw }}
                </div>
            {% endif %}
        </label>
        <input type="text" name="{{ name }}" value="{{ source_value }}" {% if disabled %}disabled{% endif %}></input>
        {% if widget_options.legend != '' %}
            <p class="legend">{{ widget_options.legend|raw }}</p>
        {% endif %}
    </div>
{% endif %}

{% if field_options.source_type == 'multiline_plain_text' %}
    {% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
    <div
        class="input {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
        {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    >
        <label>
            {{ widget_options.label }}
            {% if widget_options.mandatory %}<u>*</u>{% endif %}
            {% for message in app.session.flashbag.get(error_flashbag_name) %}
                <u>{{ message }}</u>
            {% endfor %}
            {% if widget_options.help_text_html is not empty %}
                <button class="help inactive">?</button>
                <div class="msg helptip">
                    {{ widget_options.help_text_html|raw }}
                </div>
            {% endif %}
        </label>
        <textarea name="{{ name }}" {% if disabled %}disabled{% endif %} rows="{{ widget_options.rows }}">{{ source_value }}</textarea>
        {% if widget_options.legend != '' %}
            <p class="legend">{{ widget_options.legend|raw }}</p>
        {% endif %}
    </div>
{% endif %}

{% if field_options.source_type == 'plain_text' %}
    {% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}
    <div
        class="input {% if name in invalid_fields %}error{% endif %} {% if translatable %}i18n-toggle{% endif %}{% if language == field_language %} i18n-current i18n-show{% endif %}"
        {% for k, v in metadata %}data-{{ k }}="{{ v }}" {% endfor %}
    >
        <label>
            {{ widget_options.label }}
            {% if widget_options.mandatory %}<u>*</u>{% endif %}
            {% for message in app.session.flashbag.get(error_flashbag_name) %}
                <u>{{ message }}</u>
            {% endfor %}
            {% if widget_options.help_text_html is not empty %}
                <button class="help inactive">?</button>
                <div class="msg helptip">
                    {{ widget_options.help_text_html|raw }}
                </div>
            {% endif %}
        </label>
        <input type="text" name="{{ name }}" value="{{ source_value }}" {% if disabled %}disabled{% endif %}></input>
        {% if widget_options.legend != '' %}
            <p class="legend">{{ widget_options.legend|raw }}</p>
        {% endif %}
    </div>
{% endif %}
