{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
        'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
        {
            'urls': language_urls,
            'active_language': language
        }
    )) }}
{% endblock %}

{% block main_content %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="msg msg--success">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#check"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="msg msg--error">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-octagon"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}

    <header class="header">
        <a href="{{ main_content_unit_digest._edition_page_url }}" class="link link--large js-history">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#arrow-left-circle"/></svg>
        </a>
        <h1 class="title title--header">
            Usage of {{ main_content_unit_digest._title }}
            {% if filter_model is not empty %}
                ({{ filter_model.plural_human_type }} only)
            {% endif %}
        </h1>
    </header>

    <div class="section">
        <div class="wrapper">
            <p>
                See
                <a
                    href="{{ path('admin-content-unit-references-index-usage', {
                        'language': language,
                        'type': main_content_unit_digest.type,
                        'id': main_content_unit_digest.id,
                        'reset': 1 }) }}"
                >all linked content units</a>
                {% for available_group in available_groups %}
                   |<a
                        href="{{ path('admin-content-unit-references-index-usage', {
                            'language': language,
                            'type': main_content_unit_digest.type,
                            'id': main_content_unit_digest.id,
                            'group': available_group.type,
                            'reset': 1 }) }}"
                    >{{ available_group.plural_human_type }} only</a>
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="section section--liter">
        <div class="wrapper">
            <form method="POST" action="{{ path('admin-misc-index-form', {'language': language}) }}">
                <ul class="list">
                    {% for content_unit in referencing_content_units %}
                        <li class="row">
                            <div class="row__wrapper">
                                {{ render(controller(
                                    'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitCard',
                                    {
                                        'language': language,
                                        'content_unit': content_unit,
                                        'display_selection_checkbox': 1
                                    }
                                )) }}
                            </div>
                        </li>
                    {% endfor %}
                    <li class="row actions actions--bottom">
                        <div class="row__wrapper row__wrapper--actions">
                            <input type="checkbox" id="checkall" class="row__select row__select--all">
                            <label for="checkall" class="row__select__checkbox"></label>
                            <button class="link" type="submit" name="action_type" value="delete" disabled><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</button>
                        </div>
                    </li>
                </ul>
                <input type="hidden" name="redirection_url" value="{{ global.request.requesturi }}">
            </form>
        </div>
    </div>
    {{
        render(controller(
            'Viktor\\Pack\\Admin\\Pagination\\PaginationWidgetController::pager',
            {
                'pagination': pagination,
                'pagination_widget': pagination_widget
            }
        ))
    }}

{% endblock %}
