{% extends '@Base/email/layout.txt.twig' %}

{% block main %}
Password reset
==============

If you need to reset the password associated with the user "{{ username|raw }}", please click on the following link:

<{{ url|raw }}>

If you didn't ask to change your password, simply ignore this message.
{% endblock %}
