{% extends '@Base/email/layout.html.twig' %}

{% block main %}

<h1>Password reset</h1>
<p>If you need to reset the password associated with the user
    <em>{{ username }}</em>, please click on the following link:</p>
<p><a href="{{ url }}" target="viktor_login">Reset my password</a></p>
<p>If you didn't ask to change your password, simply ignore this message.</p>

{% endblock %}
