{% set invalid_fields = app.session.flashbag.get(invalid_field_flashbag_name) %}

<div class="input input-50 alpha {% if 'username' in invalid_fields %}error{% endif %}">
    <label>
        Username
        {% for message in app.session.flashbag.get(error_flashbag_name ~ '_username') %}
            <u>{{ message }}</u>
        {% endfor %}
    </label>
    <input type="text" name="{{ name }}_username" value="{{ username }}" placeholder="Username" {% if not user_digest._can_be_edited %}disabled{% endif %}>
</div>

<div class="input input-50 omega {% if 'email' in invalid_fields %}error{% endif %}">
    <label>
        Email address
        {% for message in app.session.flashbag.get(error_flashbag_name ~ '_email') %}
            <u>{{ message }}</u>
        {% endfor %}
    </label>
    <input type="email" name="{{ name }}_email" value="{{ email }}" placeholder="Email address" {% if not user_digest._can_be_edited %}disabled{% endif %}>
</div>

{% if user_digest._can_be_edited %}

    <div class="input input-50 alpha {% if 'pw1' in invalid_fields %}error{% endif %}">
        <label>
            Password
            {% for message in app.session.flashbag.get(error_flashbag_name ~ '_pw1') %}
                <u>{{ message }}</u>
            {% endfor %}
        </label>
        <input type="password" name="{{ name }}_pw1" value="" autocomplete="new-password">
    </div>

    <div class="input input-50 omega {% if 'pw2' in invalid_fields %}error{% endif %}">
        <label>
            Password confirmation
            {% for message in app.session.flashbag.get(error_flashbag_name ~ '_pw2') %}
                <u>{{ message }}</u>
            {% endfor %}
        </label>
        <input type="password" name="{{ name }}_pw2" value="" autocomplete="new-password">
    </div>

{% endif %}

<fieldset>
    <legend>Roles</legend>
    <div class="input checkboxes">
        {% for role_key, role in available_roles %}
            <label>
                <input
                    type="checkbox"
                    name="{{ name }}_roles[]"
                    {% if not user_digest._can_have_permissions_modified %}disabled{% endif %}
                    value="{{ role_key }}"
                    {% if role_key in roles %}checked{% endif %}
                >
                {{ role.title }}
            </label>
        {% endfor %}
    </div>
</fieldset>
