{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
        'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
        {
            'urls': language_urls,
            'active_language': language
        }
    )) }}
{% endblock %}

{% block main_content %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="msg msg--success">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#check"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="msg msg--error">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-octagon"/></svg>{{ message }}
            <span class="close close-msg">×</span>
        </div>
    {% endfor %}

    <header class="section">
        <div class="wrapper">
            <h1 class="title title--header">{{ file_content_unit_model.plural_human_type | capitalize }}</h1>
            {% if file_content_unit_model._can_be_created %}
            <a href="{{ file_content_unit_model._creation_page_url }}" class="btn btn--primary btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus"></use></svg>New {{ file_content_unit_model.singular_human_type }}</a>
            {% endif %}
        </div>
    </header>

    <div class="section">
        <div class="wrapper">

            <div class="block block--tools">

                {% include '@Admin/inc/active_search_filters.twig' %}

                {{
                    render(controller(
                        'Viktor\\Pack\\Admin\\SortOptions\\SortOptionsWidgetController::sortOptionsSelector',
                        {
                            'sort_options_widget': sort_options_widget
                        }
                    ))
                }}

                {% set advanced_search_form_widgets %}
                    {{
                        render(controller(
                            'Viktor\\Pack\\Admin\\Attachment\\AttachmentWidgetController::advancedSearchForm',
                            {
                                'attachment': attachment,
                                'attachment_widget': attachment_widget
                            }
                        ))
                    }}
                    {{
                        render(controller(
                            'Viktor\\Pack\\Admin\\Dataset\\DatasetWidgetController::advancedSearchForm',
                            {
                                'dataset': dataset,
                                'dataset_widget': dataset_widget,
                                'language': language
                            }
                        ))
                    }}
                {% endset %}

                {% if advanced_search_form_widgets | trim != '' %}
                    <button class="btn filter-btn js-toggle-btn" data-target="#index_filters"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#filter"></use></svg>Refine list...</button>
                    <form method="GET" action="{{ file_content_unit_model._list_page_url }}" class="filters js-toggle-target" id="index_filters">
                        {{ advanced_search_form_widgets }}
                        <input type="hidden" name="reset" value="1">
                         <div class="input input--actions">
                            <a class="link" href="{{ file_content_unit_model._list_page_url }}?reset=1">Clear options</a>
                            <button type="submit" name="submit" value="Filter" class="btn btn--primary">Refine</button>
                        </div>
                    </form>
                {% endif %}

            </div>

            <form method="POST" action="{{ url('admin-misc-index-form', {'language': language}) }}">
                <ul class="list">

                    {% if file_content_units | length > 0 %}
                        <li class="row actions actions--top">
                            <div class="row__wrapper row__wrapper--actions">
                                <input type="checkbox" id="checkall" class="row__select row__select--all">
                                <label for="checkall" class="row__select__checkbox"></label>
                                <button class="link" type="submit" name="action_type" value="delete" disabled><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</button>
                            </div>
                        </li>
                    {% endif %}

                    {% for file_content_unit in file_content_units %}
                        <li class="row">
                            {{
                                render(controller(
                                    'Viktor\\Pack\\Content\\FileContentUnit\\FileContentUnitController::listItem',
                                    {
                                        'file_content_unit': file_content_unit
                                    }
                                ))
                            }}
                        </li>
                    {% endfor %}

                    {% if file_content_units | length > 1 %}
                        <li class="row actions actions--bottom">
                            <div class="row__wrapper row__wrapper--actions">
                                <input type="checkbox" id="checkall" class="row__select row__select--all">
                                <label for="checkall" class="row__select__checkbox"></label>
                                <button class="link" type="submit" name="action_type" value="delete" disabled><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</button>
                            </div>
                        </li>
                    {% endif %}

                </ul>
                <input type="hidden" name="redirection_url" value="{{ global.request.requesturi }}">
            </form>

        </div>
    </div>

    {{
        render(controller(
            'Viktor\\Pack\\Admin\\Pagination\\PaginationWidgetController::pager',
            {
                'pagination': pagination,
                'pagination_widget': pagination_widget
            }
        ))
    }}

{% endblock %}
