<div class="row__wrapper">

    <input type="checkbox" name="selected_content_units[]" id="{{ file_content_unit_digest.type }}_{{ file_content_unit_digest.id }}" value="{{ file_content_unit_digest.type }}:{{ file_content_unit_digest.id }}" class="row__select row__select--one">
    <label for="{{ file_content_unit_digest.type }}_{{ file_content_unit_digest.id }}" class="row__select__checkbox"></label>

    <div class="row__header">

        <div class="row__id">#{{ file_content_unit_digest.id }}</div>
        <h3 class="row__title">
            {% if file_content_unit_digest._can_be_viewed %}
                <a href="{{ file_content_unit_digest._edition_page_url }}">{{ file_content_unit_digest._title }}</a>
            {% else %}
                {{ file_content_unit_digest._title }}
            {% endif %}
        </h3>
        <h4 class="row__hint">
            {{ referencing_content_units_count }} ref.{% if file_content_unit_digest._hint is not empty %} | {{ file_content_unit_digest._hint }}{% endif %}
        </h4>
    </div>

    {% if file_content_unit_digest._image %}
        <div class="row__thumbnail">
            {% if file_content_unit_digest._can_be_viewed %}
                <a href="{{ file_content_unit_digest._edition_page_url }}">
            {% endif %}
                {# TEMP disabled for performance reasons
                <figure class="thumbnail">
                    <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': file_content_unit_digest.type, 'id': file_content_unit_digest.id }) }}" class="checkered">
                </figure>
                #}
            {% if file_content_unit_digest._can_be_viewed %}
                </a>
            {% endif %}
        </div>
    {% endif %}

    <div class="row__tools">
        <button class="row__more-btn link link--large js-toggle-btn" data-target="#row_more_{{ file_content_unit_digest.id }}"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#chevron-down"/></svg></button>
    </div>

</div>

<div class="row__more">
    <div class="row__inner js-toggle-target" id="row_more_{{ file_content_unit_digest.id }}">
        {% if file_content_unit_digest._description %}
            <div class="row__description">
                <p>{{ file_content_unit_digest._description }}</p>
            </div>
        {% endif %}
        {% if file_content_unit_digest._can_be_viewed %}
            <a href="{{ file_content_unit_digest._edition_page_url }}" class="btn btn--primary btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#edit"/></svg>Edit</a>
        {% endif %}
        {% if file_content_unit_digest._can_be_viewed  %}
            <a href="{{ path('attachment-from-content-unit', {language: language, type: file_content_unit_digest.type, id: file_content_unit_digest.id, disposition: 'inline'}) }}" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#eye"/></svg>View</a>
        {% endif %}
        {% if file_content_unit_digest._can_be_viewed and file_content_unit_digest._can_be_created %}
            <a href="{{ file_content_unit_digest._duplication_page_url }}" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#copy"/></svg>Duplicate</a>
        {% endif %}
        {% if file_content_unit_digest._can_be_deleted %}
            <a href="{{ file_content_unit_digest._deletion_page_url }}" class="link"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</a>
        {% endif %}
    </div>
</div>
