<li class="file">
    <a href="{{ path('attachment-from-content-unit', {'language': language, 'type': file.type, 'id': file.id, 'disposition': 'attachment' }) }}">
        <span class="file__name">{{ file._title|trim }}</span>
        <small class="file__size">{{ file_info._original_extension|upper }} {{ file_info._human_file_size }}</small>
    </a>
</li>
