<div class="input">
    <label for="{{ base_name }}_source_url">Source url</label>
    <input type="text" name="{{ base_name }}_source_url" value="{{ embed_info.source_url }}">
</div>
<div class="input checkboxes">
    <label for="{{ base_name }}_to_be_refreshed">
        <input type="checkbox" name="{{ base_name }}_to_be_refreshed" value="1" id="{{ base_name }}_to_be_refreshed" >
        Scrape on next save
    </label>
</div>
<div class="input">
    <label for="{{ base_name }}_embed_code">Embed code</label>
    <textarea name="{{ base_name }}_embed_code">{{ embed_info.embed_code }}</textarea>
</div>
<div class="input">
    <label for="{{ base_name }}_title">Title</label>
    <input type="text" name="{{ base_name }}_title" value="{{ embed_info.title }}">
</div>
<div class="input">
    <label for="{{ base_name }}_description">Description</label>
    <textarea name="{{ base_name }}_description">{{ embed_info.description }}</textarea>
</div>
<div class="input">
    <label for="{{ base_name }}_image_url">Image url</label>
    <input type="text" name="{{ base_name }}_image_url" value="{{ embed_info.image_url }}">
</div>
<div class="input input-33 alpha">
    <label for="{{ base_name }}_width">Width</label>
    <input type="text" name="{{ base_name }}_width" value="{{ embed_info.width }}">
</div>
<div class="input input-33 ">
    <label for="{{ base_name }}_height">Height</label>
    <input type="text" name="{{ base_name }}_height" value="{{ embed_info.height }}">
</div>
<div class="input input-33 omega">
    <label for="{{ base_name }}_aspect_ratio">Aspect ratio (%)</label>
    <input type="text" name="{{ base_name }}_aspect_ratio" value="{{ embed_info.aspect_ratio }}">
</div>
<div class="input input-33 alpha">
    <label for="{{ base_name }}_type">Type</label>
    <input type="text" name="{{ base_name }}_type" value="{{ embed_info.type }}">
</div>
<div class="input input-66 omega">
    <label for="{{ base_name }}_modification_ts">Modification timestamp</label>
    <input type="text" name="{{ base_name }}_modification_ts" value="{{ embed_info.modification_ts }}">
</div>
<div style="clear: both;"></div>
