<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ app['viktor.config'].website_title }}</title>
    </head>
    <body>
        {% block main %}
            This is the main block.
        {% endblock %}
    </body>
</html>
