{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
    'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
    {
        'urls': language_urls,
        'active_language': language
    }
)) }}
{% endblock %}

{% block main_content %}

    <header class="section">
        <div class="wrapper">
            <h1 class="title">
                <svg class="icon">
                    <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-triangle"></use>
                </svg>
                You’re about to duplicate this
                {{ image_digest.singular_human_type }}. Do you confirm?</h1>
        </div>
    </header>

    <ul class="list">
        <li class="row">
            <div class="row__wrapper">
                <div class="row_header">
                    <div class="row__id">#{{ image_digest.id }}</div>
                    <h2 class="row__title">{{ image_digest._title }}</h2>
                    <h3 class="row__hint">{{ referencing_content_units_count }}
                        ref. &mdash;
                        {% if image_digest._hint != '' %}
                            &mdash;
                            {{ image_digest._hint }}
                        {% endif %}
                    </h3>
                </div>

                {% if image_digest._image %}
                    <div class="row__thumbnail">
                        <figure class="thumbnail">
                            <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': image_digest.type, 'id': image_digest.id }) }}" class="checkered">
                        </figure>
                    </div>
                {% endif %}
            </div>

        </li>
    </ul>

    <form action="{{ path('admin-image-duplication-form-process', { 'language': language, 'type': image_digest.type }) }}" method="POST" enctype="multipart/form-data" id="image_duplication_form">
        <input type="hidden" name="type" value="{{ image_digest.type }}">
        <input type="hidden" name="id" value="{{ image_digest.id }}">

        <button type="submit" name="submit" class="btn btn--primary">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#copy"></use>
            </svg>
            Yes, duplicate</button>
        <a class="link js-history" href="{{ image_digest._list_page_url }}">No, cancel</a>

    </form>

{% endblock %}
