{% extends '@Admin/admin-page-layout.twig' %}

{% block language_switcher %}
    {{ render(controller(
    'Viktor\\Pack\\Admin\\I18n\\I18nController::languageSwitcher',
    {
        'urls': language_urls,
        'active_language': language
    }
)) }}
{% endblock %}

{% block main_content %}
    {% set invalid_fields = app.session.flashbag.get('invalid-field') %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="msg msg--success">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#check"></use>
            </svg>
            {{ message }}
            <span href="#" class="close close-msg">×</span>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="msg msg--error">
            <svg class="icon">
                <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#alert-octagon"></use>
            </svg>
            {{ message }}
            <span href="#" class="close close-msg">×</span>
        </div>
    {% endfor %}

    <header class="header">

        <a href="{{ image_digest._list_page_url }}" class="link link--large js-history">
            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#arrow-left-circle"/></svg>
        </a>

        {% if image_digest.id > 0 %}
            <h1 class="title title--header">Edit
                {{ image_digest.singular_human_type }}</h1>
            <div class="header__tools">
                {% if image_digest._can_be_created %}
                    <a href="{{ image_digest._creation_page_url }}" class="link">
                        <svg class="icon">
                            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#plus-circle"></use>
                        </svg>New
                        {{ image_digest.singular_human_type }}
                    </a>
                {% endif %}
                {% if image_digest._can_be_deleted %}
                    <a href="{{ image_digest._deletion_page_url }}" class="link link--primary">
                        <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</a>
                {% endif %}
            </div>
        {% else %}
            <h1 class="title title--header">Create
                {{ image_digest.singular_human_type }}</h1>
        {% endif %}

    </header>

    {% if additional_edition_form_header_view != '' %}
        {% include additional_edition_form_header_view %}
    {% endif %}

    <form action="{{ path('admin-image-edition-form-process', { 'language': language, 'type': image_digest.type }) }}" method="POST" enctype="multipart/form-data" class="split" id="image_edition_form">
        <input type="hidden" name="type" value="{{ image_digest.type }}">
        <input type="hidden" name="id" value="{{ image_digest.id }}">

        <div class="split__left">

            <div class="datagroup">

                <header class="datagroup__header datagroup__header--toggle js-toggle-btn active" data-target="#datagroup_uploaded_image">
                    <h3 class="datagroup__title">Uploaded Image</h3>
                    <div class="datagroup__toggle link link--large">
                        <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#chevron-down"/></svg>
                    </div>
                </header>

                <div class="datagroup__content js-toggle-target" id="datagroup_uploaded_image">

                    {{
                        render(controller(
                            'Viktor\\Pack\\Admin\\Image\\UploadedImageWidgetController::form',
                            {
                                'uploaded_image': uploaded_image,
                                'uploaded_image_widget': uploaded_image_widget,
                                'language': language
                            }
                        ))
                    }}

                </div>
            </div>

            {{
                render(controller(
                    'Viktor\\Pack\\Admin\\Dataset\\DatasetWidgetController::form',
                    {
                        'dataset': dataset,
                        'dataset_widget': dataset_widget,
                        'language': language
                    }
                ))
            }}

            {% if referencing_content_units_count > 20 %}
                <div class="datagroup">
                    <div class="datagroup">
                        <p>
                            Used by
                            {{ referencing_content_units_count }}
                            content units.
                        </p>
                        <p>
                            <a href="{{ path('admin-content-unit-references-index-usage', {'language': language, 'type': image_digest.type, 'id': image_digest.id, 'reset': '1' }) }}">
                                See all
                            </a>
                        </p>
                    </div>
                </div>
            {% elseif referencing_content_units_count > 0 %}
                <div class="datagroup">

                    <header class="datagroup__header datagroup__header--toggle">
                        <h3 class="datagroup__title">Usage [{{ referencing_content_units_count }}]</h3>
                        <button class="datagroup__toggle link link--large js-toggle-btn" data-target="#datagroup_refs">
                            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#chevron-down"/></svg>
                        </button>
                    </header>

                    <div class="datagroup__content js-toggle-target" id="datagroup_refs" style="display:none">
                        <ul class="list">
                            {% for c in referencing_content_units %}
                                <li class="row">
                                    <div class="row__wrapper">
                                        {{ render(controller(
                                            'Viktor\\Pack\\Admin\\Admin\\AdminElementsController::contentUnitCard',
                                            {
                                                'language': language,
                                                'content_unit': c
                                            }
                                        )) }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <hr>
                        <p>
                            <a href="{{ path('admin-content-unit-references-index-usage', {'language': language, 'type': image_digest.type, 'id': image_digest.id, 'reset': '1' }) }}">
                                See all
                            </a>
                        </p>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="split__right">

            <div class="sticky-wrapper">

                {{ render(controller(
                    'Viktor\\Pack\\Admin\\I18n\\I18nController::languageToggle',
                    {
                        'active_language': language
                    }
                )) }}

                {% if image_digest.id > 0 %}
                    <div class="block block--preview">
                        <div class="row__wrapper">
                            <div class="row__header">
                                <div class="row__id">#{{ image_digest.id }}</div>
                                <h2 class="row__title">{{ image_digest._title }}</h2>
                                <h3 class="row__hint">{{ referencing_content_units_count }}
                                    ref. &mdash;
                                    {{ image_digest.width }}
                                    px &times;
                                    {{ image_digest.height }}
                                    px
                                    {% if image_digest._hint != '' %}
                                        &mdash;
                                        {{ image_digest._hint }}
                                    {% endif %}
                                </h3>
                                {% if image_digest._can_be_viewed and image_digest._view_page_url != '' %}
                                    <a href="{{ image_digest._view_page_url }}" target="_blank" class="link">
                                        <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#eye"/></svg>Preview [{{ language }}]</a>
                                    <h4 class="row__preview-url">{{ image_digest._view_page_url }}</h4>
                                {% endif %}
                            </div>
                            {% if image_digest._image %}
                                <div class="row__thumbnail">
                                    <figure class="thumbnail">
                                        <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': image_digest.type, 'id': image_digest.id }) }}" class="checkered">
                                    </figure>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

                <div class="form__actions">
                    {% if image_digest._can_be_edited %}
                        <button type="submit" name="submit" value="Save" class="btn btn--primary btn--large">
                            <svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#save"/></svg> Save
                        </button>
                    {% endif %}
                </div>

                {% if image_digest.id > 0 %}
                    <div class="form__infos">
                        <dl>
                            <dt>Creation</dt>
                            <dd>
                                <time>{{ image_digest.creation_datetime|date('d.m.Y H:i:s') }}</time>
                                <span>by
                                    <strong>{{ creation_user._title }}</strong></span></dd>
                        </dl>
                        <dl>
                            <dt>Last modification</dt>
                            <dd>
                                <time>{{ image_digest.modification_datetime|date('d.m.Y H:i:s') }}</time>
                                <span>by
                                    <strong>{{ modification_user._title }}</strong>
                                </span>
                            </dd>
                        </dl>
                    </div>
                {% endif %}
                {% if additional_edition_form_aside_view != '' %}
                    {% include additional_edition_form_aside_view %}
                {% endif %}
            </div>
        </div>
    </form>
    {% if additional_edition_form_footer_view != '' %}
        {% include additional_edition_form_footer_view %}
    {% endif %}
</div>

{% endblock %}
