<div class="row__wrapper">

    <input type="checkbox" name="selected_content_units[]" id="{{ image_digest.type }}_{{ image_digest.id }}" value="{{ image_digest.type }}:{{ image_digest.id }}" class="row__select row__select--one">
    <label for="{{ image_digest.type }}_{{ image_digest.id }}" class="row__select__checkbox"></label>

    <div class="row__header">
        {% for badge_item in badge %}
            {% set badge_luminosity = (max(badge_item.red, badge_item.green, badge_item.blue) + min(badge_item.red, badge_item.green, badge_item.blue)) / 512.0 %}
            <div class="row__badge {% if badge_luminosity < 0.6 %}row__badge--dark{% endif %}" style="background-color: rgb({{ badge_item.red }}, {{ badge_item.green }}, {{ badge_item.blue }});">
                {% if badge_item.text is not empty %}<span>{{ badge_item.text }}</span>{% endif %}
            </div>
        {% endfor %}
        <div class="row__id">
            #{{ image_digest.id }} &ndash; {{ image_digest.width }}px &times; {{ image_digest.height }}px
        </div>
        <h3 class="row__title">
            {% if image_digest._can_be_viewed %}
                <a href="{{ image_digest._edition_page_url }}">{{ image_digest._title }}</a>
            {% else %}
                {{ image_digest._title }}
            {% endif %}
        </h3>
        <h4 class="row__hint">
            {{ referencing_content_units_count }} ref.{% if image_digest._hint is not empty %} | {{ image_digest._hint }}{% endif %}
        </h4>
    </div>

    {% if image_digest._image %}
        <div class="row__thumbnail">
            {% if image_digest._can_be_viewed %}
                <a href="{{ image_digest._edition_page_url }}">
            {% endif %}
                <figure class="thumbnail">
                    <img src="{{ path('admin-content-unit-image-small', { 'language': language, 'type': image_digest.type, 'id': image_digest.id }) }}" class="checkered">
                </figure>
            {% if image_digest._can_be_viewed %}
                </a>
            {% endif %}
        </div>
    {% endif %}

    <div class="row__tools">
        <button class="row__more-btn link link--large js-toggle-btn" data-target="#row_more_{{ image_digest.id }}"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#chevron-down"/></svg></button>
    </div>

</div>

<div class="row__more">
    <div class="row__inner js-toggle-target" id="row_more_{{ image_digest.id }}">
        <figure>
            <img srcset="{{ path('admin-content-unit-image-medium2x', { 'language': language, 'type': image_digest.type, 'id': image_digest.id }) }} 2x" src="{{ path('admin-content-unit-image-medium', { 'language': language, 'type': image_digest.type, 'id': image_digest.id }) }}" class="checkered">
        </figure>
        {% if image_digest._can_be_viewed %}
            <a href="{{ image_digest._edition_page_url }}" class="btn btn--primary btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#edit"/></svg>Edit</a>
        {% endif %}
        {% if image_digest._can_be_viewed  %}
            <a href="{% if image_digest._view_page_url != '' %}{{ image_digest._view_page_url }}{% else %}{{ path('admin-uploaded-image-large', {language: language, type: image_digest.type, id: image_digest.id, disposition: 'inline'}) }}{% endif %}" target="_blank" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#eye"/></svg>View</a>
        {% endif %}
        {% if image_digest._can_be_viewed and image_digest._can_be_created %}
            <a href="{{ image_digest._duplication_page_url }}" class="btn btn--resp"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#copy"/></svg>Duplicate</a>
        {% endif %}
        {% if image_digest._can_be_deleted %}
            <a href="{{ image_digest._deletion_page_url }}" class="link"><svg class="icon"><use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#trash-2"/></svg>Delete</a>
        {% endif %}
    </div>
</div>
