{% if files is not empty %}
    <ul class="files">
        {% for file in files %}
            {{ render(controller(
                'App\\File\\FileController::item',
                {},
                {
                    'language': language,
                    'type': file.type,
                    'id': file.id
                }
            )) }}
        {% endfor %}
    </ul>
{% endif %}
