{% if images is not empty %}
    <ul class="items">
        {% for image in images %}
            <li class="item">
                {{ render(controller(
                    'App\\Image\\ImageController::item',
                    {},
                    {
                        'language': language,
                        'type': image.type,
                        'id': image.id,
                        'template': 'ratio',
                        'format': 'natural',
                        'show_figcaption': true,
                    }
                )) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
