{% if medias is not empty %}
    <ul class="items">
        {% for media in medias %}
            <li class="item">
                {{ render(controller(
                    'App\\Media\\MediaController::item',
                    {},
                    {
                        'language': language,
                        'type': media.type,
                        'id': media.id
                    }
                )) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
