{% if pagination.pages|length > 1 %}
        <nav class="pager">
            <h3 class="v-h">{{ t('Pagination') }}</h3>
            <ul class="pager__list">
                {% if pagination.previous.url != '' %}
                    <li class="pager__item">
                        <a href="{{ pagination.previous.url }}" class="pager__arrow">&lt;</a>
                    </li>
                {% endif %}
                {% for p in pagination.pages %}
                    {% if p.url == '' %}
                        <li class="pager__item">{{ p.label }}</li>
                    {% elseif p.active %}
                        <li class="pager__item">
                            <span class="pager__num pager__num--active">{{ p.label }}</span></li>
                    {% else %}
                        <li class="pager__item">
                            <a href="{{ p.url }}" class="pager__num pager__num--link">{{ p.label }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if pagination.next.url != '' %}
                    <li class="pager__item">
                        <a href="{{ pagination.next.url }}" class="pager__arrow">&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
{% endif %}
