{% if pagination.nb_items > pagination.possible_nbs_items_per_page.0.label %}
<nav class="pagination">
    <div class="pager-position">
        {{ pagination.first_item_position }}&ndash;{{ pagination.last_item_position }} / <strong>{{ pagination.nb_items }}</strong>
    </div>
    <div class="pager-amount">
        {% for p in pagination.possible_nbs_items_per_page %}
            {% if p.active %}<span>{% elseif p.url != '' %}<a href="{{ p.url }}">{% endif %}
                {{ p.label }}
            {% if p.active %}</span>{% elseif p.url != '' %}</a>{% endif %}
            {% if not loop.last %} • {% endif %}
        {% endfor %}
    </div>
    <ul class="pager-list">
        {% if pagination.previous.url != '' %}
            <li class="pager-arrow prev"><a href="{{ pagination.previous.url }}">&lt;</a></li>
        {% endif %}
        {% for page in pagination.pages %}
            <li>
            {% if page.active %}<span>{% elseif page.url != '' %}<a href="{{ page.url }}">{% endif %}
                {{ page.label }}
            {% if page.active %}</span>{% elseif page.url != '' %}</a>{% endif %}
            </li>
        {% endfor %}
        {% if pagination.next.url != '' %}
            <li class="pager-arrow next"><a href="{{ pagination.next.url }}">&gt;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}