<div class="wrapper">
    {% if homepage.banners %}
        <ul class="items">
            {% for n, banner in homepage.banners %}
                {% if banner.type == 'banner' %}
                    {{ render(controller(
                        'App\\Banner\\BannerController::item',
                        {},
                        {
                            'language': language,
                            'id': banner.id
                        }
                    )) }}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
