{% extends 'page-layout.twig' %}

{% block main %}

{{ render(controller(
    'App\\Homepage\\HomepageController::viewMainBlock',
    {},
    {
        'language': language,
        'id': id
    }
)) }}

{% endblock %}
