{% if items|length  > 1 %}
    <div class="block block--color-ui">
        <ul class="i18n-switch js-i18n-switch">
            {% for code, content in items %}
                <li><button class="{% if content.active %}active{% endif %}" data-language="{{ code }}">{{ code }}</button></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
