{% if items|length > 1 %}
    <div class="navbar__langs">
        <svg class="icon">
            <use xlink:href="{{ global.request.basepath }}/assets/Admin/img/feather-sprite.svg#flag"/>
        </svg>
        <ul>
        {% for code, content in items %}
            {% if content.url == '' or content.active %}
                <li>
                    <span>{{ code }}</span>
                </li>
            {% else %}
                <li>
                    <a href="{{ content.url }}">
                        {{ code }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        </ul>
    </div>
{% endif %}
